<div class="block">
  <div class="content">
    <h2 class="title">Statistiche</h2>
    <div class="inner">
      <p>Totale utenti: <%= @total_users %></p>
      <p>Totale utenti che hanno registrato prodotti: <%= @users_who_registered %></p>
      <p>Totale prodotti registrati: <%= @total_product_registrations %></p>
    </div>
    <h2 class="title">Ultime 20 risposte</h2>
    <div class="inner">
      <ul id="last_20_answers" style="margin-left:20px">
        <% @last_20_answers.each do |answer| %>
          <li>
          <p><%= simple_format answer.text %></p>
          <p>Postata da: <%= link_to(answer.fisher.privacy_name, admin_fisher_path(answer.fisher)) %></p>
          <p>Il: <%=l answer.created_at.in_time_zone, :format => :long %></p>
            <div class="actions">
              <%= link_to( 'Visualizza', question_path(:category_url => answer.question.question_subcategory.question_category.url, :subcategory_url => answer.question.question_subcategory.url , :id => answer.question), :target => '_blank') %> |
              <%= link_to 'Modera', edit_admin_question_category_question_subcategory_question_answer_path(answer.question.question_subcategory.question_category, answer.question.question_subcategory, answer.question.id, answer.id) %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
