<div class="row contents">
<div class="col span_3 answerside">
  <% if answer.fisher.present? and answer.fisher.email == @question.question_subcategory.email %>
  <img src="<%= @question.question_subcategory.image.url(:big) %>">
  <% else %>
  <% if answer.fisher.present? %>
    <%= image_tag answer.fisher.gravatar_url(:default => 'identicon') %>
  <% else %>
    <%= image_tag 'https://secure.gravatar.com/avatar/default.png?d=identicon&r=PG&s=500' %>
  <% end %>
  <% end %>
  <div class="votes">
            <div class="mini-counts"><%= answer.likes.to_i %><br>Likes</div>

   
        </div>
        <%= button_to "Like!", like_question_answer_path(:id => @question, :answer_id => answer.id), :method => :post, :class => 'btn grey special' %>
  </div>

  <div class="col span_9">
    <% if answer.fisher.present? and answer.fisher.email == @question.question_subcategory.email %>
     <p style="margin-top:0px"><span class="posted">   Postata il <%=l answer.created_at, :format => :short %> da <a href="/pro-staff/<%= @question.question_subcategory.url %>"><%= @question.question_subcategory.name %></a></span></p>
    <% else %>
    <p style="margin-top:0px"><span class="posted">   Postata il <%=l answer.created_at, :format => :short %> da <%= answer.fisher_privacy_name %></span></p>
    <% end %>
    <p><%=auto_link(simple_format(answer.text), :html => { :target => '_blank' } ) %></p>
  </div>
</div>

