<div id="questions" class="container">
      <div class="row header">
    <div class="col span_12">
      <h1>Scegli un esperto</h1>
    </div>
    </div>

<% @prostaff.each_slice(4) do |slice| %>

    <div class="row contents">

		<% slice.each do |subcategory| %>
			<div class="col span_3 exp">
				<a href="/community/ask-shimano/<%= subcategory.question_category.url %>/<%= subcategory.url %>/new-question">
					<img src="<%= subcategory.image.url(:square) %>" alt=""></a>
 		<h2><%= subcategory.name %></h2>
 		<span class="profile"><%= subcategory.profile %></span>
 		<p><%= raw(truncate(subcategory.bio, :length => 160, :separator => ' ', :omission => "...")) %></p>
 		<a href="/ask-shimano/<%= subcategory.question_category.url %>/<%= subcategory.url %>/new-question" class="btn grey">Fai una domanda</a> 
		</div>
		<% end %>
		  </div>
 <% end %>
</div>
</div>
</div>