<% if params[:subcategory_url].present? %>
<% active_subcategory = params[:subcategory_url].gsub("-"," ") %>
<% @page_title = "Domande, consigli e trucchi su "+ active_subcategory + " Shimano" %>
<% end %>

<div id="questions" class="container">
      <div class="row header">
    <div class="col span_12">

        

   <% if params[:subcategory_url].present? %>
    <h1><strong><%= @category.name %></strong> - <%= active_subcategory %></h1>
    <% else %>
    <h1><%= @category.name %></h1>
    <% end %>

      <p><%=simple_format @category.description %></p>
  <p> <%= link_to 'Fai la tua domanda', new_expert_path(:category_url => @category.url), :class => 'btn grey' %>&nbsp;<%= link_to 'Torna agli argomenti', '/community/ask-shimano', :class => 'btn grey' %></p>
  </div>
  </div>
  

  
   <div class="row contents">
    <div class="col span_9">

 
  
  <% if @questions.empty? %>
    <h3>Non ci sono domande !</h3>
  <% else %>
    <% @questions.each do |question| %>
      <div class="row">
       <div class="col span_12">
        <div class="votes">
          <div class="mini-counts"><%= question.answers.published.count %><br>Risposte</div>
        </div>
        <h2>
          <%= link_to question.title, question_path(:category_url => @category.url, :subcategory_url => question.question_subcategory.url , :id => question) %>
        </h2>
        <p><%= auto_link(simple_format(question.question), :html => { :target => '_blank' } ) %></p>
        <p class="questionlist"><span class="posted">Postata il <%=l question.created_at, :format => :short %> da <%= question.fisher_privacy_name %></span></p> 

      </div>
    </div>
    <% end %>
  <% end %>

    <%= will_paginate @questions, :next_label => 'Succ.', :previous_label => 'Prec.' %>
    </div>
    <div class="col span_3 sidebar">
                <form class="form-search" method="get">
                  <% if params.has_key?(:q) %>
                   <input type="text" class="search-query" placeholder="<%= params[:q] %>" name="q">
                  <% else %>
                   <input type="text" class="search-query" placeholder="Cerca" name="q">
                  <% end %>
             
            </form>
            <h2>Filtra</h2>
            <ul class="nav nav-list">
          <% @subcategories.each do |subcategory| %>
            <li><%= link_to subcategory.name, questions_path(:category_url => @category.url, :id => @question, :subcategory_url => subcategory.url), :class => '' %></li>

          <% end %>
        </ul>
    </div>
  </div>
   </div>
  
 

