<div id="questions" class="container">
      <div class="row header">
    <div class="col span_12">

<h1>Chiedi ad un esperto Shimano</h1>
      
    </div>
  </div>
<div class="row contents">
	<div class="col span_6 exp">
				<img src="<%= @question.question_subcategory.image.url(:big) %>" class="fullexpert">
	</div>
	<div class="col span_6">
	<%= simple_form_for @question, :url => questions_path do |f| %>
	<h2>La tua domanda per <%= @question.question_subcategory.name %></h2>
	<br>
    <%= f.input :title, :label => 'Titolo', input_html: { class: 'span12' }%>
    <%= f.input :question_subcategory_id, :as => :hidden%>
    <%= f.input :question, :label => 'La tua domanda', input_html: { class: 'span12', rows: '6' } %>
    <%= f.input :username, :wrapper_html => { :class => 'question_username'} %>
    <%= f.submit 'Invia la tua domanda', :class => 'btn grey' %>
  <% end %>
</div>
</div>
</div>
