<div class="questions">
  <p><b>Risultati della ricecrca per: <%= params[:q] %></p>
  <% if @questions.empty? %>
    <h3>Non ci sono domande !</h3>
  <% else %>
    <h3>Le vostre domande</h3>
    <% @questions.each do |question| %>
      <div class="row" style="padding-bottom:5px;margin-left:0px;">
        <div class="votes">
          <div class="mini-counts"><%= question.answers.published.count %></div>
          <div>Risposte</div>
        </div>
        <h4 style="margin:0">
          <%= link_to question.title, question_path(:category_url => question.question_subcategory.question_category.url, :subcategory_url => question.question_subcategory.url , :id => question) %>
        </h4>
        <p class="questionlist"><span class="posted">Postata il <%=l question.created_at, :format => :short %> da <%= question.fisher_privacy_name %></span></p> 
      </div>
    <% end %>
  <% end %>
  <%= will_paginate @questions, :renderer => BootstrapPagination::Rails, :next_label => 'Succ.', :previous_label => 'Prec.' %>
</div>

