<div id="questions" class="container">
      <div class="row header">
    <div class="col span_12">
      <h1><%= @question.title %></h1>
    </div>
    </div>
    <div class="row contents">
      <div class="col span_2">
         <div class="avatar">
      <% if @question.fisher.present? %>
        <%= image_tag @question.fisher.gravatar_url(:default => 'identicon', :size => '500')  %>
      <% else %>
        <%= image_tag 'https://secure.gravatar.com/avatar/default.png?d=identicon&r=PG&s=180' %>
      <% end %>
 
        </div>
      </div>
      <div class="col span_10">
<p><%= auto_link(simple_format(@question.question), :html => { :target => '_blank' } ) %></p>
    <p><span class="posted">Postata il <%=l @question.created_at, :format => :short %> da <%= @question.fisher_privacy_name %></span></p>
    <p>  <%= link_to 'Torna a tutte le domande', questions_path, :class => 'btn btn-info btn-mini' %>
    </p>
    <!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style ">
<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
<a class="addthis_button_tweet"></a>
<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
<a class="addthis_counter addthis_pill_style"></a>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4e3173ec6078c1ec"></script>
<!-- AddThis Button END -->


      </div>

    </div>

   
<% unless @answers.empty? %>
  <div class="row contents">
    <div class="col span_12">

  <h2>Tutte le risposte</h2>
</div>
</div>
  <div class="row contents">
  <% @answers.each do |answer| %>
    <%= render :partial => 'answer', :locals => { :answer => answer } %>
  <% end %>
  </div>
  <%= will_paginate @answers %>
<% end %>

<% if fisher_signed_in? %>
  <h2>Rispondi anche tu! <span>(Vuoi un avatar? crealo <a target="_blank" href="http://gravatar.com">QUI</a>!)</span></h2>
  <div class="row contents">
    <div class="col span_12">
  <%= simple_form_for [@question, @answer], :url => question_answer_path(:id => @question) do |f| %>
    <%= f.input :text, :label => false, input_html: { class: 'span12', rows: '6' } %>
    <%= f.input :username, :wrapper_html => { :class => 'answer_username' } %>
    <%= f.submit 'Rispondi', :class => 'btn grey' %>
    <% end %>
    </div>
  </div>
  <% else %>
  <div class="row contents">
    <div class="col span_12">
        <h2>Rispondi anche tu!</h2>
  <p><a href="/garanzia/sign_in">Effettua il login</a> oppure <a href="/garanzia/registrati">registrati</a> per rispondere a questa domanda.</p>
    </div> 
  </div>

<% end %>
</div>
</div>