<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to 'Lista', admin_galleries_path  %></li>
      <li><%= link_to 'Nuova', new_admin_gallery_path %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title">Lista Gallerie</h2>
    <%= search_form_for @q, :url => admin_galleries_path do |f| %>
      <%= f.label :title_or_description_cont %>
      <%= f.text_field :title_or_description_cont %>
      <%= f.submit %>
    <% end %>
    <% unless @galleries.empty? %>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first">ID</th>
          <th>Titolo</th>
          <th>Descrizione</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @galleries.each do |gallery| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td><%= gallery.id %></td>
          <td><%= link_to gallery.title, edit_admin_gallery_path(gallery) %></td>
          <td><%=truncate gallery.description %></td>
          <td class="last">
            <%= link_to "Visualizza", admin_gallery_path(gallery) %> |
            <%= link_to "Modifica", edit_admin_gallery_path(gallery) %> |
            <%= link_to "Elimina", admin_gallery_path(gallery), :method => :delete, :confirm => "Sei sicuro?" %>
          </td>
        </tr>
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        <%= will_paginate @galleries %>
      </div>
    </div>
    <% else %>
    <p>Nessuna gallery da visualizzare</p>
    <% end %>
  </div>
</div>
