<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "Lista", admin_galleries_path  %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title">Nuova Galleria</h2>
    <div class="inner">
      <%= simple_form_for [:admin, @gallery] do |f| -%>
        <%= render :partial => "form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>
