<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "Lista", admin_galleries_path  %></li>
      <li><%= link_to 'Nuova', new_admin_gallery_path %></li>
      <li><%= link_to 'Modifica', edit_admin_gallery_path(@gallery) %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title">Galleria <%= @gallery.id %></h2>
    <div class="inner">
      <p><b>Titolo: </b><%= @gallery.title %></p>
      <p><b>Descrizione: </b><%= @gallery.description %></p>
      <% unless @gallery.photos.empty? %>
        <h3>Foto della galleria</h3>
        <table class="table">
          <tr>
            <th>Utente</th>
            <th>Titolo</th>
            <th>Descrizione</th>
            <th>Stato</th>
            <th></th>
          </tr>
          <% @gallery.photos.order('published DESC, created_at DESC').each do |photo| %>
            <tr>
              <td><%= link_to photo.fisher.complete_name, admin_fisher_path(photo.fisher) %></td>
              <td><%= photo.title %></td>
              <td><%= photo.description %></td>
              <td><%= photo.published? ? 'Approvata' : 'Non approvata' %></td>
              <td>
                <%= link_to 'Moderazione', edit_admin_gallery_photo_path(@gallery, photo) %>
                <% unless photo.published? %>
                  | <%= link_to 'Approva', publish_admin_gallery_photo_path(@gallery, photo), :method => :post, :confirm => 'Sei sicuro di voler approvare questa foto?' %> |
                  <%= link_to 'Rifiuta', admin_gallery_photo_path(@gallery, photo), :method => :delete, :confirm => "Sei sicuro di voler rifiutare questa foto? L'operazione non è reversibile." %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      <% else %>
        <h3>Nessuna foto caricata per questa galleria</h3>
      <% end %>
    </div>
  </div>
</div>

