
<% content_for :javascripts do %>
  <script>
    $(document).ready(function(){
      store = $('#product_registration_store_id')
      store_autocomplete_field = store.clone()
      store_autocomplete_field.attr('id', 'product_registration_store_name')
      store_autocomplete_field.attr('name', 'product_registration_store_name')
      store.hide().after(store_autocomplete_field)
      store_autocomplete_field.blur(function(){
        $(this).trigger('change')
      });
      store_autocomplete_field.autocomplete({
        autoFocus: true,
        source: '/shimano-shop/suggest.json',
        focus: function(event, ui){
          return false;
        },
        change: function(event, ui){
          if(ui.item == null){
            store.val('');
            store_autocomplete_field.val('');
            store_autocomplete_field.focus();
          }
        },
        select: function(event, ui){
          store.val(ui.item.value)
          store_autocomplete_field.val(ui.item.label)
          return false;
        },
      }).val("<%= params[:product_registration_store_name] %>");
      product = $('#product_registration_product_id')
      product_autocomplete_field = product.clone()
      product_autocomplete_field.attr('id', 'product_registration_product_name')
      product_autocomplete_field.attr('name', 'product_registration_product_name')
      product.hide().after(product_autocomplete_field)
      product_autocomplete_field.blur(function(){
        $(this).trigger('change')
      });
      product_autocomplete_field.autocomplete({
        autoFocus: true,
        source: function(request, response){
          term = request.term
          type = $('#product_product_type').val();
          $.getJSON('/products/suggest.json?term='+term+'&product_type='+type, function(data){
            response(data);
          });
        },
        focus: function(event, ui){
          return false;
        },
        change: function(event, ui){
          if(ui.item == null){
            product.val('');
            product_autocomplete_field.val('');
            product_autocomplete_field.focus();
          }
        },
        select: function(event, ui){
          product.val(ui.item.value)
          product_autocomplete_field.val(ui.item.label)
          return false;
        }
      }).val("<%= params[:product_registration_product_name] %>");
    });
 </script>
<% end %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag '/ui-lightness/autocomplete.css' %>
<% end %>

<%= f.hidden_field :fisher_id %>
<%= f.input :purchase_date, :as => :string %>
<p>La data d'acquisto deve essere verificabile presentando una copia dello scontrino fiscale o documento equipollente. Le richieste di assistenza presentate SENZA scontrino fiscale o documento equipollente non verranno considerate coperte dal diritto di garanzia</p>
<p>Se non trovi il tuo negozio o il tuo prodotto scrivi a <a href="mailto:garanzia@shimanofishnetwork.it">garanzia@shimanofishnetwork.it  </a>  </p>
<div class="row contents">
  <div class="col span_6"><h3>Shimano shop</h3>
<p>Verranno accettati solo prodotti acquistati presso gli Shimano shop. </p>
<%= f.input :store_id, :label => false, :as => :string , :input_html => { :class => 'larger' } , :placeholder => 'Digita li nome del negozio'%>
</div>
 <div class="col span_6">
<h3>Prodotto</h3>

<%= select_tag  'product[product_type]', 
                options_for_select( ['Scegli una tipologia'] + @product_types, 
                                    params[:product][:product_type]) %>

<%= f.input :product_id, :label => false, :as => :string, :placeholder => 'Digita il nome del tuo prodotto' %>
</div>
</div>


<div class="privacy" style="margin-top:20px;">
<%= render :partial => 'shared/garanzia' %>

</div>

<div class="privacy" style="margin-top:20px;margin-bottom:20px;">
<%= render :partial => 'shared/privacy' %>
</div>
<%= f.input :agreement, :as => :boolean %>
