<table id="products" class="garanzia">
  <tr>
   <th>ID</th>
   <th></th>
    <th>Codice prodotto</th>
    <th>Descrizione prodotto</th>
    <th>Acquistato il</th>
    <th>In garanzia fino al</th>
    <th></th>
  </tr>
  <% @product_registrations.each do |product_registration| %>
  <tr>
  <td>
     <%= product_registration.id %>
  </td>
  <td>
    <div class="preview_images">
    <% if product_registration.receipt_photo.present? %>
    <img src="<%= product_registration.receipt_photo.url(:thumb) %>" alt="">
    <% end %>
    <% if product_registration.product_photo.present? %>
    <img src="<%= product_registration.product_photo.url(:thumb) %>" alt="">
    <% end %>
    </div>
  </td>
    <td><%= product_registration.product.code%></td>
    <td><%= product_registration.product.description%></td>
    <td><%= l(product_registration.purchase_date, :format => :short) %></td>
    <td><%= l(product_registration.warranty_expiration_date, :format => :short) %></td>
    <td><%= link_to 'Stampa', product_registration_path(product_registration), :target => '_blank', :class => 'btn grey' %></td>
  </tr>
  <% end %>
</table>