<h3>Garanzia Shimano</h3>
<p>Verranno ritenute valide le richieste di assistenza accompagnate da copia di scontrino fiscale o documento equipollente per verificare la data d'acquisto</p>
<h3>Intestatario</h3>
<p><%= @product_registration.fisher.complete_name %></p>
<h3>Contatto email</h3>
  <p><%= @product_registration.fisher.email %></p>
</ul>

<h3>Prodotto</h3>
<p><%= @product_registration.product.to_s %></p>

<h3>Dettagli </h3>
<p>Comprato presso : <%= @product_registration.store.name %>,<%= @product_registration.store.complete_address %></p>
<p>Data acquisto: <%= l @product_registration.purchase_date, :format => :short %></p>
<p>Garanzia valida fino a: <%= l @product_registration.warranty_expiration_date, :format => :short %></p>