<div id="garanzia" class="container">
  
  <div class="row header">
    <div class="col span_12">
      <h1>Conferma i dati inseriti</h1>
       <p>A registrazione avvenuta ricevari una mail di riepilogo con i dati inseriti</p>
   <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
    </div>
      
  </div>

  <div class="row contents">
  <div class="col span_12">

<%= render :partial => 'summary', :locals => { :product_registration => @product_registration }%>
<%= simple_form_for(@product_registration) do |f| %>
  <div style="display:none"><%= render :partial => 'form', :locals => {:f => f} %></div>
  <%= f.submit 'Registra il prodotto', :onclick => 'return confirm("Sei davvero sicuro?")', :class => 'btn blue'%>&nbsp;<%= link_to 'Modifica i dati inseriti', 'javascript:history.back()', :class => 'btn grey'%>
  
<% end %>
</div>
</div>
</div>