
<style>
    textarea {
        width: 100%;
        height: 60px;
    }
</style>
<div id="garanzia" class="container">
    <div class="row header">
        <div class="col span_12">
            <% if @product_registration.fisher.campaign_2 %>
            <img src="/camp_2.jpg" alt="" style="width:100%;">
            <% end %>
           
        </div>
    </div>
    <div class="row contents">
        <div class="col span_12 blue">
       <h2><%= @product_registration.product.description%></h2>
       <p>Completa la registrazione del tuo prodotto e ricevi gratuitamente una bobina di Tapered Surf Line!</p>
     
         </div>
    
    </div>
    <%= simple_form_for @product_registration  do |f| %>
    <div class="row contents">
    	<div class="col span_4">
    		
       <h3>CARICA LA FOTO DELLO SCONTRINO</h3>
		<p>Fotografa lo scontrino con i dati ben visibili</p>
		<%= f.input :receipt_photo, label: false %>
      
    	</div>
    	<div class="col span_4">
    		 <h3>CARICA LA FOTO DELLO PRODOTTO</h3>
			<p>Fotografa il prodotto registrato</p>
    		 <%= f.input :product_photo, label: false %>
    	</div>
        <div class="col span_4">
             <h3>Indirizzo di consegna</h3>
            <p>Indirizzo dove spedire la bobina di Kairiki</p>
             <%= f.input :address, label: false, as: :text %>
        </div>
    </div>
    <div class="row contents">
        <div class="col span_12">
            <h2>Note</h2>
            <p>
            Per questa iniziativa verranno accettati solo prodotti acquistati presso gli Shimano X-Store<br>
Se non trovi il tuo negozio o il tuo prodotto scrivi a info@shimanofishnetwork.it<br>
La bobina omaggio verrà spedita entro 90gg dalla registrazione del prodotto su questa pagina, solamente agli utenti che avranno compilato tutti gli appositi campi e avranno caricato la fotografia leggibile dello scontrino e del prodotto acquistato<br>
Data inizio "Shimano Surfcasting Campaign" 8 Giugno 2017 <br>
Scadenza 5 Luglio 2017, qualsiasi acquisto dopo tale data sarà da considerare non valido per l'iniziativa.

<br>

        </p>
        </div>
    </div>
    <div class="row contents">
    	<div class="col span_12">
    		<%= f.submit "INVIA", class: 'btn blue' %>
    	</div>
    </div>
    <% end %>
    
</div>

