
<% content_for :javascripts do %>
  <%= javascript_include_tag '/javascripts/datepicker/datepicker.js', '/javascripts/datepicker/languages/it.js' %>
  <script>
  $(document).ready(function(){
    $('#product_registration_purchase_date').hide();
    $('#product_registration_purchase_date').after('<div id="datepicker"></div>');
    $('#datepicker').datepicker({ 
      maxDate: 0,
      minDate: '-1m',
      dateFormat: 'yy-mm-dd', 
      defaultDate: "<%= @product_registration.purchase_date %>", 
      onSelect : function(dateText,inst){
      $('#product_registration_purchase_date').val(dateText)
    }});
  });
  </script>
<% end %>
<%= content_for :stylesheets do %>
  <%= stylesheet_link_tag '/ui-lightness/jquery-ui-1.8.16.custom.css' %>
<% end %>
<div id="garanzia" class="container">
  
  <div class="row header">
    <div class="col span_12">
      <h1>Garanzia terzo anno  <strong>Shimano</strong></h1>
       <p>Registra in pochi passaggi i tuoi prodotti per estenderne la garanzia !</p>
       <p><strong>Domande ?</strong> <a href="/faq">Leggi le domande frequenti sulla garanzia terzo anno Shimano</a></p>
   <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
    </div>
      
  </div>

  <div class="row contents">
  <div class="col span_12">
<%= simple_form_for(@product_registration, :url => confirm_product_registrations_path) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= f.submit 'Registra il prodotto', :class => 'btn grey' %>
<% end %>
</div>
</div>
</div>