<%= semantic_form_for [:administration, @catalogue_item] do |f| %>
  <%= f.inputs do %>
    <%= f.input :product_family %>
    <%= f.input :name %>
    <%= f.input :url %>
    <%= f.input :hide %>
    <%= f.input :description %>
    <%= f.input :sizes %>
    <%= f.input :tag_tokens, :input_html => { :data => { :load =>  @catalogue_item.tags } } %>
    <h2>Immagini</h2>
    <%= f.semantic_fields_for :product_images do |b| %>
      <% if b.object.image.present? %>
        <%= image_tag b.object.image.url(:thumb) %>
        <%= b.input :_destroy, :as => :boolean %>
      <% else %>
        <%= b.input :image, :as => :file %>
      <% end %>
    <% end %>
  <% end %>
  <h2>Allegati</h2>
  <%= f.semantic_fields_for :product_attachments do |b| %>
    <%= render :partial => 'administration/catalogue_items/product_attachment_attributes', :locals => { :f => f, :b => b } %>
  <% end %>
  <%= link_to_add_fields "Aggiungi allegato", f, :product_attachments %>
  <%= f.buttons do %>
    <%= f.action :submit %>
    <li class="cancel"><%= link_to "Cancel", administration_catalogue_items_path %></li>
  <% end %>
<% end %>

