<%= f.inputs do %> 
  <% if b.object.url.present? %>
        <%= b.object.url %>
        <%= b.input :_destroy, :as => :boolean %>
      <% else %>
      
  <%= b.input :label %>
  <%= b.input :url %>
  <%= b.input :_destroy, :as => :hidden %>
  <li><%= link_to 'Rimuovi attributo', '#', :class => 'remove_item' %></li>
  <% end %>
<% end %>

