<%= semantic_form_for [:administration, @fisher] do |f| %>
  <%= f.inputs do %>
    <%= render :partial => 'fishing_club/shared/fisher_fields', :locals => { :f => f}%>
    <%= render :partial => 'fishing_club/shared/fisher_profile_fields', :locals => { :f => f}%> 
  <% end %>
  <%= f.inputs "Campagne" do %>

	  <%= f.input :campaign_1 %>
	   <%= f.input :campaign_2 %>
	    <%= f.input :campaign_3 %>
	     <%= f.input :campaign_4 %>
  <% end %>
  <%= f.actions do %>
    <%= f.action :submit %>
    <li class="cancel"><%= link_to "Cancel", administration_fishers_path %></li>
  <% end %>
<% end %>
