<%= f.input :started_at, :as => :string %>
<%= f.input :finished_at, :as => :string %>
<%= f.input :notes %>
<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "Salva") %> <%= "Salva" %>
  </button>
  <span class="text_button_padding">o</span>
	<%= link_to "Annulla", admin_fisher_product_registration_assistence_requests_path(@fisher, @product_registration), :class => "text_button_padding link_button" %>
</div>
