<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to 'Lista', admin_fisher_product_registration_assistence_requests_path(@fisher, @product_registration)  %></li>
      <li ><%= link_to 'Nuova', new_admin_fisher_product_registration_assistence_request_path(@fisher, @product_registration)  %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title">Lista Richieste di assistenza di <%= @fisher.complete_name %> per il prodotto <%= @product_registration.product.description %></h2>
    <div class="inner">
      <% unless @assistence_requests.empty? %>
      <table class="table">
        <tr>
          <th class="first">ID</th>
          <th>Prodotto</th>
          <th>Utente</th>
          <th>Data inizio</th>
          <th>Data fine</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @assistence_requests.each do |assistence_request| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td><%= assistence_request.id %></td>
          <td><%= @fisher.complete_name %></td>
          <td><%= assistence_request.product_registration.product.description %></td>
          <td><%= l assistence_request.started_at, :format => :short %></td>
          <td><%= assistence_request.finished_at.present? ? l(assistence_request.finished_at, :format => :short) : 'Attualmente in corso' %></td>
          <td class="last">
            <%= link_to "modifica", edit_admin_fisher_product_registration_assistence_request_path(@fisher, @product_registration, assistence_request) %> |
            <%= link_to "Elimina", admin_fisher_product_registration_assistence_request_path(@fisher, @product_registration, assistence_request), :method => :delete, :confirm => "Sei sicuro?" %>
          </td>
        </tr>
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        <%= will_paginate @assistence_requests %>
      </div>
    </div>
    <% else %>
      <p>Nessuna richiesta di assistenza.<p>
      <p><%= link_to 'Creane una nuova', new_admin_fisher_product_registration_assistence_request_path(@fisher, @product_registration)  %></p>
    <% end %>
  </div>
</div>