<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "Lista", admin_fisher_product_registration_assistence_requests_path(@fisher, @product_registration)  %></li>
      <li class="active"><%= link_to "Nuova", new_admin_fisher_product_registration_assistence_request_path(@fisher, @product_registration) %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title">Nuova richiesta di assistenza da <%= @fisher.complete_name %> per il prodotto <%= @product_registration.product.description %></h2>
    <div class="inner">
      <%= simple_form_for([:admin, @fisher, @product_registration, @assistence_request]) do |f| -%>
        <%= render :partial => "form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>

