<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to 'Lista', admin_fisher_product_registrations_path(@fisher)  %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title">Lista Prodotti registrati da <%= @fisher.complete_name %></h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first">ID</th>
          <th>Prodotto</th>
          <th>Store</th>
          <th>Termine garanzia</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @product_registrations.each do |product_registration| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td><%= product_registration.id %></td>
          <td><%= product_registration.product.description %></td>
          <td><%= product_registration.store %></td>
          <td class="<%= product_registration.warranty_expired? ? 'expired' : 'active'%>"><%= l product_registration.warranty_expiration_date, :format => :short %></td>
          <td class="last">
            <%= link_to "Visualizza richieste di assistenza", admin_fisher_product_registration_assistence_requests_path(@fisher, product_registration) %> |
            <%= link_to "Elimina", admin_fisher_product_registration_path(@fisher, product_registration), :method => :delete, :confirm => "Sei sicuro?" %>
          </td>
        </tr>
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        <%= will_paginate @product_registrations %>
      </div>
    </div>
  </div>
</div>