<% if @products.present? %>
<div id="pfinder" class="container">
  
  <div class="row header">
    <div class="col span_12">
      <h1>I TUOI PRODOTTI IDEALI <strong>SHIMANO</strong></h1>
    <p>Scopri la combinazione di prodotti ideale per la tua tecnica di pesca, rispondendo a delle semplici domande. Con poche indicazioni potrai avere immediatamente i consigli del Team Shimano riguardo alla tua attrezzatura da pesca. Divertiti a scoprire quale canna da pesca e quale mulinello fa proprio al caso tuo grazie al nostro product finder. Questa sezione sarà in continua evoluzione, vieni a trovarci spesso e non perderti le nostre novità.</p>
    <a href="/attrezzatura-pesca/trova" class="btn">Ricomincia da capo</a>
    </div>
      
  </div>

  <div class="row contents">
  <div class="col span_12">
    <div class="row">
      <div class="col span_6">
        <h2 class="title">Mulinelli da Pesca Shimano</h2>
        <% @products.each do |p| %>
        <% if p.fishing_reel_name.present? %>
        <div class="prod">
        <h3><%= p.product_type %></h3>
        <h2><%= p.fishing_reel_name %></h2>
        <% if p.fishing_reel_image.length > 10 %>
        <img src="<%= p.fishing_reel_image %>" alt="">
        <% end %>
        <a href="<%= p.fishing_reel_link %>" class="btn blue" target="_blank">SCOPRI di più</a>
        </div>
        <% end %>
        <% end %>
      </div>
      <div class="col span_6">
        <h2 class="title">Canne da Pesca Shimano</h2>
        <% @products.each do |p| %>
        <% if p.fishing_rod_name.present? %>
        <div class="prod">
        <h3><%= p.product_type %></h3>
        <h2><%= p.fishing_rod_name %></h2>
        <img src="<%= p.fishing_rod_image %>" alt="">
        <a href="<%= p.fishing_rod_link %>" class="btn blue" target="_blank">SCOPRI di più</a>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
  
  </div>
</div>
</div>
</div>

<% else %>
<div id="pfinder" class="container">
  
  <div class="row header">
    <div class="col span_12">
      <h1>TROVA IL TUO PRODOTTO <strong>SHIMANO</strong></h1>
	 <p>Scopri la combinazione di prodotti ideale per la tua tecnica di pesca, rispondendo a delle semplici domande. Con poche indicazioni potrai avere immediatamente i consigli del Team Shimano riguardo alla tua attrezzatura da pesca. Divertiti a scoprire quale canna da pesca e quale mulinello fa proprio al caso tuo grazie al nostro product finder. Questa sezione sarà in continua evoluzione, vieni a trovarci spesso e non perderti le nostre novità.</p>
    </div>
      
  </div>

  <div class="row contents">
  <div class="col span_12">
  	<h2 class="title"><%= @question.title %></h2>
    <% @question.answers.each_slice(4) do |s| %>
    <div class="row">
      <% s.each do |a| %>
        <a href="/attrezzatura-pesca/trova/<%= params[:slug] + "/" if params[:slug].present? %><%= a.url %>" class="col span_3 anw">
          <img src="<%= a.image.url(:square) %>" alt="">
          <span><%= a.title %></span>
          </a>
      <% end %>
    </div>
    <% end %>
 
  </div>
</div>
</div>
</div>
<% end %>