<div id="pfinder" class="container">
  
  <div class="row header">
    <div class="col span_12">
      <h1>I TUOI PRODOTTI IDEALI <strong>SHIMANO</strong></h1>
		<p>Stiamo aggiornando questa sezione - torna presto per tante novità !</p>
    </div>
      
  </div>

  <div class="row contents">
  <div class="col span_12">
  	<div class="row">
  		<div class="col span_6">
  			<h2>Mulinelli da Pesca Shimano</h2>
  			<% @products.each do |p| %>
  			<% if p.fishing_reel_name.present? %>
  			<div class="prod">
  			<h3><%= p.product_type %></h3>
  			<h2><%= p.fishing_reel_name %></h2>
  			<% if p.fishing_reel_image.length > 10 %>
  			<img src="<%= p.fishing_reel_image %>" alt="">
  			<% end %>
  			<a href="<%= p.fishing_reel_link %>" class="btn blue" target="_blank">SCOPRI di più</a>
  			</div>
  			<% end %>
  			<% end %>
  		</div>
  		<div class="col span_6">
  			<h2>Canne da Pesca Shimano</h2>
  			<% @products.each do |p| %>
  			<% if p.fishing_rod_name.present? %>
  			<div class="prod">
  			<h3><%= p.product_type %></h3>
  			<h2><%= p.fishing_rod_name %></h2>
  			<img src="<%= p.fishing_rod_image %>" alt="">
  			<a href="<%= p.fishing_rod_link %>" class="btn blue" target="_blank">SCOPRI di più</a>
  			</div>
  			<% end %>
  			<% end %>
  		</div>
  	</div>
  
  </div>
</div>
</div>
</div>