<%= render :partial => 'shared/user_navigation' %>
<div id="garanzia" class="container">
    <div class="row header hideprint">
        <div class="col span_12">
            <h1>Area utente  <strong>Shimano Fish Network</strong></h1>
            <p>Benvenuto/a nell'area dedicata agli utenti registrati Shimano fish network.</p>
            <%= link_to "Modifica i tuoi dati personali / cancellati", edit_fisher_registration_path, :class => 'btn grey' %>
                <% flash.each do |name, msg| -%>
                    <%= content_tag :div, msg, class: name %>
                        <% end -%>
        </div>
    </div>
   
    <div class="row contents" id="buono">
        <div class="col span_12">
            <h2 class="hideprint">Eventi esclusivi</h2>
            <div id="coupon" style="position:relative;">
                <img src="/t2018.jpg" alt="" style="">
                <h3 style="width: 30%;position: absolute;top: 20%;left: 10px;">Valido per : <%= current_fisher.name.capitalize %>&nbsp;<%= current_fisher.surname.capitalize %> - Codice - SFN<%= current_fisher.id %>VCNZCPN</h3>
                <br>
                <br>
                <A HREF="javascript:window.print()" class="btn blue" style="float:right;">Stampa</A>
            </div>
        </div>
    </div>
<style>
@media print {
    #htrigger {
        padding-top: 0px;
    }
    #buono {
        display: inline;
    }
    #header {
        display: none!important;
    }
    #topheader {
        display: none!important;
    }
    .hideprint {
        display: none!important;
    }
    #coupon {
        width: 70%;
        display: block;
        margin: auto;
    }
}
</style>
</div>

