<%= render :partial => 'shared/user_navigation' %>
<div id="garanzia" class="container">
    <div class="row header hideprint">
        <div class="col span_12">
            <h1>Area utente  <strong>Shimano Fish Network</strong></h1>
            <p>Benvenuto/a nell'area dedicata agli utenti registrati Shimano fish network.</p>
            <%= link_to "Modifica i tuoi dati personali / cancellati", edit_fisher_registration_path, :class => 'btn grey' %>
                <% flash.each do |name, msg| -%>
                    <%= content_tag :div, msg, class: name %>
                        <% end -%>
        </div>
    </div>
</div>
<div id="home" class="container">

<div class="row prostaff--blog--community" >
  <div class="col span_4">
    <div class="content">
      <img src="<%= @pro.image.url(:square) %>" alt="">
      <div class="text">
        <h2>SHIMANO PRO STAFF</h2>
        <h3><%= @pro.name %></h3>
        <a href="/community/ask-shimano/<%= @pro.question_category.url %>/<%= @pro.url %>/new-question" class="btn">FAI UNA DOMANDA</a>

      </div>
    </div>
    
  </div>
  <div class="col span_4">
    <div class="content">
      <div class="text">
        <%= fa_icon "calendar" %>
        <h2><%= l(@last_event.start_date) %></h2>
        <h3><%= @last_event.title %></h3>
        <a href="<%= event_path(:title => @last_event.title.parameterize, :id => @last_event.id) %>" class="btn">PARTECIPA</a>

      </div>
    </div>

  </div>
  <div class="col span_4">
    <div class="content">
      <img src="<%= @post.image.url(:square) %>" alt="">
      <div class="text">
        <h2>BLOG SHIMANO</h2>
        <h3><%= @post.title %></h3>
         <a href="/blog/<%= @post.date %>/<%= @post.title.parameterize %>" class="btn">Leggi tutto</a>
      </div>
    </div>

  </div>
</div>

<div class="row community--photo" >
  <div class="col span_6">
    <div class="content">
      <div class="text">
        <%= fa_icon "question-circle" %>
        <h2><%= @last_question.fisher_privacy_name %> chiede</h2>
        <h3><%= @last_question.title %></h3>
       <p><%= truncate(@last_question.question, length: 200, separator: '.') %></p>
        <a href="<%= question_path(:category_url => @last_question.question_subcategory.question_category.url, :subcategory_url => @last_question.question_subcategory.url , :id => @last_question) %>" class="btn white">PARTECIPA ALLA DISCUSSIONE</a>

      </div>
    </div>
  </div>
  <div class="col span_3">
    <div class="content">
      <img src="<%= @photo.image.url(:square) %>" alt="">
    </div>
  </div>
  <div class="col span_3 overflow">
    <div class="content">
      <div class="text">
            <h2>SHIMANO COMMUNITY</h2>
            <h3>UNA CATTURA DA CATALOGO</h3>
            <p>Carica la foto di una tua cattura, le pubblicheremo su Facebook!</p>
            <a href="<%= gallery_path(@last_gallery) %>" class="btn blue">CARICA LA TUA FOTO</a>
    
      </div>
    </div>
  </div>
</div>


<div class="row catalogo--social" >
  <div class="col span_4">
    <div class="content">
      <div class="text">
            <%= fa_icon "facebook-square" %>
            <h2>FOLLOW US ON</h2>
            <h3>FACEBOOK</h3>
            <p>Clicca "mi piace" e diventa fan della nostra pagina Shimano Pesca</p>
            <a href="https://www.facebook.com/Shimano.Pesca" target="_blank" class="btn blue">FOLLOW US</a>
    
      </div>
    </div>
    
  </div>
  <div class="col span_8">
    <div class="content">
      <img src="<%= @rpost.image.url %>" alt="" data-mobile="<%= @rpost.image.url(:square) %>">
      <div class="text">
            <h2><%= @rpost.post_category.title %></h2>
            <h3><%= @rpost.title %></h3>
             <a href="/blog/<%= @rpost.date %>/<%= @rpost.url %>" class="btn">Leggi tutto</a>
    
      </div>
    </div>

    
  </div>
</div>


</div>