<%= render :partial => 'shared/user_navigation' %>
<div id="garanzia" class="container">
    <div class="row header hideprint">
        <div class="col span_12">
            <h1>Area utente  <strong>Shimano Fish Network</strong></h1>
            <p>Benvenuto/a nell'area dedicata agli utenti registrati Shimano fish network.</p>
            <%= link_to "Modifica i tuoi dati personali / cancellati", edit_fisher_registration_path, :class => 'btn grey' %>
                <% flash.each do |name, msg| -%>
                    <%= content_tag :div, msg, class: name %>
                        <% end -%>
        </div>
    </div>
    <div class="row contents hideprint">
        <div class="col span_6">
            <h2>Registrazione Prodotti</h2>
            <p>Registra qui le tue canne e i tuoi mulinelli da pesca Shimano e G.Loomis in pochi clic e abilita la garanzia per il terzo anno</p>
            <%= link_to "Registra i tuoi acquisti", new_product_registration_path, :class => 'btn grey' %>
        </div>
        <div class="col span_6">
            <h2>Esplosi mulinelli</h2>
            <p>In questa pagina puoi trovare tutti gli esplosi dei mulinelli più recenti di Shimano. Consulta on line gli esplosi, scaricali o stampali. In questo modo puoi trovare in maniera facile e veloce il codice del ricambio che stai cercando. A grande richiesta caricheremo presto anche gli esplosi dei mulinelli ormai fuori produzione! Se non trovi l'esploso che stai cercando, scrivici sulla nostra community.</p>

            <h3>Cerca il tuo mulinello per codice prodotto o nome</h3>
            <br>
            <select id="e1" style="max-width: 500px;">
                <option value=""></option>
                <% @documents.each do |d| %>
                    <option value="<%= d.file_name %>">
                        <%= d.title %> -
                            <%= d.sku %>
                    </option>
                    <% end %>
            </select>
            <br>
            <a href="#" class="btn blue disabled" id="downbtn" target="_blank">DOWNLOAD</a>
        </div>
    </div>
     <% if @tickets.count > 0 %>
    <div class="row contents hideprint">
         <div class="col span_12">
     <h2>Last man standing</h2>
        <p>I tuoi biglietti registrati</p>
           <% @tickets.each do |t| %>
            <div class="ticket"><%= t.code %></div>
           <% end %>
       </div>
   </div>
    <% end %>
    <div class="row contents hideprint">
        <div class="col span_12">
            <h2>Prodotti in garanzia</h2>
            <p>Per richiedere un intervento di assistenza, compila il modulo di riparazione e consegnalo insieme al prodotto difettoso, allo scontrino o documento equipollente e alla mail di registrazione prodotto , al tuo Shimano Shop di fiducia.</p>
           
            <% unless @product_registrations.empty?%>
                <h2>I tuoi prodotti</h2>
                <p>Stampa il dettaglio della garanzia per usufruire del Servizio Assistenza Shimano, nel caso dovessi averne bisogno. </p>
                <%= render :partial => '/fishing_club/product_registrations/list' %>
                    <% end %>
        </div>
    </div>
   
   
<style>
.ticket {
    background-color: #1DAEEC;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
    color: White;
    text-transform: uppercase;
}
@media print {
    #htrigger {
        padding-top: 0px;
    }
    #buono {
        display: inline;
    }
    #header {
        display: none!important;
    }
    #topheader {
        display: none!important;
    }
    .hideprint {
        display: none!important;
    }
    #coupon {
        width: 70%;
        display: block;
        margin: auto;
    }
}
</style>
</div>

