<h1>Shimano Fish Network Administration</h1>
<div class="block" id="block-login">
  <h2>Login Box</h2>
  <div class="content login">
    <div class="flash">
      <% flash.each do |type, message| -%>
      <div class="message <%%= type %>">
        <p><%=  message %></p>
      </div>
      <% end -%>
    </div>
    <%= form_tag({:action => :create}, :class => 'form login') do -%>
      <div class="group wat-cf">
        <div class="left">
          <label class="label right">Login</label>
        </div>
        <div class="right">
          <%= text_field_tag "admin[email]", nil, :class => 'text_field' %>
        </div>
      </div>
      <div class="group wat-cf">
        <div class="left">
          <label class="label right">Password</label>
        </div>
        <div class="right">
          <%= password_field_tag "admin[password]", nil, :class => 'text_field' %>
        </div>
      </div>
      <div class="group navform wat-cf">
        <div class="right">
          <input type="submit" class="button" value="Sign in" />
        </div>
      </div>
    <% end -%>
  </div>
</div>