La tua domanda "<%= @question.title %>" ha ricevuto una risposta.

<%= link_to 'Clicca qui', "#{question_url(:subcategory_url => @question.question_subcategory.url, :category_url => @question.question_subcategory.question_category.url, :id => @question)}#answer_#{@answer.id}" %> per leggerla.
