Titolo: <%= @question.title %><br />
Domanda:<br />
<%=simple_format @question.question %><br />
<br />
<%= link_to 'Clicca qui per rispondere', question_url(:subcategory_url => @question.question_subcategory.url, :category_url => @question.question_subcategory.question_category.url, :id => @question) %>

