@charset utf-8;

body
{
  background-image:url(../images/bg.png);
  background-repeat:repeat;
  color:#535150;
  font-family:Amethysta, serif;
  font-size:12px;
  margin:0;
  padding:0;
}

a:focus,a:hover
{
  color:#0F698D;
}

a
{
  -moz-transition:.3s color;
  -ms-transition:.3s color;
  -o-transition:.3s color;
  -webkit-transition:.3s color;
  color:#0D96CD;
  text-decoration:none;
}

h1, h2, h3, h4 {
 font-family:Oswald, sans-serif!important;
}
#wrapper
{
  margin-left:auto;
  margin-right:auto;
  width:1002px;
}

.header_box
{
  float:left;
  height:80px;
  width:333px;
}

.header_box img
{
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.header_box.first
{
  text-align:center;
}

.header_box.last
{
  text-align:right;
}

.clear
{
  clear:both;
}

#header
{
  border-bottom-color:#dcdcd4;
  border-bottom-style:solid;
  border-bottom-width:3px;
  margin-top:20px;
  padding-bottom:30px;
}

#navigation ul
{
  list-style-type:none;
  margin:0;
  padding:0;
}

#navigation li
{
  float:left;
}

#navigation a
{
  background-image:url(../images/bg_nav.png);
  background-position:0 100%;
  background-repeat:no-repeat;
  color:#272423;
  display:block;
  height:46px;
  padding:25px 0 0;
  width:167px;
}

#navigation a:focus,#navigation a:hover
{
  color:#0D96CD;
}

#navigation
{
  font-family:Oswald, sans-serif;
  font-size:12px;
  letter-spacing:.05em;
  text-align:center;
  text-transform:uppercase;
}

#navigation .last
{
  background-image:url(../images/bg_nav_last.png);
}

.slides_container
{
  border-bottom-color:#dcdcd5;
  border-bottom-style:solid;
  border-bottom-width:3px;
  height:600px;
  text-align:center;
  width:1002px;
}

.slides_container div
{
  display:block;
  height:600px;
  width:1002px;
}

button
{
  cursor:pointer;
}

button.prev:focus,button.prev:hover,button.next:focus,button.next:hover
{
  background-color:#666;
}

button.prev,button.next
{
	background-color:#333;
	border:0;
	border-image:initial;
	overflow:visible;
	position:absolute;
	z-index:149;
	margin-top: 284px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	padding-top: 17px;
	padding-right: 25px;
	padding-bottom: 17px;
	padding-left: 25px;
}

button.prev
{
  display:inline;
  left:0;
}

button.next
{
  display:inline;
  right:0;
}

.box
{
  float:left;
  font-size:12px;
  height:245px;
  padding-left:10px;
  padding-right:10px;
  text-align:center;
  width:313px;
}

#boxes
{
  border-bottom-color:#CCC;
  border-bottom-style:solid;
  border-bottom-width:3px;
  height:245px;
  padding-bottom:30px;
  padding-top:30px;
}

#footer
{
  background-image:url(../images/bg_footer.png);
  background-position:top;
  background-repeat:repeat-x;
  color:#FFF;
  height:150px;
  margin-top:40px;
  padding-top:40px;
  text-align:center;
}


#header .header_box.middle h2
{
  color:#CCC;
  font-size:14px;
  font-style:italic;
  font-weight:lighter;
  line-height:normal;
}

#header .header_box.last form p
{
  color:#CCC;
  font-size:10px;
  line-height:normal;
  margin:0;
  padding:0;
  text-transform:uppercase;
}

#slides .slides_container div h1
{
  font-size:36px;
}

#slides .slides_container div p
{
  font-size:16px;
}

.header_box.last form
{
  margin-right:30px;
}

#boxes .box h2
{
  color:#333;
  font-family:Oswald, sans-serif;
  font-size:24px;
  text-transform:uppercase;
}

#boxes .box p
{
  line-height:1.8;
}

#slides .slides_container div img
{
  background-image:url(../images/shadow.png);
  background-position:bottom;
  height:350px;
  padding-bottom:25px;
}

#slides
{
  margin-top:80px;
}
#boxes .box.middle {
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: dashed;
	border-left-style: dashed;
	border-right-color: #999;
	border-left-color: #999;
}

#sidebar {
  float:left;
}
