<%= semantic_form_for [:administration, @assistence_request.product_registration, @assistence_request] do |f| %>
  <%= f.inputs do %>
    <%= f.input :product_registration_id, :as => :hidden, :value => params[:product_registration] %>
    <%= f.input :started_at %>
    <%= f.input :finished_at %>
    <%= f.input :notes %>
  <% end %>
  <%= f.buttons do %>
    <%= f.action :submit %>
    <li class="cancel"><%= link_to "Cancel", administration_fisher_product_registration_path(@assistence_request.product_registration.fisher_id, @assistence_request.product_registration) %></li>
  <% end %>
<% end %>

