<div id="garanzia" class="container">
  
  <div class="row header">
    <div class="col span_12">
      <h1>Invia nuovamente istruzioni di conferma</h1>
      <p>Se non hai ricevuto sulla tua casella di posta la conferma d'iscrizione, inserisci di seguito il tuo indirizzo mail per inviarla nuovamente.</p>
   <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
    </div>
      
  </div>

  <div class="row contents">
  <div class="col span_12">

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>

  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.submit "Invia istruzioni di conferma" , :class => 'btn grey'%></div>
<% end %>
</div>
</div>
</div>