<div id="contest" class="container">

<div class="row">
	<div class="col span_12 hero">
		<img src="https://unsplash.it/1920/1000?image=883">
		<div class="txt-box">
			<h2>Gioca e vinci un premio al giorno</h2>
			<p> pescatori appassionati  che come te, vivono la pesca come un'esperienza da condividere. Qui potrai trovare lo spazio per fare le tue domande, cercare risposte, condividere l	</p>
			<a href="/concorso/gioca" class="btn blue">GIOCA SUBITO</a>
			<a href="/concorso/regolamento" class="btn">LEGGI IL REGOLAMENTO</a>
			<a href="/concorso/premi" class="btn">SCOPRI I PREMI</a>
		</div>
	</div>
</div>
</div>