<% @page_title = "Finalisti Greenline Shimano" %>
    <div id="garanzia" class="container">
        <div class="row header">
            <div class="col span_12">
                <h1>SHIMANO GREENLINE - <strong>I FINALISTI</strong></h1>
                <p>Siamo giunti alla fase finale della Shimano Greenline!<br>Queste le due iniziative che sono state selezionate, avete tempo fino alle ore 12 di Lunedì 13 febbraio per votare la vostra iniziativa preferita. All’associazione che raccoglierà il maggior numero di voti verrà infine destinato l’intero importo della donazione, che avverrà durante la Fiera di Vicenza - Pescare Show 2017.</p>
            </div>
        </div>
        <div class="row contents">
        <% @contests.each do |c| %>
            <div class="col span_6">
            	<h2><%= c.title %></h2>
                <img src="<%= c.image.url %>" alt="" style="width:100%">
            	<%= simple_format c.body %>
                <% if c.attachment.present? %>
                <div class="actions" style="margin:40px auto;">
                    <a href="<%= c.attachment.url %>" class="btn grey">SCARICA IL PROGETTO</a>
                </div>
                <% end %>
                
            </div>
        <% end %>
        </div>
    </div>
