<div id="contest" class="container">


<div class="row">
	<div class="col span_12 hero js-contarget">
		<img src="https://media.giphy.com/media/ofrQ8FYfTD8gE/giphy.gif">
		<div class="txt-box">
			<h2>Clicca un punto dove lanciare</h2>
			<p>Istruzioni menose menose menose menose menose menose</p>
			<a href="#" class="btn js-close-con">Ok sono pronto</a>
			
		</div>
		<div class="overeffect">
				
			</div>
	</div>
</div>
</div>