<div id="contest" class="container">
  
  <div class="row header">
    <div class="col span_12">
      <h1>PREMI CONCORSO <strong>SHIMANO</strong></h1>
		<p>Shimano ha creato una squadra di esperti pescatori nelle varie tecniche di pesca. I nostri Pro-staff ci aiuteranno a creare e sviluppare prodotti sempre nuovi ed all'avanguardia, che soddisfino dal pescatore principiante fino al più afferrmato agonista. Da oggi i Pro-Staff Shimano sono a tua disposizione per chiarire ogni tuo dubbio e soddisfare ogni tua curiosità. La squadra è in continua evoluzione, torna a trovarci e scopri chi sarà il prossimo esperto Shimano!</p>
    </div>
      
  </div>

  <div class="row contents">
<div class="row">
		<% 4.times.with_index do |i| %>
			<div class="col span_3 <%= 'hidden' if i > 0 %>">
				
				<img src="http://placehold.it/350x350">
		 		<h2>Premio speciale</h2>
		 		<span class="profile">Dal 1 Novembre al 5 Dicembre</span>
		 		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia fuga, vitae ratione, fugiat aliquid assumenda amet et, saepe consectetur veritatis totam animi aspernatur reiciendis recusandae iure error dolor soluta blanditiis!</p>
		 		<a href="#" class="btn blue">Scopri di più</a> 
		 		<a href="#" class="btn grey">GIOCA SUBITO</a> 
				</div>
		<% end %>
		  </div>
  </div>
  </div>