<div id="store" class="container">
  <div class="row header">
    <div class="col span_5"><h1><strong>Shimano</strong> store locator</h1><p>Trova lo Shimano Shop più vicino a casa tua !</p></div>
    <div class="col span_7">
      <div class="filters">
        <h2>Filtra per località</h2>
<%= form_for "store", :url => store_locator_path+"#search_stores", :method => :get do |f| %>

<div class="row-fluid">
<div class="span4" style="position:relative;">
 <%= f.select('region', @regions, :selected => params[:store][:region], :include_blank => 'Tutte le regioni', :class => "myclass")%>
</div>
  <% unless @provinces.empty? %>
  <div class="span4" style="position:relative;">
  <%= f.select('province', @provinces, :selected => params[:store][:province], :include_blank => 'Tutte le province' )%>
</div>
  <% end %>
  <% unless @cities.empty? %>
  <div class="span4" style="position:relative;">
  <%= f.select('city', @cities, :selected => params[:store][:city], :include_blank => 'Tutte le città' )%>
</div>
  <% end %>
<% end %>
</div>
</div>
<div class="filters">
  <h2>Filtra per Shimano Specialist</h2>
  <% if @stores.select{ |store| store.x_store == true }.count > 0 %>
<a href="<%= url_for(params.merge({:specialist => 'x_store'})) %>" class="specialist swb" data-toggle="tooltip" title="X-Store">
<span>xs</span></a>  <% end %>
  <% if @stores.select{ |store| store.tech == true }.count > 0 %>
<a href="<%= url_for(params.merge({:specialist => 'tech'})) %>" class="specialist bbf" data-toggle="tooltip" title="Tech">
<span>TEC</span></a>
<% end %>

</div>
    </div>
  </div>
  <% unless @stores.empty? %>

  <% @stores.each_slice(4) do |slice| %>
  <div class="row stores">
 <% slice.each do |store| %>
<div class="col span_3">
      <div class="store">
        <h2><%= store.name %></h2>
        <p><%= store.address %><br>
          <%= store.half_address %><br>
          <%= store.phone %><br>
          <%= link_to "Visita il sito", store.website, :target => "_blank" if store.website.present? %></p>
          <div class="specialist">
            <% if store.x_store %>
<a href="/shimano-shop?specialist=x_store" class="specialist swb" data-toggle="tooltip" title="X-Store"><span>XS</span></a>
<% end %>
<% if store.tech %>
<a href="/shimano-shop?specialist=tech" class="specialist bbf" data-toggle="tooltip" title="Tech"><span>TEC</span></a>
<% end %>
          </div>
          <a href="https://www.google.it/maps/search/<%= store.address.parameterize(sep = '+')%>+<%= store.half_address.gsub('-','').parameterize(sep = '+') %>" target="_blank" class="btn grey storelink"><%= fa_icon "map-marker" %>  Google Map</a>
      </div>
</div>
<% end %>
</div>
<% end %>
<%= will_paginate @stores, :next_label => 'Succ.', :previous_label => 'Prec.' %>
<% end %>
</div>