<img src="/head_<%= params[:specialist] %>.jpg" alt="">
<h2>Shimano <%= I18n.t("specialist.#{@specialist}.title") %> specialist</h2>
<p>__</p>
<p> <%= I18n.t("specialist.#{@specialist}.description") %></p>
<div id="search_stores">
<%= form_for "store", :url => store_locator_path+"/#{@specialist}"+"/#search_stores", :method => :get do |f| %>

<div class="row-fluid">
<div class="span4" style="position:relative;">
 <%= f.select('region', @regions, :selected => params[:store][:region], :include_blank => 'Tutte le regioni', :class => "myclass")%>
</div>
  <% unless @provinces.empty? %>
  <div class="span4" style="position:relative;">
  <%= f.select('province', @provinces, :selected => params[:store][:province], :include_blank => 'Tutte le province' )%>
</div>
  <% end %>
  <% unless @cities.empty? %>
  <div class="span4" style="position:relative;">
  <%= f.select('city', @cities, :selected => params[:store][:city], :include_blank => 'Tutte le città' )%>
</div>
  <% end %>
<% end %>
</div>
</div>
<% unless @stores.empty? %>
<div style="clear:both;"><br></div>
<div id="storebox">

  <% @stores.each_slice(4) do |slice| %>
  <div class="row-fluid storerow">
  <% slice.each do |store| %>
  <div class="span3"><%= render_store(store) %>
   
    </div>
  <% end %>
</div>
<%end %>
<div style="clear:both;"></div>
</div>
<%= will_paginate @stores, :renderer => BootstrapPagination::Rails, :next_label => 'Succ.', :previous_label => 'Prec.' %>
<% end %>
