<%= f.input :name, :wrapper_html => { :class => ('left' unless controller_path =~ /^administration/) } %>
<%= f.input :surname %>
<%= f.input :birth_date, start_year: 1900, end_year: Time.now.year - 18, required: true %>
<%= f.input :region, :as => :select, :collection => Fisher::REGIONS.sort %>
<%= f.input :address, required: true %>
<%= f.input :email %>
<%= f.input :mobile_number %>

