<%= f.input :job, :as => :select, :collection => Fisher::JOBS.sort%>
<%= f.input :agonist, :as => :select, :input_html => { :class => 'input-small' } %>    
<%= f.input :sea_techniques, :as => :check_boxes, :collection => Fisher::SEA_TECHNIQUES, :wrapper_html => { :class => 'special' }, :input_html => { :class => 'checks' } %>
<%= f.input :inner_waters_techniques, :as => :check_boxes, :collection => Fisher::INNER_WATERS_TECHNIQUES, :wrapper_html => { :class => 'special' }, :input_html => { :class => 'checks' }  %>
<% if f.respond_to? :error %>
  <% if f.error(:techniques).present? %>
    <div class="error"><%= f.error :techniques %></div>
  <% end %>
<% end %>
