<p>Gentile <%= @fisher.complete_name %>,</p> 


<p>grazie per aver cliccato Partecipa all'evento PESCARE SHOW 20-21 FEBBRAIO 2016.</p>

<p>Per poter partecipare come ospite ufficiale Shimano Fish Network stampa o conserva questa mail sul tuo Smartphone/tablet con il tuo codice personale.</p>

<p>Grazie alla tua partecipazione puoi entrare in fiera a Vicenza per il Pescare Show ad un prezzo ridotto ed esclusivo per i clienti Shimano registrati al sito www.shimanofishnetwork.it, solo 7 euro invece che 15 euro (prezzo del biglietto intero). La riduzione è valida solo nei giorni Sabato 20 e domenica 21 febbraio 2016.</p>

<p>Stampa sia questa mail che il biglietto in allegato e presentati alle casse con entrambi i fogli per usufruire della riduzione.</p>

<p>Codice di verifica: <strong><%= @code %></strong></p>

<img src="http://www.shimanofishnetwork.it/attend_fiera.jpg" alt="" width="500">

