<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "Galleria", admin_gallery_path(@gallery)  %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title">Modera Immagine di <%= link_to @photo.fisher.complete_name, admin_fisher_path(@photo.fisher) %></h2>
    <div class="inner">
      <%= simple_form_for [:admin, @gallery, @photo] do |f| -%>
        <%= image_tag @photo.image.url %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :published %>
        <%= f.input :cover %>
        <div class="group navform wat-cf">
          <button class="button" type="submit">
            <%= image_tag("web-app-theme/icons/tick.png", :alt => "Salva") %> <%= "Salva" %>
          </button>
          <span class="text_button_padding">o</span>
          <%= link_to "Annulla", admin_gallery_path(@gallery), :class => "text_button_padding link_button" %>
        </div>
      <% end -%>
    </div>
  </div>
</div>
