<%= f.input :name %>
<%= f.input :description %>
<%= f.input :position %>
<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "Salva") %> <%= "Salva" %>
  </button>
  <span class="text_button_padding">o</span>
	<%= link_to "Annulla", admin_question_categories_path, :class => "text_button_padding link_button" %>
</div>
