<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "Lista", admin_question_categories_path  %></li>
      <li class="active"><%= link_to "Modifica", edit_admin_question_category_path(@question_category) %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title">Modifica Categoria di domande</h2>
    <div class="inner">
      <%= simple_form_for [:admin, @question_category] do |f| -%>
        <%= render :partial => "form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>

