<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to 'Lista', admin_question_categories_path  %></li>
      <li class="last"><%= link_to 'Nuova', new_admin_question_category_path %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title">Lista Categorie Domande</h2>
    <%= search_form_for @q, :url => admin_question_categories_path do |f| %>
      <%= f.label :name_or_description_cont %>
      <%= f.text_field :name_or_description_cont %>
      <%= f.submit %>
    <% end %>
    <% unless @question_categories.empty? %>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first">ID</th>
          <th>Nome</th>
          <th>Descrizione</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @question_categories.each do |category| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td><%= category.id %></td>
          <td><%= link_to category.name, edit_admin_question_category_path(category) %></td>
          <td><%=truncate category.description, :length => 100 %></td>
          <td class="last">
            <%= link_to 'Sottocategorie', admin_question_category_question_subcategories_path(category) %> |
            <%= link_to "Modifica", edit_admin_question_category_path(category) %> |
            <%= link_to "Elimina", admin_question_category_path(category), :method => :delete, :confirm => "Sei sicuro?" %>
          </td>
        </tr>
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        <%= will_paginate @question_categories %>
      </div>
    </div>
    <% else %>
    <p>Nessuna categoria da visualizzare</p>
    <% end %>
  </div>
</div>

