#masonry {
width: 100%;

}

.dida_community{
	position: absolute;
	bottom:0;
	background-color: #333;
	display: block;
	width:100%;
	color:#fff;
	display: none;
}
.socialbuttons{
	display: block;
	width:415px;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	margin-bottom:5px;
	text-align: center;
}
#photo p{
	text-align:center;
	font-size:16px;
}
.title{
	text-transform:uppercase;
	font-size:12px;
	line-height:17px;
	display: block;
	margin-left:5px
}
.author{
	text-transform:none;
	font-size:12px;
	line-height:18px;
	margin-left:5px
}
.item {
  
}


.container_photo {
	position: relative;
}
#community {
  list-style-type: none;
  width:625px;
  display: block;
  height:20px;
  margin-right:100px;
}
#community li{
  float:right;
  margin-left:10px;
}

#gallery{
	width:100%;
	border-bottom:1px solid #ccc;
margin-bottom:5px;
padding-bottom:5px;
}
#gallery p{
	text-align:center;
}
