@charset utf-8;
	html,body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	background-image: url(/images/bg.png);
	background-repeat: repeat;
	color: #535150;
	font-family: Amethysta, serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
	height: 100%;
}
.center{
    display: block;
	margin-left: auto;
	margin-right: auto;
}
a:focus,a:hover {
	color: #0F698D;
}

a {
	-webkit-transition: .3s color;
	-moz-transition: .3s color;
	-o-transition: .3s color;
	-ms-transition: .3s color;
	transition: .3s color;
	color: #0D96CD;
	text-decoration: none;
}
h1, h2, h3, h4 {
 font-family:Oswald, sans-serif!important;
 text-transform: uppercase;
}

#container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -170px;
}

#alert,#notice {
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	border: solid 1px #ccc;
	margin-top: 10px;
	margin-bottom: 10px;
	display: block;
	background-color: #333;
	color: #FFF;
	font-weight: bold;
}

#wrapper {
	width: 1002px;
	margin: 0 auto 0;
}

.header_box {
	float: left;
	height: 80px;
	width: 333px;
}

.header_box form {
	margin-top: 45px;
}

.header_box .entra {
	width: 70px;
}

.header_box .check {
	width: auto;
	margin-right:5px;
}

.header_box img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.header_box.first {
	text-align: left;
}

.header_box.first p {
	line-height: 1;
	text-transform: uppercase;
	font-size: 10px;
}

.header_box.middle {
	text-align: center;
}

.header_box.last {
	text-align: right;
}

.clear {
	clear: both;
}

#header {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 1002px;
	position: relative;
}

#social {
	display: block;
	width: 190px;
	margin-top: 54px;
}

#navigation ul {
	list-style-type: none;
	width: 1002px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}

#navigation li {
	float: left;
}

#navigation a {
	background-image: url(/images/bg_nav.png);
	background-position: 0 100%;
	background-repeat: no-repeat;
	color: #fff;
	display: block;
	height: 46px;
	width: 138px;
	padding-top: 20px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
}

#navigation a:focus,#navigation a:hover,#navigation a.active {
	color: #ccc;
	text-decoration: none;
}

#navigation {
	font-family: Oswald, sans-serif;
	font-size: 11px;
	letter-spacing: .1em;
	text-align: center;
	text-transform: uppercase;
	display: block;
	height: 59px;
	margin-top: 40px;
	background-image: url(../images/navbar.png);
	background-repeat: repeat-x;
	padding-bottom: 20px;
}

#navigation .last {
	background-image: url(/images/bg_nav_last.png);
}

.slides_container {
	height: 600px;
	text-align: center;
	width: 1002px;
}

.slides_container div {
	display: block;
	height: 600px;
	width: 1002px;
}

button {
	cursor: pointer;
}

button.prev:focus,button.prev:hover,button.next:focus,button.next:hover {
	background-color: #666;
}

button.prev,button.next {
	background-color: #333;
	border: 0;

	-webkit-border-image: initial;
	-moz-border-image: initial;
	border-image: initial;
	overflow: visible;
	position: absolute;
	z-index: 149;
	margin-top: 380px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	padding-top: 17px;
	padding-right: 25px;
	padding-bottom: 17px;
	padding-left: 25px;
}

button.prev {
	display: inline;
	left: 15px;
}

button.next {
	display: inline;
	right: 15px;
}

.box {
	float: left;
	font-size: 12px;
	height: 245px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	width: 313px;
}

#boxes {
	border-bottom-color: #CCC;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	height: 245px;
	padding-bottom: 30px;
	padding-top: 30px;
}

#intro {
	border-bottom-color: #CCC;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	padding-bottom: 50px;
	padding-top: 40px;
	text-align: center;
}

#countdown {
	border-bottom-color: #CCC;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-top-color: #CCC;
	border-top-style: solid;
	border-top-width: 3px;
	padding-bottom: 5px;
	padding-top: 5px;
	text-align: center;
}

#intro_social {
	border-bottom-color: #CCC;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	padding-bottom: 50px;
	height: 40px;
	text-align: right;
}

#intro p {
	font-size: 16px;
}

h2 {
	text-align: center;
	font-size: 24px;
}

p {
	font-size: 14px;
	line-height: 1.5;
	font-weight: lighter;
}

#footer {
	background-image: url(/images/bg_footer.png);
	background-position: top;
	background-repeat: repeat-x;
	color: #FFF;
	height: 130px;
	padding-top: 40px;
	text-align: center;
	position: relative;
	bottom: 0;
}

.push {
	height: 180px;
	clear: both;
}

.clearfooter {
	height: 130px;
	clear: both;
}

#social img {
	float: left;
	margin-right: 5px;
	border: none;
}

#header .header_box.last form p {
	font-size: 10px;
	line-height: normal;
	margin: 0px 10px 0px 0px;
	padding: 0;
	text-transform: uppercase;
}

#slides .slides_container div h1 {
	font-size: 36px;
}

#slides .slides_container div p {
	font-size: 16px;
}

#boxes .box h2 {
	color: #333;
	font-family: Oswald, sans-serif;
	font-size: 24px;
	text-transform: uppercase;
}

#boxes .box p {
	line-height: 1.8;
}

#slides .slides_container div img {
	background-image: url(/images/shadow.png);
	background-position: bottom;
	height: 350px;
	padding-bottom: 25px;
	border: 0px;
}

img.about {
	background-image: url(/images/shadow.png);
	background-position: bottom;
	height: 350px;
	padding-bottom: 25px;
	border: 0px;
}

#slides {
	margin-top: 20px;
	position: relative;
}

#search_stores {
	border-top: 3px solid #ccc;
	border-bottom: 3px solid #ccc;
	padding: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}

#storelist {
	margin: 0;
	margin-left: 19px;
	padding: 0;
}

#storebox {
	padding: 0px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #CCC;
	border-bottom-color: #CCC;
	margin: 0px;
	margin-bottom: 15px;
	padding-bottom: 1px;
	position: relative;
}

.store {
	float: left;
	list-style: none;
	width: 220px;
	height: 150px;
	padding: 10px;
	display: block;
	margin-left: -1px;
	margin-bottom: -1px;
	border: 1px solid #ececec;
}

.pagination {
	float: right;
	margin-bottom: 10px;
}

.store_fields {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 12px;
}

.store_name {
	font-weight: bold;
	margin-top: 10px;
	color: #000;
	margin-bottom: 10px;
}

.store_map {
	margin-bottom: 10px;
}

.store_link {
	margin-bottom: 10px;
}

.store_field {
	line-height: 1.2;
	margin-bottom: 10px;
}

#boxes .box.middle {
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: dashed;
	border-left-style: dashed;
	border-right-color: #999;
	border-left-color: #999;
}

.header_box.middle {
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: dashed;
	border-left-style: dashed;
	border-right-color: #ccc;
	border-left-color: #ccc;
}

.shadow {
	background-image: url(/images/shadow.png);
	background-position: bottom;
	height: 350px;
	padding-bottom: 25px;
}

.history {
	text-align: center;
	font-size: 16px;
	line-height: 1.4;
	font-style: italic;
	color: #666;
	border-top: dashed 1px #ccc;
	border-bottom: dashed 1px #ccc;
	padding: 10px;
}

.separator {
	border-top: solid 3px #ccc;
	margin-top: 5x;
	margin-bottom: 5px;
}

.motto {
	font-weight: bold;
}

.registerbox {
	float: left;
	width: 300px;
	height: 160px;
	margin-left: 25px;
	display: block;
}

.garanzia {
	border-top: solid 3px #ccc;
	border-bottom: dashed 1px #ccc;
	padding: 10px;
	position: relative;
	height: 230px;
}

#regform label {
	text-transform: uppercase;
	font-size: 14px;
}

#regform .checks {
	float: left;
	clear: both;
}

#regform .special {
	float: left;
}

#regform abbr {
	display: none;
}

#regform .left {
	float: left;
	margin-right: 10px;
}

#regform .nomargin {
	margin-left: -36px;
}

.larger {
	width: 300px;
}

.privacy {
	width: 957px;
	height: 105px;
	padding: 8px 10px 0;
	background: #f9f9f9;
	border: 1px solid #777;
	border-top-color: #bbb;
	border-left-color: #bbb;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-shadow: 0 1px #fff;
	overflow: auto;
}

input#fisher_privacy,input#fisher_newsletter,input#fisher_third_party {
	width: auto;
	float: left;
}

#catalogs img {
	border: 0;
	height:300px!important;
	max-width: none!important;
}

#catalogs div {
	border: 0;
	float: left;
	margin-right: 5px;
	margin-bottom: 10px;
	padding: 10px;
	text-align: center;
}

#catalogs div:hover {
	border: 0;
	background-color: #ececec;
}
#catalogo img {
	border: 0;
}

#catalogo div {
	border: 0;
	float: left;
	margin-right: 5px;
	margin-bottom: 10px;
	padding: 10px;
	text-align: center;
}

#catalogo div h3 {
	border-top:1px solid  #ccc;
	border-bottom: 1px solid #ccc;
	padding: 2px;
	margin-top: 5px;
}

#catalogo div:hover {
	border: 0;
}

#vantaggi li {
	list-style: none;
	font-size: 14px;
	margin-bottom: 10px;
}

.error {
	margin-left: 10px;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	color: #E12B20;
}

form#new_product_registration label {
	display: block;
	font-size: 1.17em;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
}

form#new_product_registration abbr {
	display: none;
}

form#new_product_registration input.boolean {
	width: auto;
	float: left;
}

form#new_product_registration label.collection_check_boxes {
	text-transform: capitalize;
}

form#new_product_registration div.boolean span {
	display: block;
	clear: both;
}

form#new_product_registration div.boolean label {
	text-transform: none;
	margin-top: 10px;
}

table#products th,td {
	padding: 10px;
	text-align: left;
	margin: 0px;
}

table#products th {
	background-color: #ececec;
}

.widget {
	margin-top: 20px;
	border-bottom: 3px solid #ccc;
	padding-bottom: 20px;
}
.bordertop{
border-top-color: #CCC;
border-top-style: solid;
border-top-width: 3px;
}

.widget h2 {
	color: #333;
	font-family: Oswald, sans-serif;
	font-size: 24px;
	text-transform: uppercase;
}
.widget h3 {
	color: #333;
	font-family: Oswald, sans-serif;
	font-size: 18px;
	text-transform: uppercase;
}
.filter {
	color: #333;
	font-family: Oswald, sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	text-align:left;
}

.wbox {
	float: left;
	margin-right: 5px;
	padding: 20px;
}

.firstw {
	border-right: 1px dashed #999;
	width: 350px;
}

#blogroll ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#blogroll li {
	border-bottom: 1px #ccc solid;
}

#blogroll h4 {
	text-transform: uppercase;
}

#gallery h3 {
	text-align: center;
	text-transform: uppercase;
	font-size: 24px;
}

#photo img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.right {
	float: right;
}

#photo_description {
	height: 150px;
	width: 300px;
}

#answers, #most_liked_answer{ float:left; width:100%; }
#answers .answer, #most_liked_answer .answer { float:left; width: 100%; margin-bottom:5px; padding-bottom:5px; }
#answers .answer .user_info, #most_liked_answer .answer .user_info { width: 100px; float:left; }
#answers .answer .answer_text, #most_liked_answer .answer .answer_text { width: 900px; float:left; }
div.question_username, div.answer_username{ display:none}

.row, .answer{
	border-bottom:1px solid #CCC;
	margin-top:5px;
}
.answers_left{
	width:640px;
	float:left;
	margin-top:10px;
	margin-right:20px;
	margin-left:20px;
}
.answers_right{
	width:300px;
	float:left;
}
.row p{
	margin-top:10px;
}
.questions h3{
  width:100%;
  float:left;
  clear:both;
  margin-top: 20px;
	font-size: 18px;
	text-transform:uppercase;
	border-bottom:1px solid #666;
}
.questions h4{
	font-size: 16px;
}
.questions span{
	font-size: 12px;
	font-style: italic;
}

.questions form{
  float:left;
  width:100%;
  clear:both;
}

.questions textarea , #answer_text{
	width:500px;
	height:200px;
}
.votes {
background-color:#ececec;
float: left;
margin: 0 5px 0 0;
padding: 5px;
width: 50px;
height: 50px;
text-align:center;
}
.user_info img{
	width:60px;
	height:60px;
}
.user_info_question{
	margin:5px;
}
.user_info_question img{
	width:100px;
	height:100px;
}
.mini-counts {
height: 25px;
font-size: 190%;
font-weight: bold;
}
#sidebar {
  float:left;
  width:300px;
  display: block;
}
#sidebar h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}
#sidebar h3 a {
  color:#535150;
}
#sidebar h3 a:hover {
  color:#08C;
  text-decoration: none;
  }

.tag {
	float:left;
	margin:2px;
	text-transform: uppercase;
	font-size: 9px;
}
#products {
	float:left;
	width: 680px;
    margin-left: 20px;
}
.productsleft img{
	margin-bottom:10px;
	width: 100%;
	border:1px solid #ECECEC;
}
#products .productsleft{
	float:left;
	width:252px;
	margin-right: 10px;
	display: block;

}
#products .productsright{
	float:left;
	width:408px;
	margin-left: 10px;
	display: block;

}
.leftmargin {
	margin-left: 10px;
}
.tcontainer {
	width:600px;
}

.imgmulo {
	height:200px;
	max-width: none;
	display: block;
    position: relative;
    left: -50%;
}
.imgcanna {
	height:100px;
	max-width: none;
	display: block;
    position: relative;
    left: -50%;
}
.hdivider {
	width:100%;
	height:1px;
	border-bottom: 1px solid #CCC;
}
.caption p{
	font-style: italic;
	font-size:12px;
}
.mulocont {
	width:100%;
	border: 1px solid #ececec;
	background-color: White;
	height: 200px;
	overflow: hidden;
	position: relative;
}
.cannacont {
	width:100%;
	border: 1px solid #ececec;
	background-color: White;
	height: 100px;
	overflow: hidden;
	position: relative;
}
.inner{
	float: left;
    position: relative;
    left: 50%;
}

.contain {
	display: block;
	margin: auto;
	text-align: right;
	margin-top:100px;
	margin-right: 36px;
}
.wider {
	width:295px;
}
.widerdown {
	width:350px;
}
.prodwrap{
	width:265px;
	float:right;
	margin-right: 36px;
}
.prodwrap p{
	font-size: 10px;
	line-height: 14px;
}
.canne{
	background-image: url(/images/CANNE.png);
	background-repeat: no-repeat;
	float:left;
	border:none;
	margin:5px;
	width:490px;
	height: 170px;
	color:White;
	text-align: right;
	padding-top: 60px;


}

.mulo{
	background-image: url(/images/MULINELLI.png);
	background-repeat: no-repeat;
	float:left;
	border:none;
	margin:5px;
	width:490px;
	height: 170px;
	color:White;
	text-align: right;
	padding-top: 60px;
}


#coupon {
	width: 960px;
	clear: both;
	height: 457px;
	position: relative;
}

#coupon h3 {
	position: absolute;
	left: 20px;
	top:266px;
}

