<div id="garanzia" class="container">
  
  <div class="row header">
    <div class="col span_12">
      <h1>Area Pescatori <strong>Shimano</strong></h1>
       <p>Effettua subito l'accesso con i tuoi dati o registrati immediatamente per entrare a far parte di Shimano Fish Network !</p>
  <p>Per i prodotti acquistati da Gennaio 2012, su Shimano Fish Network potrai registare le tue canne e i tuoi mulinelli da pesca Shimano e Gloomis in pochi clic, abilitando la garanzia per il terzo anno.</p>
  <p>Inoltre con la registrazione potrai caricare le foto delle tue catture, ricevere l'esclusiva newsletter Shimnano ed essere partecipe di eventi e concorsi dedicati solo agli iscritti al sito</p>
   <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
    </div>
      
  </div>

  <div class="row contents">
    <div class="col span_4 blue">
  <h2>Entra subito</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name),:html => { :class => "form-inline"} ) do |f| %>
  <%= f.email_field :email, :placeholder => "Email" %>
  <%= f.password_field :password, :placeholder => "Password" %>

 
     <%= f.submit "Entra", :class => 'btn' %>
      <% if devise_mapping.rememberable? -%>
    <label class="checkbox">
<%= f.check_box :remember_me %> Ricorda la password
</label>
  <% end -%> 
<% end %>
<h3>Non sei ancora registrato?</h3>
<%= link_to "Registrati", new_fisher_registration_path, :class => 'btn blue' %>
</div>


<div class="col span_4">
  
<h2>Vantaggi per gli utenti registrati</h2>

<ul id="vantaggi">

<li>Copertura per il terzo anno di vita del prodotto ( Termini di garanzia terzo anno )</li>

<li>Accesso ad area riservata con archivio storico degli acquisti e stato garanzia.</li>

<li>Informazioni via email dell'avvenuta ricezione e riparazione del prodotto in assistenza direttamente dal Servizio Tecnico Shimano </li>

<li>Newsletter; resta sempre aggiornato sulle novità dal mondo Shimano e Rapala.</li>

<li>Possibilità di essere invitato ad anteprime e presentazioni esclusive di prodotti.</li>

<li>Possibilità di essere coinvolto nello sviluppo di nuovi prodotti Shimano.</li>

<li>Possibilità di sfruttare opportunità commerciali riservate, in collaborazione con gli Shimano Shops.</li>

<li>Possibilità di contattare Shimano con un canale preferenziale  per qualsiasi richiesta di informazioni.</li>

<li>Possibilità di partecipare a concorsi e sondaggi riservati.</li>

<li>Condividere la tua passione con tutti gli amici di Shimano tramite foto, video, racconti.</li>
</ul>

</div>

<div class="col span_4">

    <h2>Problemi ?</h2>
    <h3>Non sei ancora registrato ?</h3>
<%= link_to "Registrati", new_fisher_registration_path, :class => 'btn blue' %><br />
<h3>Dimenticato la password ?</h3>
<%= link_to "Inviamela di nuovo", new_password_path(resource_name), :class => 'btn blue' %>

<h3>Non hai ricevuto la mail di conferma ?</h3>
<%= link_to "Inviala di nuovo", new_confirmation_path(resource_name), :class => 'btn blue' %><br />
<h3>Vuoi saperne di più ?</h3>
<%= link_to "Leggi la F.A.Q.", '/faq', :class => 'btn blue' %>
</div>
</div>
</div>






