    <div style="margin:20px">
<h2>CATALOGHI</h2>
<p>__</p>
</div>
<div class="row-fluid">

	<div class="span3">
		<a href="http://issuu.com/shimanoitalyfishing/docs/catalogo-shimano-2013-ita" target="_blank">
			<img src="/images/cataloghi/cat_shimano.jpg" height="300"></a>
		<br>
		<br>
		
		<div class="btn-group" style="display:block;margin:auto;width:190px;margin-top:-10px;">
  		<a class="btn dropdown-toggle btn-primary btn-mini" data-toggle="dropdown" href="#">
   		 Scarica il catalogo
    		<span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a href="https://shmnassets.s3.amazonaws.com/catalogues/shimano2013.pdf" target="_blank"  >Catalogo completo- 65 MB</a></li>
     <li><a href="https://shmnassets.s3.amazonaws.com/catalogues/Spinning.pdf" target="_blank"  >Catalogo spinning- 12 MB</a></li>
      <li><a href="https://shmnassets.s3.amazonaws.com/catalogues/Mare.pdf" target="_blank"  >Catalogo mare- 10 MB</a></li>
       <li><a href="https://shmnassets.s3.amazonaws.com/catalogues/Mulinelli.pdf" target="_blank"  >Catalogo Mulinelli- 21 MB</a></li>
        <li><a href="https://shmnassets.s3.amazonaws.com/catalogues/Carpfishing.pdf" target="_blank"  >Catalogo Carp Fishing- 9 MB</a></li>
         <li><a href="https://shmnassets.s3.amazonaws.com/catalogues/Pescaalcolpo.pdf" target="_blank"  >Catalogo pesca al colpo- 11 MB</a></li>
         <li><a href="https://shmnassets.s3.amazonaws.com/catalogues/Accessori.pdf" target="_blank"  >Catalogo accessori - 10 MB</a></li>
  </ul>
</div>
	</div>
<div class="span3">
		<a href="http://issuu.com/shimanoitalyfishing/docs/shimano_saltwater_predator_2013 " target="_blank">
			<img src="/images/cataloghi/cat_sw.jpg" height="300"></a>
		<br>
		<br>
		<a href="https://s3-eu-west-1.amazonaws.com/shmnassets/catalogues/saltwater_boat_2013.pdf" target="_blank" class="btn btn-primary btn-mini">Scarica in PDF - 12 MB</a>
	</div>



	<div class="span3">
		<a href="http://issuu.com/shimanoitalyfishing/docs/shimano_freshwater_predator_2013" target="_blank">
			<img src="/images/cataloghi/cat_sw2.jpg" height="300"></a>
		<br>
		<br>
		<a href="https://s3-eu-west-1.amazonaws.com/shmnassets/catalogues/spinning_2013.pdf" target="_blank" class="btn btn-primary btn-mini">Scarica in PDF - 21 MB</a>
	</div>
<div class="span3">
		<a href="http://issuu.com/shimanoitalyfishing/docs/catalogo-rapala-2013-italian" target="_blank">
			<img src="/images/cataloghi/cat_rapala.jpg" height="300"></a>
		<br>
		<br>
		<a href="https://shmnassets.s3.amazonaws.com/catalogues/Rapala2013.pdf" target="_blank" class="btn btn-primary btn-mini">Scarica in PDF - 36 MB</a>
	</div>

</div><div class="row-fluid">

	<div class="span3">
		<a href="http://issuu.com/shimanoitalyfishing/docs/sif_ccg_ace_sufix_website2" target="_blank">
			<img src="/images/cataloghi/cat_carp.jpg" height="300"></a>
		<br>
		<br>
		<a href="https://s3-eu-west-1.amazonaws.com/shmnassets/catalogues/SIF+CCG_Ace_Sufix_WebsiteBIS.pdf" target="_blank" class="btn btn-primary btn-mini">Scarica in PDF - 4 MB</a>
	</div>


	<div class="span3">
		<a href="http://issuu.com/shimanoitalyfishing/docs/sif_ccg_dynamite_website__1_" target="_blank">
			<img src="/images/cataloghi/cat_dyna.jpg" height="300"></a>
		<br>
		<br>
		<a href="https://s3-eu-west-1.amazonaws.com/shmnassets/catalogues/SIF+CCG_Dynamite_Website.pdf" target="_blank" class="btn btn-primary btn-mini">Scarica in PDF - 4 MB</a>
	</div>

	<div class="span3">
		<a href="http://issuu.com/shimanoeuropefishing/docs/cat_gloomis_2012_it?mode=window&backgroundColor=%23222222" target="_blank">
			<img src="/images/cataloghi/cat_loomis.jpg" height="300"></a>
		<br>
		<br>
		<a href="https://shmnassets.s3.amazonaws.com/catalogues/g_loomis_2012.pdf" target="_blank" class="btn btn-primary btn-mini">Scarica in PDF - 7 MB</a>
	</div>



	



	






	<div class="span3">
		<a href="http://issuu.com/shimanoeuropefishing/docs/shimano_egi_fishing_2011?mode=window&backgroundColor=%23222222" target="_blank">
			<img src="/images/cataloghi/cat_egi.jpg" height="300"></a>
		<br>
		<br>
		<a href="https://shmnassets.s3.amazonaws.com/catalogues/egi_fishing_2012.pdf" target="_blank" class="btn btn-primary btn-mini">Scarica in PDF - 4 MB</a>
	</div>
</div>