<% if params.has_key?(:fb) %>
<ul id="community">
  <li><%= link_to 'Carica la tua cattura', new_photo_path, :class => 'btn btn-info', :target => '_blank'%></a></li>
	<li><%= link_to "Visualizza l'archivio", galleries_path, :class => 'btn', :target => '_blank' %></a></li>
</ul>
<% else %>
<%= link_to 'Carica la tua cattura', new_photo_path, :class => 'btn btn-info'%>
<%= link_to "Visualizza l'archivio", galleries_path, :class => 'btn' %>

<% end %>