<div>
   <p>
    <strong>CONCORSO 12 MESI CON SHIMANO</strong>
</p>
<p>
    <strong>Regolamento:</strong>
</p>
<p>
    Art.1: SCOPO
</p>
<p>
    Shimano Italy Fishing s.r.l. intende indire il presente concorso al fine di premiare gli utenti registrati al sito Shimanofishnetwork.it che pubblicheranno
    delle foto di catture di pesci in ambiente naturale e con attrezzatura Shimano e/o G.Loomis.
</p>
<p>
    Art.2: REQUISITI PER LA PARTECIPAZIONE
</p>
<p>
    Il concorso è riservato ai soli utenti registrati regolarmente al sito Shimanofishnetwork.it che abbiano compiuto la maggiore età.
</p>
<p>
    Art.3: PERIODO DI SVOLGIMENTO
</p>
<p>
    Le foto potranno essere caricate nella sezione “community – avventure di pesca” a partire dal 01/05/14 fino al 30/05/14. Le votazioni finali si terranno
    sulla pagina facebook <a href="http://www.facebook.com/Shimano.Pesca">http://www.facebook.com/Shimano.Pesca</a> attraverso il sistema di like dal 05/05/14
    al 15/05/14.
</p>
<p>
    Art.4: MODALITA’ DI PARTECIPAZIONE
</p>
<p>
Per partecipare al concorso, gli utenti interessati dovranno caricare le proprie immagini sulla pagina    <a href="http://shimanofishnetwork.it/community">http://shimanofishnetwork.it/community</a>, accettando preventivamente la liberatoria proposta.
</p>
<p>
    Le immagini dovranno essere caricate entro e non oltre il 30/04/14; talchè non verranno accettate immagini che perverranno oltre il suddetto termine.
</p>
<p>
    Ogni utente avrà la possibilità di caricare non più di cinque immagini che saranno comunque soggette ad una selezione preventiva ed insindacabile
    effettuata da Shimano Italy Fishing.
</p>
<p>
    Shimano esaminerà le foto pervenute e sceglierà le migliori a proprio insindacabile giudizio. Le foto selezionate parteciperanno alla fase finale.
</p>
<p>
    Art.5 TEMA DEL CONCORSO
</p>
<p>
    Gli utenti interessati alla partecipazione del concorso dovranno inviare immagini di catture di pesci in ambiente naturale, senza la presenza di sangue o
    ferite, effettuate con attrezzatura Shimano e/o G.Loomis e in cui non compaiano altre attrezzature e marchi di ditte concorrenti, fatta eccezione per le
    attrezzature e i marchi Rapala e le attrezzature e i marchi facenti parte del gruppo Rapala.
</p>
<p>
    Art.6 PREMI E PREMIAZIONE
</p>
<p>
Le due immagini più votate tramite il sistema di like sulla pagina    <a href="http://www.facebook.com/Shimano.Pesca">http://www.facebook.com/Shimano.Pesca</a> nel periodo tra il 05/05/14 e il 31/05/14 verrà pubblicata
    all’interno del calendario Shimano 2015. Le immagini vincenti e i nomi degli utenti che le hanno pubblicate saranno comunicati tramite il sito
    Shimanofishnetwork.it e la pagina facebook <a href="http://www.facebook.com/Shimano.Pesca">http://www.facebook.com/Shimano.Pesca</a>.
</p>
<p>
    Art.7 FACOLTA’ PER L’ORANIZZATORE
</p>
<p>
    L’organizzatore si riserva a proprio insindacabile giudzio di sospendere o annullare il presente concorso dandone pronta notizia ai partecipanti.
</p>
<p>
    In nessun caso sarà restituito il materiale fotografico pervenuto.
</p>
<p>
    Art.9 ACCETTAZIONE DEL REGOLAMENTO
</p>
<p>
    La partecipazione al presente concorso comporta l’accettazione incondizionata dei partecipanti di tutte le clausole del presente regolamento.
</p>
</div>