<div id="footer" class="container">
  <div class="row">
    <div class="col span_3">
      <h2>Corporate</h2>
      <a href="/azienda">Azienda</a>
      <a href="/garanzia">Garanzia ed assistenza</a>
      <a href="/blog">Blog </a>
      <a href="/pro-staff">Pro Staff</a>
      <a href="/p.pdf" target="_blank">Privacy</a>
      <a href="/dealers" >Area Dealers</a>
      <a href="https://www.iubenda.com/privacy-policy/25233889/cookie-policy" target="_blank">Cookie Policy</a>
      <a href="https://www.iubenda.com/privacy-policy/25233889/" target="_blank">Privacy Policy</a>
      <a href="https://www.shimano.com/en/term_of_use.html" target="_blank">Termini di utilizzo</a>
    </div>
    <div class="col span_3">
      <h2>Ultime domande</h2>
      <% @questions_f.each do |q| %>
        <a href="<%= question_path(:category_url => q.question_subcategory.question_category.url, :subcategory_url => q.question_subcategory.url , :id => q) %>"><%= q.title %></a>
      <% end %>
    </div>
    <div class="col span_3">
      <h2>Community</h2>
      <a href="/community/eventi">Eventi</a>
      <a href="community/galleria">Foto</a>
    </div>
    <div class="col span_3">
      <h2>Ultimi articoli dal blog</h2>
      <% @last_blog.each do |b| %>
        <a href="/blog/<%= b.date %>/<%= b.title.parameterize %>"><%= b.title %></a>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col span_12 black">
      <p>Copyright SHIMANO Italy Fishing s.r.l. - Via Privata Maestri del Lavoro, 29 - Codice Fiscale e P. IVA 10169190153</p>
    </div>
  </div>
</div>