<div id="modal" class="modal">
   <h2>Login</h2>
    <p>__</p>
 <%= form_for("session", :html => { :class => "form-inline"}, :url => fisher_session_path, :method => :post) do |f|%>
    <%= f.text_field :email, :value => 'Email' %>
    <%= f.password_field :password, :value => 'password'  %>
     <%= f.submit 'Entra', :class => 'btn blue' %>
    <label class="checkbox">
<%= f.check_box :remember_me %> Ricorda la password
</label>
<p>Non sei ancora registrato?
<%= link_to "Registrati", new_fisher_registration_path, :class => '' %></p>


    <% end %>
</div>

<!--div id="topheader" class="container">
  <ul>
    <li><a href="<%= store_locator_path %>"><%= fa_icon "map-marker" %> <span>STORE LOCATOR</span></a></li>
    <li><a href="/garanzia"><%= fa_icon "ambulance" %> <span>ASSISTENZA</span></a></li>
    <% if fisher_signed_in? %>
     <li><a target="_blank" href="http://us4.campaign-archive2.com/home/?u=5dfb7f934af8aa596db2448c1&id=e820fee6c5"><%= fa_icon "envelope-o" %> <span>NEWSLETTER</span></a></li>
    <% else %>
     <li><a target="_blank" href="/garanzia/registrati"><%= fa_icon "envelope-o" %> <span>NEWSLETTER</span></a></li>
    <% end %>
   
    <%= render :partial => "shared/#{fisher_signed_in? ? 'logged_in' : 'login'}_box" %>
  </ul>
</div-->
<div id="header" class="container">
  <div class="row main">
    <div class="col span_6 logo"><a href="/"><img src="/logo.jpg" alt="" class="logo"></a><a href="#" class="js-menu responsivemenu"><%= fa_icon "bars" %></a></div>
    <div class="col span_6" id="socialnav">
      <a href="http://fish.shimano-eu.com/content/eu/it_it/Home.html" target="_blank"><i class="shimano"><span>s</span></i></a>
      <a href="https://www.youtube.com/user/FishWithShimanoItaly/videos" target="_blank"><%= fa_icon "youtube-square" %></a>
      <a href="https://www.facebook.com/Shimano.Pesca?fref=ts" target="_blank"><%= fa_icon "facebook-square" %></a>
      <a href="https://twitter.com/ShimanoPescaIt" target="_blank">
        <%= fa_icon "twitter-square" %>
      </a>
      <a href="https://www.instagram.com/shimanopesca/" target="_blank">
        <%= fa_icon "instagram" %>
      </a>

    </div>
  </div>
  <div class="row main">
    <div class="row span_12">
      <ul class="js-menu-target">
    <li><a href="/garanzia">AREA PESCATORI</a>
    
  </li>

    <li>
      <a href="/cataloghi-shimano">CATALOGHI</a>
      

    </li>
    <li>
      
  <a href="<%= pro_staff_path %>">AMBASSADOR</a>
    </li>
     <li>
      <a href="/shimano-shop">STORE LOCATOR</a>
    </li>

    <li>
      <a href="/blog">BLOG</a>
      <div class="subnav">
      <div class="row contents prodotti">
        <div class="col span_3">
          <h2>Garanzia <strong>Shimano</strong></h2>
          <img src="/gar.jpg" alt="">
          <a href="/blog"><%= fa_icon "chevron-right" %> Iscriviti</a>
          <a href="#"><%= fa_icon "chevron-right" %> Registra il tuo prodotto</a>
          <a href="#"><%= fa_icon "chevron-right" %> F.A.Q.</a>
        </div>
        <div class="col span_3">
          <h2>Manuali <strong>Shimano</strong></h2>
          <img src="/man.jpg" alt="">
          <a href="#"><%= fa_icon "chevron-right" %> Esplosi Mulinelli</a>
          <a href="#"><%= fa_icon "chevron-right" %> Tutorial</a>
        </div>

      </div>
    </div>

    </li>

  </ul>
    </div>
  </div>
  
  
</div>