<div>

<h3>Dichiarazione liberatoria per upload di materiale fotografico e video.
        </h3>

    <p align="LEFT">
Caricando il proprio materiale fotografico e/o audio/video sul portale Shimano <a href="http://www.shimanofishnetwork.it/">http://www.shimanofishnetwork.it</a> l’utente previamente registrato tramite il modulo online
        dichiara e garantisce sotto la propria ed esclusiva responsabilità, di essere il solo ed esclusivo autore dello stesso ed, ai sensi della Legge n. 633
        del 22 aprile 1941 e successive modifiche (normativa sul Diritto d’Autore in Italia), autorizza Shimano Italy Fishing s.r.l. ad utilizzare - e, in
        particolare, ma non in senso limitativo, a riprodurre, pubblicare, diffondere e comunicare al pubblico con qualsiasi mezzo il materiale caricato. A
        titolo esemplificativo le fotografie potranno essere utilizzate a fini pubblicitari, promozionali e di marketing, attraverso la stampa di poster,
        inviti, pubblicazioni interne ed esterne, su sito Internet ed attraverso altri canali telematici e “new media”, escluso il loro utilizzo a fini
        commerciali.
        <br/>
    </p>
    <p>
        Il diritto di utilizzare il materiale fotografico e/o audio-video nei termini sopra indicati non è subordinato all’assolvimento da parte di Shimano
        Italy Fishing s.r.l. di alcun obbligo ovvero onere e deve intendersi interamente conferito a titolo gratuito.
    </p>
    <p>
        Gli autori si impegnano altresì a non pretendere alcun compenso economico per l’eventuale pubblicazione su riviste, giornali e/o siti web del materiale
        presentato e caricato.
    </p>
    <p>
        Gli organizzatori si riservano il diritto di interrompere o prolungare il caricamento e/o la pubblicazione del materiale fornito dall’utente per
        qualsiasi problema di natura tecnica, organizzativa o legale.
    </p>
    <p>
        Nessuna garanzia può essere data da Shimano Italy Fishing s.r.l. riguardo alla costante e completa fruibilità del sito internet e della applicazioni
        connesse.
    </p>
    <p>
        Ai sensi della Legge n.196/2003, ogni utente con la sottoscrizione della presente dichiarazione liberatoria esprime altresì il consenso al trattamento
        dei propri dati personali nei limiti e per le finalità di cui alla medesima.
    </p>
    <p>
        L’eventuale prestazione di dichiarazioni mendaci e/o non veritiere costituiranno motivo di immediata eliminazione del profilo utente e di cancellazione
        del materiale caricato, ferma restando la facoltà di Shimano Italy Fishing s.r.l. di tutelare i propri diritti presso la A.G. competente.
    </p>
    <p>
        La responsabilità sui contenuti caricati è da attribuirsi in via esclusiva agli autori dei contenuti stessi.
    </p>
    <p>
        Shimano Italy Fishing s.r.l. declina espressamente ogni responsabilità sulle contenuto del materiale caricato dagli utenti e su eventuali violazioni
        del copyright.
    </p>
    <p>
        L’autore dichiara sin d’ora ed espressamente, sotto la propria completa ed esclusiva responsabilità, di essere in possesso delle liberatorie dovute per
        legge da parte dei soggetti ritratti/ripresi, e si assume completamente la responsabilità in caso di pretese avanzate da parte dei soggetti
        ritratti/ripresi e in generale di terzi.
    </p>
    <p>
        In ogni caso gli utenti che caricano materiale sul portale Shimano si obbligano formalmente a tenere manlevata ed indenne Shimano Italy Fishing s.r.l.
        da ogni pretesa, domanda, responsabilità, conseguenza patrimoniale e non patrimoniale ed in generale da ogni e qualsiasi diritto o pretesa di terzi,
        connessa, concernente o comunque riconducibile al materiale fotografico/audio-video caricato.
    </p>
    <p>
        Shimano Italy Fishing s.r.l. si riserva il diritto di filtrare il caricamento del materiale e di non dar corso alla pubblicazione di immagini e/o
        materiale audio-video il cui contenuto tratti di soggetti minorenni ovvero di pornografia, pedopornografia, violenza o intolleranza razziale, ovvero
        sia lesivo della privacy altrui ovvero dell’immagine, della reputazione e dell’onorabilità di persone terze o delle leggi, ovvero sia volgare,
        razzista, classista o comunque reprensibile, ovvero possa arrecare danno, in qualsivoglia modo, a minori di età.
    </p>
    <p>
        Anche se già pubblicati, le immagini ed il materiale audio-video di cui al precedente capoverso potranno essere rimossi e definitivamente distrutti da
        Shimano Italy Fishing s.r.l. a suo insindacabile giudizio e senza preavviso.
    </p>
</div>
