   <div id="loginbar" class="row-fluid hidden-desktop">
      <div class="span12"><%= render :partial => "shared/#{fisher_signed_in? ? 'logged_in' : 'login'}_box" %></div>
  </div>
   <div id="header">
      <div class="row-fluid" style="margin-bottom:15px;">
        <div class="span4">
     <a href="/"><img src="/assets/logo.png"></a>
   </div>
   <div class="span8 visible-desktop">
    <%= render :partial => "shared/#{fisher_signed_in? ? 'logged_in' : 'login'}_box" %>
    <a href="https://www.facebook.com/Shimano.Pesca" class="social fb" target="_blank"></a>
    <a href="http://www.youtube.com/FishWithShimanoItaly" class="social yt" target="_blank"></a>
    <a href="http://www.fishwithgloomis.it/" class="social gl" target="_blank"></a>
    <a href="http://www.dynamitebaits.eu.com/it/" class="social dy" target="_blank"></a>
    <a href="http://fish.shimano-eu.com/content/eu/it_it/Home.html" class="social sh" target="_blank"></a>
   </div>
 </div>
    <div id="socialbar" class="row-fluid hidden-desktop" style="margin-bottom:20px;">
      <div class="span12">
    <a href="https://www.facebook.com/Shimano.Pesca" class="social fb" target="_blank"></a>
    <a href="http://www.youtube.com/FishWithShimanoItaly" class="social yt" target="_blank"></a>
    <a href="http://www.fishwithgloomis.it/" class="social gl" target="_blank"></a>
    <a href="http://www.dynamitebaits.eu.com/it/" class="social dy" target="_blank"></a>
    <a href="http://fish.shimano-eu.com/content/eu/it_it/Home.html" class="social sh" target="_blank"></a>
  </div>
</div>
   
     
    </div>