<div class="user_navigation container">
  
  <a href="/garanzia/prodotti">PRODOTTI E GARANZIA</a>
  <!--a href="/garanzia/eventi">EVENTI SPECIALI</a-->
  <a href="<%= ask_shimano_path %>">COMMUNITY</a>
  <a href="/community/riserva">STELLA EXCLUSIVE NETWORK</a>

</div>