<div id="garanzia" class="container">
  
  <div class="row header">
    <div class="col span_12">
      <h1>Modifica i tuoi <strong>dati di registrazione</strong></h1>
       <p>Compila tutti i dati nel modulo sottostante per poter modificare i tuoi dati</p>
   <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
    </div>
      
  </div>

  <div class="row contents">
  <div class="col span_12">
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= render :partial => 'fishing_club/shared/fisher_fields', :locals => {:f => f} %>

  <%= render :partial => 'fishing_club/shared/fisher_profile_fields', :locals => {:f => f} %>
  <div><%= f.submit "Salva", :id => 'fisher_registration_submit' , :class => 'btn blue' %></div>
<% end %>  
<h2>Cancellati</h2>
<p>ATTENZIONE : Cancellandoti perderai il diritto al terzo anno di garanzia commerciale Shimano</p>
<p><%= link_to "Cancella la mia iscrizione", destroy_fisher_registration_path, :confirm => "Sei sicuro di voler cancellare la tua iscrizione? Cancellandoti perderai il diritto al terzo anno di garanzia commerciale Shimano", :method => :delete, :class => 'btn red' %>.</p>


</div>
</div>
</div>
</div>

