<div id="garanzia" class="container">
  
  <div class="row header">
    <div class="col span_12">
      <h1>Registrazione <strong>Shimano Fish Network</strong></h1>
       <p>Compila tutti i dati nel modulo sottostante per poter registrare i tuoi prodotti Shimano</p>
   <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
    </div>
      
  </div>

  <div class="row contents">
  <div class="col span_12">
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  
  <%= render :partial => 'fishing_club/shared/fisher_fields', :locals => {:f => f} %>

  <%= f.input :password, :required => true, :label => "Password - Almeno 6 caratteri", :wrapper_html => { :class => 'left' } %>
  <%= f.input :password_confirmation, :required => true%>
  <%= render :partial => 'fishing_club/shared/fisher_profile_fields', :locals => {:f => f} %>
  <h2>Informativa privacy</h2>
<p><a href="/p.pdf" target="_blank" class="btn grey">Leggi informativa privacy</a></p>
<p>Acquisite le informazioni fornite dal titolare del trattamento ai sensi dell'articolo 13 del D.Lgs. 196/2003, l'interessato:</p>
  <%= f.input :privacy, 
              :collection =>  [ [I18n.t('simple_form.acconsento'), true], [I18n.t('simple_form.non_acconsento'), false] ], 
              :as => :radio, :label_html => { :class => 'nomargin' } %>
  <%= f.input :newsletter, 
              :collection =>  [ [I18n.t('simple_form.acconsento'), true], [I18n.t('simple_form.non_acconsento'), false] ], 
              :as => :radio, :label_html => { :class => 'nomargin' } %>
  <%= f.input :third_party, 
              :collection =>  [ [I18n.t('simple_form.acconsento'), true], [I18n.t('simple_form.non_acconsento'), false] ], 
              :as => :radio, :label_html => { :class => 'nomargin' } %>
  <div><%= f.submit "Iscriviti", :id => 'fisher_registration_submit', :class => 'btn grey'  %></div>
<% end %>  
</div>
</div>
</div>
</div>