<div id="home" class="container">
<div class="hero">
  <div class="cycle-slideshow" data-cycle-fx=fade data-cycle-timeout="6000" data-cycle-manual-speed="900" data-cycle-slides="> div">
  <span class="cycle-pager"></span> 
   <% @highlights.each_with_index do |highlight, i| %>
    <div class="slide">
    <img src="<%= highlight.image.url %>" alt="" data-mobile="<%= highlight.image.url(:square) %>">
    <div class="caption">
      <h3>ULTIME NOVITA'</h3>
      <span class="line"></span>
      <h2><%= highlight.title %></h2>
      <%= link_to "Leggi tutto", highlight.link, :target => (highlight.new_window? ? '_blank' : ''), :class => 'btn' %>
    </div>
  </div>
    <% end %>
 
  </div>
</div>
<div class="row video--garanzia" >
  <div class="col span_8">
    <div class="video">
      <iframe width="1280" height="720" src="https://www.youtube.com/embed/<%= @video.video %>?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen autoplay></iframe>
     </div>
  </div>
  <div class="col span_4">
    <video  autoplay loop muted poster="/bg.jpg">
      <source src="/bg.mp4" type="video/mp4">
    Your browser does not support the video tag.
    </video>
    <div class="garanzia-box">
      <div class="content">
        <%= fa_icon "medkit" %>
        <h2>GARANZIA SHIMANO</h2>
        <h3>3 ANNI</h3>
        <p>Effettua subito l'accesso con i tuoi dati o registrati immediatamente per entrare a far parte di Shimano Fish Network !</p>
        <a href="/garanzia" class="btn white">ISCRIVITI SUBITO</a>
      </div>
    </div>
  </div>
</div>


</div>