<div id="events" class="container">
    <div class="row header">
    <div class="col span_12"><h1><strong>Shimano</strong> eventi</h1><p>Resta aggiornato sugli eventi che Shimano organizza in tutta Italia per conoscerti di persona e per permetterti di toccare con mano i nostri prodotti. Avrai la possibilità di vedere in anteprima i nuovi prodotti, scoprire tutto sulle tecnologie con cui Shimano crea e molto altro</p>
<p>Visualizza <a href="/community/eventi/archive">l'archivio</a></p>
</div>
  </div>

<% @events.each_slice(4) do |slice| %>
        <div class="row events">
            <% slice.each_with_index do |event| %>


                <a href="<%= event_path(:title => event.title.parameterize, :id => event.id) %>" class="col span_3">
                   <% unless event.image? == false %>
                  <img src="<%= event.image.url(:big) %>">
                    <% end %>
                   <div class="caption" style="text-align:center;">
                    <span class="date"><%= event.start_date.strftime("%d/%m/%Y") %></span>
                    <h2><%= event.title %></h2>
                    <p><%= truncate(event.description, length: 200, separator: ' ')  %></p>
                    <span class="btn grey">LEGGI TUTTO</span>
                  </div>
                </a>
       <% end %>
      </div>
      <% end %>
    </div>