<div id="events" class="container">
    <div class="row header">
    <div class="col span_12"><h1><strong>Shimano</strong> eventi</h1><p>Resta aggiornato sugli eventi che Shimano organizza in tutta Italia per conoscerti di persona e per permetterti di toccare con mano i nostri prodotti. Avrai la possibilità di vedere in anteprima i nuovi prodotti, scoprire tutto sulle tecnologie con cui Shimano crea e molto altro</p>
<p>Visualizza <a href="/community/eventi/archive">l'archivio</a></p>
</div>
  </div>
  <div class="row events">
<h2>Partecipanti scontati</h2>
<p>__</p>
<p>
	<table>
<% @event.user_events.each do |user_event| %>
<TR>
<td width="20%"><%= user_event.fisher %></td><td  width="20%"><%= user_event.fisher.email %></td><td  width="20%"><%= user_event.store %></td>
</tr>
<% end %>
</table>
</div>