<%= render :partial => 'shared/user_navigation' %>
<div id="events" class="container">
    <div class="row header">
      <div class="col span_12"><h1><strong>Stella</strong> exclusive network</h1><p>
        In esclusiva per gli utenti registrati shimano, la lista dei nostri dealer dove trovare il nuovo Stella SWC.
      </p>
      </div>
    </div>
    <div class="reserve_block">
      
      <div class="reserve_block_header">
        <div class="reserve_block_action active" data-target="1">1. Scegli il Prodotto</div>
        <div class="reserve_block_action" data-target="2">2. Scegli il Negozio più vicino a te</div>
        <div class="reserve_block_action" data-target="3">3. Prenota il tuo prodotto</div>
      </div>
      <div class="reserve_block_body">
        <div class="reserve_block_cont active">
         <fieldset id="group1">
         <div class="reserve_block_list">
          <label>
            <img src="/new_stella.jpg">
            <input type="radio" value="stella" name="group1">STELLA SW-C 8000 HG 
          </label>
           <label>
            <img src="/new_stella.jpg">
            <input type="radio" value="stella" name="group1">STELLA SW-C 8000 PG 
          </label>
           <label>
             <img src="/new_stella.jpg">
            <input type="radio" value="stella" name="group1">STELLA SW-C 10000 PG 
          </label>
           <label>
            <img src="/new_stella.jpg">
            <input type="radio" value="stella" name="group1">STELLA SW-C 14000 XG 
          </label>
        </div>
        </fieldset>
        <a href="#" class="btn blue js-reserve-next">AVANTI</a>
        </div>
        <div class="reserve_block_cont">
          <div id="map" class="reserve_block_map" data-markers="<%= @stores.to_json(:methods => :lat_lng) %>"></div>
        </div>
        <div class="reserve_block_cont">
          <div class="reserve_block_store">
          <% @stores.each do |store| %>
          <div class="reserve_block_store_detail">
          <h3>Prenota il tuo stella da <%= store.name %></h3><p>
                    <%=store.address %><br>
                    <%=store.half_address %><br>
                    Tel. <%=store.phone %><br></p>
         <div class="reserve_block_store_actions">
         <a href="<%= "https://www.google.it/maps/place/#{store.complete_address.gsub(' ','+')}" %>" target="_blank" class="reserve_block_store_action btn blue">VEDI SU GOOGLE MAPS</a>
         <% if store.website.present? %>
        <a href="<%= store.nice_url %>" target="_blank" class="reserve_block_store_action btn blue">VISTA IL SITO</a>
        <%end%>
        <% if store.phone.present? %>
        <a href="tel:<%= store.phone %>" target="_blank" class="reserve_block_store_action btn blue">TELEFONA</a>
        <%end%>
         <% if store.email.present? %>
        <a href="mailto:<%= store.email %>" target="_blank" class="reserve_block_store_action btn blue">MANDA UNA MAIL</a>
        <%end%>
         </div>
          </div>
          <%end%>
          </div>

</div>
        </div>


      </div>

    </div>
</div>
