<% @page_title = "Shimano Community" %>
<div id="events">
    <div class="row header">
    <div class="col span_12"><h1><%= @event.title %></h1>
<p>Torna a <a href="/community/eventi">tutti gli eventi</a></p>
</div>
  </div>

<div class="row event">
	<div class="col span_6">
		
				<img src="<%= @event.image.url(:big) %>" class="fullexpert">
		</div>
	<div class="col span_6">
 		<span class="profile"><%= @event.start_date.strftime("%d/%m/%Y") %>
 			<% if @event.end_date? %> - <%= @event.end_date.strftime("%d/%m/%Y") %><% end %></span>
 		<%= simple_format(@event.description) %>
 		<p>
 			<% if @event.link %>
 			<a href="<%= @event.link %>" class="btn grey" target="_blank">Scopri di più</a>&nbsp;
 			<% end %>
 			<% if @event.partecipate == true && @event.start_date > Date.today %>
 			<% if current_fisher %>
	 			<% if current_fisher.events.pluck(:id).include? @event.id %>
		 			<span class="btn grey">Parteciperai a questo evento</span>
		 		<% else %>
 					<a href="<%= event_path(:title => @event.title.parameterize, :id => @event.id) %>/attend" class="btn grey">Partecipa</a>
 				<% end %>
 			<% else %>
 					<a href="<%= event_path(:title => @event.title.parameterize, :id => @event.id) %>/attend" class="btn grey">Partecipa</a>
 			<% end %>
 			<% end %>
 			<!-- a href="/regolamento.pdf" class="btn grey">Scarica il regolamento</a -->
 		</p>
		</div>
	</div>
		  </div>