<div class="span3" style="margin-top:10px">
  <div class="grey">
    <form class="form-search" method="get" action="<%= catalogue_items_path(:product_type => @product_type.url, :product_family => @product_family.url)  %>">
      <% if params.has_key?(:q) %>
        <input type="text" class="input-medium search-query" placeholder="<%= params[:q] %>" name="q">
    <% else %>
        <input type="text" class="input-medium search-query" placeholder="Cerca" name="q">
    <% end %>
    </form>
    <div style="clear:both;"></div>
    <ul class="nav nav-list">
      <% @product_types.each do |type| %>
        <% if @product_type == type %>
        <li><h3><%= @product_type.name %></h3></li>
      <% type.product_families.each do |family| %>
        <li class="fullwidth <%= family == @product_family ? 'active' : nil %>"><%= link_to family.name, catalogue_items_path(:product_type => @product_type.url, :product_family => family.url)%></li>
    <% end %>
      <li class="fullwidth divider"></li>
    <% else %>
        <li class="fullwidth"><h3><%= link_to type.name, product_families_path(:product_type => type.url) %></h3></li>
      <li class="fullwidth divider"></li>
    <% end %>
    <% end %>
    </ul>
  </div>
</div>
