<img src="/images/about.jpg" class="fullwidth">
<div style="margin:20px">
  <h1><%= @product_type.name %> Shimano</h1>
  <p>__</p>
</div>
   <div class="row-fluid">
    <div class="span3" style="margin-top:10px">
      <div class="grey">

    <form class="form-search" method="get">
      <% if params.has_key?(:q) %>
       <input type="text" class="input-medium search-query" placeholder="<%= params[:q] %>" name="q">
      <% else %>
       <input type="text" class="input-medium search-query" placeholder="Cerca" name="q">
      <% end %>
 
</form>
<div style="clear:both;"></div>
<ul class="nav nav-list" style="padding-bottom:0px">
          <li><h3  id="filtra" data-toggle="collapse" data-target="#tags" class="pointer">FILTRA</h3></li>
          <div id="tags" class="collapse">  <% @tags.each do |tag| %>
       <li class="fullwidth"> <%= tag_link(tag, @product_type, @product_family) %></li>
      <% end %> </div>
    </ul>
    <div style="clear:both;"></div>
    <ul class="nav nav-list">
      <% @product_types.each do |type| %>
        <% if @product_type == type %>
          <li><h3><%= @product_type.name %></h3></li>
          <% type.product_families.each do |family| %>
            <li class="fullwidth <%= family == @product_family ? 'active' : nil %>"><%= link_to family.name, catalogue_items_path(:product_type => @product_type.url, :product_family => family.url)%></li>
          <% end %>
        <% else %>
          <li class="fullwidth"><h3><%= link_to type.name, product_families_path(:product_type => type.url), :class => 'noborder' %></h3></li>
        <% end %>
      <% end %>
    </ul>

    
 

   </div>
  </div>


    <div class="span9">
        <% if @products.empty? %>
        <h2>Non ci sono prodotti, prova un'altra ricerca</h2>
        <% else %>

        
     

        <% @products.each_slice(3) do |slice| %>
        <div class="row-fluid" style="margin-top:5px">
            <% slice.each_with_index do |product, i| %>


              <div class="span4">
                <div class="greyp">
                <a href="<%= catalogue_item_path(:product_type => @product_type.url, :product_url => product.url) %>">
                   <% unless product.product_images.empty? %>
                    <div class="cannacont" style="background-image:url('<%= product.product_images.first.image.url(:big) %>');"></div>
                      </a>
                    <% end %>
                   <div class="caption" >
              <a href="<%= catalogue_item_path(:product_type => @product_type.url, :product_url => product.url) %>" class="thumblink" style="text-align:center;"> -- <%= product.name %>
                </a>
                     </div>
               </div>
               </div>
       <% end %>
      </div>
      <% end %>
<%= will_paginate @products, :next_label => 'Succ.', :previous_label => 'Prec.' %>
  <% end %>
</div>
  </div>
<div style="clear:both;"></div>
