<img src="/images/about.jpg" class="fullwidth">
<div style="margin:20px">
  <h1>Attrezzatura per la pesca Shimano</h1>
  <p>__</p>
</div>
<% @product_types.each_slice(3) do |slice| -%>
<div class="row-fluid" style="margin-top:10px">
  <% slice.each do |type| %>
  <div class="span4 bordered" style="position:relative;">
    <div class="fullpadding">
      <div class="equalheight">
        <%= simple_format(type.description) %>
      </div>
      <div class="btn-group contain">
        <a href="<%= product_families_path(:product_type => type.url) %>" class="coolbtn"><%= type.name %>
        </a>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% end %>

