<img src="/images/about.jpg" class="fullwidth">
<h2><%= @product_type.name %>sd</h2>
<ul>
  <% @product_families.each do |family| %>
    <li>
    <p><%= link_to family.name, catalogue_items_path(:product_type => @product_type.url, :product_family => family.url) %></p>
    <p><%=simple_format family.description %></p>
    </li>
  <% end %>
</ul>


