<img src="/images/about.jpg" class="fullwidth">
<div class="row-fluid">
<%= render :partial => 'sidebar' %>
<div id="product" class="span9 leftspace" style="margin-top:10px">
 <div class="padder grey"> 
  <div class="">
<h1><%= @product_type.name %> <%= @product.name %></h1>
   <% unless @product.product_images.empty? %>
<div id="myCarousel" class="carousel slide" style="background-color:White;min-height:350px;">
  <!-- Carousel items -->
  <div class="carousel-inner">
     <% @product.product_images.each_with_index do |product_image, i| %>
      <div class="item <% if i==0 %>active<%end%>" style="height:350px;"> 
        <div class="prodimgcont">
          <div class="prodimage">
           <img class="primg" src="<%= product_image.image.url %>">
         </div>
</div>
    </div>
    <% end %>
  </div>
  <!-- Carousel nav -->
  <% if @product.product_images.length > 1 %>
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  <% end %>
</div>
 <% end %>
 <div class="socialbuttons">
<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style ">
<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
<a class="addthis_button_tweet"></a>
<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
<a class="addthis_counter addthis_pill_style"></a>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4e3173ec6078c1ec"></script>
<!-- AddThis Button END -->
</div>
</div>
<div class="row-fluid">
  <div class="span7">
    <div class="padder">

<%=auto_link(simple_format(@product.description), :html => { :target => '_blank' } ) %>
<% unless @product.product_attachments.empty? %>
  <h3 style="clear:left;padding-top:10px">ESPLOSI E MANUALI</h3>

    <% @product.product_attachments.each do |attachment| %>
<%= link_to (attachment.label || "Scarica allegato"), attachment.url.url, :target => '_blank', :class => 'btn' %>
    <% end %>

<% end %>
<div style="clear:both;"></div>
<h3 style="clear:left;padding-top:10px">DISCUSSIONI</h3>

<a href="/ask-shimano/tecniche-e-attrezzatura/new-question/expert" class="btn">Fai una domanda</a>

</div>
  </div>
  <div class="span5">
    <div class="padder">
      <h3>Modelli</h3>
<%=simple_format @product.sizes %>
  <h3>Tags</h3>
  <% @product.tags.each do |tag| %>
<%= tag_link tag, @product_type, @product_family %>
  <% end %>

</div>
</div>


</div>
</div>
</div>
</div>

  <div style="clear:both;"></div>

