Gentile <%= @photo.fisher.complete_name %>,
siamo dispiaciuti, ma la tua foto non può essere accettata in quanto potrebbe essere non conforme al regolamento ( che qui riportiamo ) oppure caricata scorrettamente ( si prega dunque di verificarne il corretto orientamento)

Regolamento

a) Non saranno accettate foto in cui si veda il pesce sanguinante o ferito.

b) Saranno accettate solo foto scattate nel momento della cattura, in ambiente naturale

c) Non saranno accettate foto in cui compaiano marchi e/o prodotti della concorrenza

d) Saranno accettate solo foto in cui siano visibili i marchi Shimano e/o G.Loomis oppure dove siamo ben visibili i marchi dei nostri prodotti (es. Stella, Ultegra, Biocraft, GLX ecc.)

e) Non saranno accettate foto in cui il pescatore è a petto nudo.

f) Non saranno accettate foto che non rispettino tutti i punti elencati precedentemente


In caso di problemi puoi contattarci a info@shimanofishnetwork.it

Grazie,

Lo staff Shimano Fish Network