<%= semantic_form_for [:administration, @photo], :html => { :multipart => true } do |f| %>
  <%= f.inputs do %>
    <%= f.input :gallery %>
    <%= f.input :title %>
    <%= f.input :description %>
    <% if @photo.image.present? %>
      <li class="text input required" id="photo_image_input">
        <label class=" label" for="photo_image">Image<abbr title="required">*</abbr></label>
        <%= link_to (image_tag @photo.image.url, :width => "500"), @photo.image.url, :target => '_blank' %>
      </li>
    <% end %>
    <%= f.input :image, :as => :file %>
    <%= f.input :homepage %>
    <%= f.input :published %>
    <%= f.input :likes %>
    <%= f.input :cover %>
  <% end %>
  <%= f.actions do %>
    <%= f.action :submit %>
    <li class="cancel"><%= link_to "Cancel", administration_gallery_path(@photo.gallery) %></li>
  <% end %>
<% end %>

