<%= semantic_form_for [:admin, @homepage_content], :html => { :multipart => true } do |f| %>
  <%= f.inputs do %>
    <%= f.input :title %>
    <%= f.input :abstract %>
    <%= f.input :link %>
    <% if @homepage_content.image.present? %>
      <%= image_tag @homepage_content.image.url(:thumb) %>
    <% end %>
    <%= f.input :image, :as => :file %>
    <%= f.input :image_cache %>
    <%= f.input :new_page %>
    <%= f.input :published %>
  <% end %>
  <%= f.actions do %>
    <%= f.action :submit %>
    <li class="cancel"><%= link_to "Cancel", admin_homepage_contents_path %></li>
  <% end %>
<% end %>
