<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "Lista", admin_homepage_contents_path  %></li>
      <li class=""><%= link_to "Nuovo", new_admin_homepage_content_path  %></li>
      <li class="last active"><%= link_to "Modifica", edit_admin_homepage_content_path(@homepage_content)  %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title">Modifica Conenuto Homepage</h2>
    <div class="inner">
      <%= simple_form_for [:admin, @homepage_content] do |f| -%>
        <%= render :partial => "form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>

