<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to 'Lista', admin_homepage_contents_path  %></li>
      <li class="first"><%= link_to 'nuovo', new_admin_homepage_content_path  %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title">Lista Contenuti Homepage</h2>
    <%= search_form_for @q, :url => admin_homepage_contents_path do |f| %>
      <%= f.label :title_or_abstract_cont %>
      <%= f.text_field :title_or_abstract_cont %>
      <%= f.submit %>
    <% end %>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first">ID</th>
          <th>Titolo</th>
          <th>Abstract</th>
          <th>link</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @homepage_contents.each do |content| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td><%= content.id %></td>
          <td><%= link_to content.title, edit_admin_homepage_content_path(content) %></td>
          <td><%= content.abstract %></td>
          <td><%= link_to content.link, nil, :target => '_blank' %></td>
          <td class="last">
            <%= link_to "Visualizza", admin_homepage_content_path(content) %> |
            <%= link_to "Modifica", edit_admin_homepage_content_path(content) %> |
            <%= link_to "Elimina", admin_homepage_content_path(content), :method => :delete, :confirm => "Sei sicuro?" %>
          </td>
        </tr>
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        <%= will_paginate @homepage_contents %>
      </div>
    </div>
  </div>
</div>