<% @page_title = "L'azienda" %>
<div id="garanzia" class="container">
  
  <div class="row header">
    <div class="col span_12">
      <h1>La Storia <srong>SHIMANO</srong></h1>
		<p>Benvenuti nel mondo Shimano, qui di seguito potrete trovare i passi più importanti sino ad ora compiuti dalla Shimano nei suoi primi 90 anni di storia ed in particolare quanto fatto dalla Shimano Italy Fishing dall’anno della sua fondazione.</p>
    </div>
      
  </div>

  <div class="row contents">
  <div class="col span_6">
<p>La Shimano nasce nel lontano 1921 per opera del suo fondatore, Shozaburo Shimano, ed inizia con la produzione di componenti per bici (in particolare il meccanismo di ruota libera). </p>

<p>La divisione pesca della Shimano viene costituita nel 1970, mentre la Shimano Europa nasce nel 1972, ci apprestiamo quindi quest’anno a celebrarne i 40 anni! La prima filiale Shimano relativa alla pesca vede la nascita nel 1988 in UK, mentre la Holding europea riferita alla pesca vede la luce un anno più tardi.</p>
<p>Nel 1997 viene acquisita negli Stati Uniti un’ azienda di produzione di canne assai prestigiose, le famose G.Loomis: si tratta di canne da mosca e spinning che si indirizzano ai pescatori più esigenti e specializzati, dove la differenza del prodotto è tutta nella qualità del grezzo, frutto di approfonditi studi e sperimentazioni da parte di collaboratori del calibro di Steve Rajeff, 16 volte campione del mondo di lancio tecnico. </p>
<p>E’ del 2008 un’altra importantissima acquisizione: Innovative Textiles, azienda che produce il famoso filo trecciato da pesca Power Pro.  Non appena entrata a far parte dell’orbita Shimano, contribuisce subito in maniera significativa all’ aumento delle vendite in tutto il mondo.</p>
<p>Oggi la Shimano opera in 22 Paesi, impiega più di 11.500 persone, ha chiuso l’esercizio 2010 con un fatturato consolidato (bici+pesca) di 213.596.000.000 ¥, pari (prendendo il cambio €/¥ a 115) a circa 1.857.000.000 €, con un utile netto di 19.121.000.000 ¥ pari, utilizzando lo stesso cambio usato in precedenza, a circa 166.270.000 €.</p>
<p>La Shimano è quotata alle borse di Tokio e Osaka.</p>
</div>
<div class="col span_6">

	<img src="/images/about_1.jpg">
<p style="text-align:center;font-size:12px">Il nostro fondatore, Shozaburo Shimano (a sinistra) e il suo collega Kazuo Yamauchi (a destra)</p>

</div>
</div>
  <div class="row contents">
  <div class="col span_12">
<h2>Shimano Italy Fishing</h2>
<p>__</p>
<p class="history">La Shimano Italy Fishing viene fondata nel 1990 e da subito registra una crescita che eccede ogni ottimistico piano di sviluppo, grazie alla forza della casa madre che anche nei periodi di crisi non smette di investire in ricerca e sviluppo, in un severissimo controllo della qualità e nel servizio che viene offerto ai pescatori.</p>
<p>In 22 anni di storia non sono certo mancati i momenti difficili, tuttavia la Shimano ha sempre saputo rialzarsi imparando dai propri errori, cercando con tutte le forze di non ripeterli. In Italia oggi Shimano lavora con circa 400 negozianti distribuiti su tutto il territorio nazionale, visitati regolarmente da 11 rappresentanti. </p>
<p>E’ dal lontano 1993 che Shimano ha siglato un accordo con un altro partner strategico molto importante: il gruppo Rapala. Oggi Shimano e Rapala sono ancora più legati e hanno oltre ad un accordo di distribuzione reciproco nei Paesi in cui abbiamo le rispettive filiali, anche delle joint venture che stanno ottenendo dei risultati molto importanti in Russia, Romania, Repubblica Ceca , Ucraina e UK.</p>
<p>Grazie a questo accordo oggi la Shimano Italy Fishing è in grado di offrire una gamma vastissima di prodotti, dai mulinelli e le canne, tradizionalmente considerati i propri punti di forza, agli artificiali Rapala, Blue Fox, Vibrax, Storm, Williamson, Luhr Jensen, nonché il trecciato Power Pro, i fili, le lenze, i finali  e i trecciati della Sufix, gli accessori per il carp-fishing (boilies, pellet e avvisatori acustici) commercializzati col marchio Dynamite Baits e Ace, le prestigiose valigette Plano, le borse e la buffetteria Shimano e Rapala,  i fili Shimano, i jigs per il vertical jigging, gli Inchiku e i Kabura,  ed infine l’importante gamma di abbigliamento tecnico Shimano.</p>
<p>L’efficienza e la qualità dei prodotti Shimano hanno in questo modo reso famosi non solo i marchi delle aziende coinvolte nel gruppo, ma anche i nomi dei prodotti stessi. Agli appassionati di pesca suoneranno famigliari i nomi Stella, Stella SW, Aspire, Speedmaster, Ultegra, Stradic, Twin Power, P4, Antares, Baitrunner, Tiagra, Tyrnos, Rarenium, Biomaster, Beastmaster, Technium,  solo per citarne alcuni.</p>
<p>Uno degli obbiettivi che ci poniamo con questa piattaforma è rendere ancora più famigliare la nostra tecnologia, spiegando e analizzando nomi come Ci4, Steadycast, HPC, Barrier Pack, AR-C Spool, X-Ship, SR, E.I., Varispeed, Aero Wrap II, HD Gear, Dyna-Balance, Taftec, Diaflash e molti altri.</p>
<p>Con Shimano puoi vivere la tua passione a 360 gradi. Prodotti dedicati e studiati per tecnica di pesca, come: spinning in mare e spinning in acqua dolce, casting, carpfishing, traina costiera e traina d’altura, trota laghetto e trota torrente, surfcasting, mosca, bolentino, barca e barcone, vertical jigging, roubaisienne, passata, all’ inglese e con il pasturatore. Canne telescopiche, ad innesti, monopezzo o da viaggio.</p>
<p>Grazie ai nostri prodotti nessun pesce si sentirà al sicuro: trota, carpa, alborella, siluro, aspio, barbo, luccio, tonno, spigola, bass, temolo, orata, branzino, ricciola, dentice, mormora, leccia, serra, barracuda, palamita, sgombro, alletterato, spada, occhioni, calamaro, totano, seppia, luccioperca, sandra, lampuga e trevally…Shimano ha qualcosa di adatto per ognuno di loro!</p>
<p>Con questo sito, tuttavia, non vogliamo spingerti a rimanere chiuso in casa. Al contrario, Shimano vuole dare potenza alla tua passione, al tuo hobby preferito, ai tuoi momenti di avventura outdoor, sempre nel pieno rispetto dell’ambiente e sensibilizzando ogni pescatore al problema dell’inquinamento, sensibilità che Shimano dimostra anche durante i processi produttivi dei suoi prodotti.</p>
<p>Non a caso, il motto di Shimano è da sempre: </p>

<p >"To promote health and happyness through the enjoyment of nature and the world around us. <br>
Closer to nature, closer to people.”
<br>ovvero<br></p>
<div class="quote">
	<p>
"Promuovere il benessere e la felicità attraverso il godimento della natura e del mondo che ci circonda. Più vicino alla natura, più vicino alla gente”.</p></div>
</div>
</div>
</div>