<h2>Cataloghi</h2>
<div id="catalogs">
	<p style="text-align:center;">
		Consulta e scarica online tutti i cataloghi di Shimano Italia
		<br>
		Scopri le ultime novità Shimano, Shimano carp gear, Shimano saltwater, Rapala e G Loomis.
	</p>
	<div>
		<a href="http://issuu.com/shimanoitalyfishing/docs/catalogo-shimano-2013-ita" target="_blank">
			<img src="/images/cataloghi/cat_shimano.jpg" height="300"></a>
		<br>
		<br>
		<a href="https://shmnassets.s3.amazonaws.com/catalogues/shimano2013.pdf" target="_blank" class="btn btn-primary btn-mini" >Scarica in PDF - 65 MB</a>
	</div>

	<div>
		<a href="http://issuu.com/shimanoitalyfishing/docs/catalogo-rapala-2013-italian" target="_blank">
			<img src="/images/cataloghi/cat_rapala.jpg" height="300"></a>
		<br>
		<br>
		<a href="https://shmnassets.s3.amazonaws.com/catalogues/Rapala2013.pdf" target="_blank" class="btn btn-primary btn-mini">Scarica in PDF - 36 MB</a>
	</div>
	<div>
		<a href="http://issuu.com/shimanoeuropefishing/docs/cat_gloomis_2012_it?mode=window&backgroundColor=%23222222" target="_blank">
			<img src="/images/cataloghi/cat_loomis.jpg" height="300"></a>
		<br>
		<br>
		<a href="https://shmnassets.s3.amazonaws.com/catalogues/g_loomis_2012.pdf" target="_blank" class="btn btn-primary btn-mini">Scarica in PDF - 7 MB</a>
	</div>
	<div>
		<a href="http://issuu.com/shimanoeuropefishing/docs/shimano_sw_boat_2012?mode=window&backgroundColor=%23222222" target="_blank">
			<img src="/images/cataloghi/cat_sw.jpg" height="300"></a>
		<br>
		<br>
		<a href="https://shmnassets.s3.amazonaws.com/catalogues/saltwater_boat_2012.pdf" target="_blank" class="btn btn-primary btn-mini">Scarica in PDF - 42 MB</a>
	</div>
	<br>
	<br>
	<div style="clear:left">
		<a href="http://issuu.com/shimanoeuropefishing/docs/italian_sw_spinning2?mode=window&backgroundColor=%23222222" target="_blank">
			<img src="/images/cataloghi/cat_sw2.jpg" height="300"></a>
		<br>
		<br>
		<a href="https://shmnassets.s3.amazonaws.com/catalogues/saltwater_spinning_2012.pdf" target="_blank" class="btn btn-primary btn-mini">Scarica in PDF - 32 MB</a>
	</div>
	<div>
		<a href="http://issuu.com/shimanoeuropefishing/docs/italian_carp_gear_guide?mode=window&backgroundColor=%23222222" target="_blank">
			<img src="/images/cataloghi/cat_carp.jpg" height="300"></a>
		<br>
		<br>
		<a href="https://shmnassets.s3.amazonaws.com/catalogues/carp_gear_guide_2012.pdf" target="_blank" class="btn btn-primary btn-mini">Scarica in PDF - 55 MB</a>
	</div>
	<div>
		<a href="http://issuu.com/shimanoeuropefishing/docs/cat_dynamite_2012_it?mode=window&backgroundColor=%23222222" target="_blank">
			<img src="/images/cataloghi/cat_dyna.jpg" height="300"></a>
		<br>
		<br>
		<a href="https://shmnassets.s3.amazonaws.com/catalogues/leaflet_dynamite_2012.pdf" target="_blank" class="btn btn-primary btn-mini">Scarica in PDF - 8 MB</a>
	</div>
	<div>
		<a href="http://issuu.com/shimanoeuropefishing/docs/shimano_egi_fishing_2011?mode=window&backgroundColor=%23222222" target="_blank">
			<img src="/images/cataloghi/cat_egi.jpg" height="300"></a>
		<br>
		<br>
		<a href="https://shmnassets.s3.amazonaws.com/catalogues/egi_fishing_2012.pdf" target="_blank" class="btn btn-primary btn-mini">Scarica in PDF - 4 MB</a>
	</div>
</div>