
<h1>hi </h1>
 <% @galleries.each do |gallery| %>
    <a href="<%= gallery_path(gallery) %>" id="commlink">
      <div class="item">
        <div class="dida_community">
          <span class="title"><%= gallery.title %></span>
        </div>
        <% if gallery.cover.first.nil? %>
        <% else %>
          <%= image_tag gallery.cover.first.image.url(:thumb), :width => 220 %>
        <% end %>
      </div>
    </a>
  <% end %>