<% @page_title = "Cookie Policy" %>
<div id="garanzia" class="container">
  
  <div class="row header">
    <div class="col span_12">
    <script id="CookieDeclaration" src="https://consent.cookiebot.com/6a5d6f6e-0af5-4bf0-a08c-4234e5c42d47/cd.js" type="text/javascript" async></script>
    </div>
      
  </div>

  <div class="row contents">
  <div class="col span_12"></div>
</div>
</div>
</div>