<div id="garanzia" class="container">
  
  <div class="row header">
    <div class="col span_12">
      <h1>F.A.Q. Garanzia terzo anno <srong>SHIMANO</srong></h1>

    </div>
      
  </div>

  <div class="row contents">
  <div class="col span_12">

<h3>Il mio prodotto Shimano ha un problema. A chi mi rivolgo?</h3>
<p>
	Puoi rivolgerti al negozio dove l’hai acquistato. Consegna il prodotto al negoziante, allegando scontrino e dettagli sulla garanzia, stampabili da questo sito. Il negoziante autorizzato potrà provvedere a riparare lui stesso il prodotto o ad inviarlo al Servizio Assistenza Shimano.
</p>
<h3>
	Ho acquistato il mio prodotto Shimano prima del 01/01/12. Ho diritto al terzo anno di garanzia?
</h3>
<p>
	Se hai acquistato un prodotto Shimano presso uno Shimano Shop prima del 01/01/12 avrai diritto al terzo anno di garanzia commerciale solo se presenterai il prodotto completo di scontrino fiscale e tagliando di garanzia compilato in ogni sua parte.
</p>
<h3>
	QUANTO TEMPO HO A DISPOSIZIONE PER REGISTRARE IL MIO PRODOTTO
</h3>

<p>
	Per registrare il tuo prodotto hai a disposizione 31 giorni di tempo dalla data di acquisto. Farà fede lo scontrino fiscale o documento equipollente.
</p>

<h3>
	Ho acquistato un prodotto Shimano presso un negozio non Shimano Shop. Posso avere il terzo anno di garanzia?
</h3>
<p>
	No. Il terzo anno di garanzia commerciale è ad appannaggio di chi acquista un prodotto Shimano presso uno Shimano Shop. Rimane comunque valida la garanzia legale di 2 anni.
</p>
<h3>Come posso riconoscere i negozi Shimano Shop?</h3>
<p>
	I negozi Shimano Shop sono elencati nel nostro
	<%= navigation_link_to('Store Locator', store_locator_path, :class => 'grey')%>.</p>
	<h3>
		Mi sono appena accorto che il mio prodotto Shimano ha un difetto. Quanto tempo ho a disposizione per segnalare il problema?
	</h3>
	<p>
		Dal momento in cui ti accorgi che il tuo prodotto Shimano ha un problema hai tempo 10 giorni per segnalare il difetto al tuo negoziante.
	</p>
	<h3>
		Ho smarrito lo scontrino fiscale, ho ancora diritto alla garanzia?
	</h3>
	<p>
		No, richiedi sempre e conserva lo scontrino fiscale. Senza la presentazione dello scontrino la garanzia decade su qualsiasi prodotto.
	</p>
	<h3>
		Ho tentato di riparare un prodotto Shimano. Il prodotto è ancora in garanzia?
	</h3>
	<p>
		No. Solo il Servizio Assistenza Shimano o il negoziante autorizzato può riparare i prodotti Shimano. Qualsiasi modifica o manipolazione effettuata da personale non autorizzato farà decadere immediatamente la garanzia.
	</p>
	<h3>
		Una volta scaduta la garanzia, posso usufruire ancora del Servizio Assistenza Shimano per riparare il mio prodotto?
	</h3>
	<p>
		Sì. Rivolgiti ad un qualsiasi Shimano Shop per usufruire del Servizio Assistenza Shimano. Ti verranno preventivati i costi della riparazione.
	</p>
	<h3>
		Posso richiedere una revisione al mio prodotto Shimano? La revisione è coperta da garanzia?
	</h3>
	<p>
		Puoi richiedere la revisione del tuo prodotto Shimano, ma questa non è coperta da garanzia. Ti verranno preventivati i costi della revisione.
	</p>
	<h3>
		Mi sono cancellato dal database per la registrazione della garanzia Shimano, la garanzia terzo anno è ancora valida?
	</h3>
	<p>
		No. Il terzo anno di garanzia commerciale Shimano decade nel momento in cui si conferma la propria cancellazione dal database.
	</p>
</div>
</div>
</div>