<div>

<h3 style="text-align:center;">CONDIZIONI DI GARANZIA COMMERCIALE SHIMANO ITALY FISHING<br>
GARANZIA " TERZO ANNO"<br>
MULINELLI E CANNE DA PESCA SHIMANO E G.LOOMIS</h3>
 
    <p>
        SHIMANO ITALY FISHING s.r.l. con sede in Legnano - Via Maestri del Lavoro n. 29 - P.IVA 10169190153 informa, ai sensi dell'art. 133 del D.Lgs. n.
        206/2005, che le condizioni di garanzia commerciale sotto riportate lasciano impregiudicati i diritti previsti a favore del Consumatore dalle
        disposizioni del Codice di Consumo (D.Lgs. 206/2005).
    </p>
    <p>
        <br/>
        <u><strong>1)</strong></u>
        <u><strong> </strong></u>
        <u><strong>MODALITA</strong></u>
        <u><strong>' </strong></u>
        <u><strong>DI</strong></u>
        <u><strong> </strong></u>
        <u><strong>ATTIVAZIONE</strong></u>
        <u><strong> </strong></u>
        <u><strong>GARANZIA</strong></u>
    </p>
    <p>
        La presente garanzia &#232; concessa gratuitamente ed in via esclusiva ai Consumatori che provvedono ad attivarla mediante registrazione online sul
        portale internet Shimano Fish Network (http://www.shimanofishnetwork.it), fornendo ogni dato ivi richiesto (personale e relativo all'acquisto
        di mulinelli e/o della canne da pesca Shimano e G. Loomis) ed assicurandone la veridicit&#224; sotto la propria responsabilit&#224;. La mancata
        corretta indicazione di ogni dato richiesto in fase di registrazione, la cancellazione del profilo utente su richiesta dello stesso ovvero il mancato
        consenso dell'utente al trattamento dei dati personali da parte di Shimano Italy Fishing e da parte dei rivenditori autorizzati e/o societ&#224; terze
        collegate a Shimano Italy Fishing ai sensi e nel rispetto di cui al D.Lgs. n. 196/2003 comporteranno l'impossibilit&#224; di concludere positivamente
        l'attivazione e di avvalersi della presente garanzia commerciale.
    </p>
    <p>
        <u><strong>2) OGGETTO DELLA GARANZIA</strong></u>
    </p>
    <p>
        a) Shimano Italy Fishing s.r.l . limita la presente garanzia ai mulinelli ed alle canne da pesca Shimano e G. Loomis nuovi, acquistati sul territorio
        Italiano a decorrere dalla data del 20.02.2012 da parte del Consumatore presso i soli rivenditori autorizzati Shimano e G.Loomis (Shimano Shops -
        G.Loomis Pro Shop), ovvero presso i soli rivenditori online autorizzati Shimano e G.Loomis aventi sede legale ed operativa sul territorio italiano. A
        partire dal 20.02.2012 le condizioni della presente garanzia sostituiranno integralmente quelle previste dalla precedente garanzia commerciale offerta
        da Shimano Italy Fishing s.r.l.
    </p>
    <p>
        b) In forza della presente garanzia Shimano Italy Fishing sar&#224; tenuta, solo ed esclusivamente, a riparare i componenti difettosi o, a sua
        discrezione, a sostituire il prodotto difettoso, o una sua parte, con altro prodotto identico o comunque funzionalmente equivalente, entro il termine
        di giorni 10 (dieci) dalla data di ricezione della merce presso la propria sede.
    </p>
    <p>
        c) L'esecuzione dell'intervento in garanzia &#232; prestato in via esclusiva dal Servizio Assistenza Shimano Italy Fishing e le spese di trasporto
        della merce garantita restano esclusivamente a carico di Shimano.
    </p>
    <p>
        d) Il prodotto dovr&#224; pervenire al Servizio Assistenza Shimano esclusivamente tramite la propria rete di rivenditori autorizzati Shimano
        Shops/G.Loomis Pro Shop, i quali provvederanno, ad intervento effettuato, alla restituzione della merce riparata al Consumatore.
    </p>
    <p>
        e) L'esecuzione di una riparazione e/o di una sostituzione, alle condizioni previste dalla presente garanzia, non comporta estensione della stessa
        n&#233; il rinnovo dei suoi termini di decorrenza. Sia la riparazione, sia la sostituzione effettuate alle condizioni previste dalla presente garanzia,
        possono essere eseguite anche mediante ricorso a parti oppure unit&#224; non identiche ma funzionalmente equivalenti a quella oggetto di riparazione o
        sostituzione.
    </p>
    <p>
        f) In nessun caso Shimano Italy Fishing s.r.l. &#232; tenuta, in forza della presente garanzia commerciale, a restituire al Consumatore, n&#233;
        integralmente n&#233; parzialmente, il prezzo dell'articolo oggetto di intervento da parte del proprio Servizio Assistenza, n&#233; a corrispondere
        alcunch&#233; a titolo di risarcimento di danni diretti e/o indiretti derivanti dall'uso del prodotto per il quale la garanzia &#232; stata attivata.
    </p>
    <p>
        g) Ai fini della riparazione o sostituzione del prodotto, Shimano Italy Fishing si riserva di utilizzare componenti, parti di ricambio o prodotti
        rigenerati, intendendosi per tali componenti, parti di ricambio o prodotti aventi caratteristiche pari o superiori a quelle del prodotto da riparare
        e/o sostituire, e successivamente rigenerati e collaudati da Shimano.
    </p>
    <p>
        h) Qualora il Servizio Assistenza Shimano rilevasse la sussistenza di cause di inoperativit&#224; della presente garanzia ovvero decadenza del
        Consumatore dalla stessa, Shimano Italy Fishing non effettuer&#224; alcun intervento sul prodotto e provveder&#224; a comunicare tali cause al
        Consumatore, a restituirgli la merce tramite il rivenditore autorizzato al quale lo stesso utente si &#232; rivolto, unitamente a preventivo di spesa
        per la riparazione, ovvero il ripristino ovvero la sostituzione del prodotto o di parti di esso, comprensivo delle ulteriori necessarie spese di
        trasporto della merce.
        <br/>
        <br/>
    </p>
    <p>
        <u><strong>3) DURATA</strong></u>
    </p>
    <p>
        La presente garanzia commerciale, denominata "TERZO ANNO" ed offerta ai Consumatori finali che abbiano compiutamente eseguito la registrazione online
        di cui al punto 1, &#232; prestata da Shimano Italy Fishing s.r.l. esclusivamente per il periodo di un anno decorrente dalla data di cessazione degli
        effetti della garanzia legale di cui al D.Lgs. n. 206/2005, ossia durante il terzo anno dalla data di acquisto del prodotto nuovo presso i rivenditori
        autorizzati Shimano Shop/G. Loomis Pro Shop.
    </p>
    <p>
        <u><strong>4) TERMINI E FORME DELLA DENUNZIA</strong></u>
    </p>
    <p>
        a) La presente garanzia commerciale, se compiutamente attivata attraverso la procedura online di cui al punto 1, opera solo ed esclusivamente qualora
        il Consumatore, entro e non oltre il termine di giorni 10 dalla data in cui si &#232; manifestato il vizio e/o difetto ovvero lo stesso ne sia venuto a
        conoscenza ed, in ogni caso, entro il termine del periodo di validit&#224; della presente garanzia, si rechi presso un rivenditore autorizzato Shimano
        e contestualmente consegni la merce per la quale si richiede l'intervento in garanzia, specificando allo stesso rivenditore:
    </p>
    <p align="LEFT">
        - data di manifestazione vizio e/o difetto ovvero data di scoperta
        <br/>
        - tipo di vizio e/o difetto con indicazione delle parti viziate e/o difettose
        <br/>
        - rivenditore autorizzato in cui &#232; stato effettuato l'acquisto
        <br/>
        - prova di acquisto (vedi successivo punto 5e)
        <br/>
        - data di acquisto
        <br/>
        - codice prodotto
        <br/>
        - ricevuta attestante avvenuta attivazione online e relativa data
        <br/>
        - indirizzo e-mail valido del Consumatore (lo stesso indicato in sede di attivazione della garanzia)
        <br/>
        b) L'inosservanza della norma di cui al precedente punto a) comporter&#224; la decadenza del Consumatore dalla garanzia.
        <br/>
        c) Il Servizio Assistenza Shimano ed il rivenditore autorizzato Shimano, al quale il Consumatore ha consegnato la merce e specificato i dati di
        acquisto indicati al precedente punto a), verificheranno la sussistenza dei requisiti di applicabilit&#224; della presente garanzia e provvederanno
        alla eventuale esecuzione delle prestazioni prevista al precedente punto 2.
        <br/>
        d) In caso di mancato integrale rispetto dei termini e delle forme di denunzia dei vizi e/o difetti, Shimano Italy Fishing s.r.l. si riserva di
        rifiutare l'intervento in garanzia e di provvedere ai sensi del precedente punto 2h.
    </p>
    <p align="LEFT">
        <u><strong>5) REQUISITI DI EFFICACIA DELLA GARANZIA</strong></u>
    </p>
    <p>
        a) La presente garanzia &#232; offerta soltanto in relazione a prodotti nuovi, &#232; strettamente personale e non &#232; cedibile ad altri soggetti
        diversi dall'acquirente originale del mulinello e/o della canna da pesca Shimano e G. Loomis.
    </p>
    <p>
        b) La garanzia per vizi dei prodotti Shimano sopra indicati &#232; limitata solo ed esclusivamente alle prestazioni previste nella presente garanzia.
        <br/>
        Essa sostituisce e supera ogni diversa garanzia espressa od implicita.
    </p>
    <p>
        c) Shimano Italy Fishing non sar&#224; in ogni caso tenuta a rispondere per danni indiretti ovvero per lucro cessante, derivanti e/o connessi a
        qualsiasi titolo con i vizi e/o difetti riscontrati sulla merce.
    </p>
    <p>
        d) La presente garanzia &#232; valida a condizione che venga il conservata dal Consumatore e da questi consegnata - qualora richiesta - in originale a
        Shimano Italy Fishing s.r.l. la ricevuta di registrazione al portale internet di cui al punto 1, nonch&#233; la prova di acquisto del prodotto,
        consistente <u>esclusivamente</u> nella fattura/scontrino originali ovvero, in caso di acquisto online la ricevuta d'acquisto e/o la fattura rilasciata
        dal rivenditore online, sui quali siano indicati data di acquisto, nome del rivenditore autorizzato Shimano Shop/ G.Loomis Pro Shop, modello e codice
        prodotto.
    </p>
    <p>
        e) Shimano espressamente non riconosce validit&#224;, ai fini della operativit&#224; della presente garanzia, ad alcun altro documento eventualmente
        prodotto da controparte per attestare l'acquisto del prodotto.
    </p>
    <p>
        f) Shimano Italy Fishing s.r.l. si riserva espressamente il diritto di rifiutare la prestazione oggetto della presente garanzia qualora i dati sopra
        indicati risultassero alterati dopo l'acquisto iniziale del prodotto presso il rivenditore, ovvero gli stessi risultassero difformi da quelli forniti
        in occasione della registrazione online dell'utente, ovvero non siano forniti dal Consumatore gli originali delle prove di acquisto specificamente
        sopra indicate.
        <br/>
        <br/>
    </p>
    <p>
        <u><strong>6) INOPERATIVITA' ED INEFFICACIA DELLA GARANZIA</strong></u>
    </p>
    <p>
        a) Sono espressamente escluse dalla copertura della presente garanzia le seguenti componenti:
    </p>
    <ul>
        <li>
            <p align="JUSTIFY">
                Cimini delle canne telescopiche;
            </p>
        </li>
        <li>
            <p align="JUSTIFY">
                Anelli guidafilo e porta mulinelli
            </p>
        </li>
        <li>
            <p align="JUSTIFY">
                Montaggio di anelli e portamulinelli
            </p>
        </li>
    </ul>
    <p>
        b) La presente garanzia non si estende ai casi diversi dai vizi e/o difetti del materiale, di progettazione ovvero fabbricazione.
    </p>
    <p>
        Essa in particolare non copre quanto segue:
        <br/>
        - Controlli, manutenzione, riparazione e sostituzione periodica di componenti a seguito della naturale usura del prodotto e/o loro schiacciamento,
        anche colposo, da parte dell'utente.
        <br/>
        - Abuso o cattivo uso, incluso ma non limitato ad incapacit&#224; di utilizzare il prodotto per gli scopi normali o in accordo con le istruzioni per
        l'uso e per la manutenzione di Shimano Italy Fishing.
        <br/>
        - Utilizzo del prodotto in combinazione con accessori non idonei ovvero inadeguato per il prodotto stesso.
        <br/>
        - Malfunzionamento del prodotto derivante da un utilizzo errato ovvero non coerente con gli standard tecnici o di sicurezza correntemente in vigore, o
        contravvenzione delle istruzioni contenute nel manuale.
        <br/>
        - Incidenti, calamit&#224; naturali od altre cause al di sopra del controllo da parte di Shimano Italy Fishing, provocate da fulmini, acqua, fuoco,
        disordini sociali.
        <br/>
        - Modifiche apportate volontariamente dall'utente al prodotto.
        <br/>
        - Riparazioni eseguite da centri di assistenza non autorizzati
    </p>
    <p>
        - Prodotti con relativo codice alterato ovvero illeggibile ovvero prodotti non riconducibili a quelli indicati al momento della registrazione online
        sul portale di cui al punto 1.
    </p>
    <p>
        <u><strong>7) MODIFICHE UNILATERALI DELLE CONDIZIONI DI GARANZIA</strong></u>
    </p>
    <p>
        a) Shimano Italy Fishing si riserva di modificare unilateralmente le condizioni della presente garanzia, dandone tempestiva comunicazione agli utenti
        registrati, esclusivamente tramite messaggio di posta elettronica all'indirizzo fornito dal Consumatore in sede di attivazione della garanzia.
    </p>
    <p>
        b) Decorso il termine di 30 (trenta) giorni dalla data di invio della comunicazione di cui al punto 7a, le modifiche delle condizioni di garanzia si
        intenderanno integralmente accettate dal Consumatore, salva sua comunicazione e-mail da inviare, entro e non oltre il suddetto termine ed
        esclusivamente, all'indirizzo di posta elettronica info@shimanofishnetwork.it, nella quale si manifesti espressamente la volont&#224; di non accettare la proposta
        unilaterale di modifica delle condizioni di garanzia e di voler mantenere inalterate le condizioni della garanzia commerciale attivata; in tale ipotesi
        al singolo Consumatore dissenziente Shimano Italy Fishing assicurer&#224; il trattamento di cui alla precedente e non modificata versione delle
        condizioni di garanzia commerciale "Terzo Anno".
    </p>
    <p>
        <u><strong>8) LEGGE APPLICABILE E FORO COMPETENTE</strong></u>
    </p>
    <p>
        a) Ai fini della interpretazione e della esecuzione delle clausole di cui alla presente garanzia commerciale, si applica in via esclusiva la legge
        italiana.
    </p>
    <p>
        b) La competenza territoriale in caso di controversie aventi ad oggetto l'interpretazione e/o l'esecuzione di prestazioni e/o l'adempimento di obblighi
        e/o accertamento di diritti derivanti e/o connessi alla presente garanzia commerciale, &#232; determinata in ragione del luogo di residenza del
        Consumatore; in caso di residenza del Consumatore ubicata al di fuori dello Stato Italiano, territorialmente competente sar&#224; in via esclusiva il
        Tribunale di Monza.
    </p>
</div>
  <a href="javascript:window.print()">Stampa</a>