<div id="garanzia" class="container">
  
  <div class="row header">
    <div class="col span_12">
      <h1>Green Line <srong>SHIMANO</srong></h1>
		<p>    Nel 2016 Shimano Italy Fishing, azienda leader in Italia per la distribuzione di articoli da pesca, lancia la nuova campagna Green Line Campaign, allo
    scopo di raccogliere il maggior numero di bobine di filo vuote per ridurre l’inquinamento da esse causate se abbandonate sulle rive dei corsi d’acqua.
</p>
<a href="/shimano-shop?&specialist=green" class="btn">SCOPRI I NEGOZI CHE ADERISCONO ALL'INIZIATIVA</a>
    </div>
      
  </div>

  <div class="row contents">
  <div class="col span_6">
<p><h2>LA GREEN LINE CAMPAIGN</h2></p>
<p>Nel 2016 Shimano Italy Fishing, azienda leader in Italia per la distribuzione di articoli da pesca, lancia la nuova campagna Green Line Campaign, allo scopo di raccogliere il maggior numero di bobine di filo vuote per ridurre l&rsquo;inquinamento da esse causate se abbandonate sulle rive dei corsi d&rsquo;acqua.</p>
<p>In tutti gli Shimano Shop aderenti all&rsquo;iniziativa Shimano distribuir&agrave; un totem box che sar&agrave; esposto nei negozi da Aprile ad Dicembre 2016. I pescatori potranno utilizzare i totem box per gettare le bobine di filo da pesca vuote; le bobine raccolte verranno conteggiate tramite una cooperativa sociale ed infine indirizzate ad una apposita ditta di smaltimento rifiuti, che provveder&agrave; a riciclare il materiale raccolto.</p>
<p>Shimano Italy Fishing si impegna a donare in beneficienza ad organizzazioni no-profit impegnate in attivit&agrave; volte alla salvaguardia delle acque e della fauna ittica l&rsquo;importo di 1.000 euro ogni 5.000 bobine di plastica raccolte all&rsquo;interno dei totem box.&nbsp;<br />Non solo.&nbsp;<br />Shimano Italy Fishing si impegna inoltre a devolvere alle organizzazioni no-profit l&rsquo;1% del fatturato totale della categoria monofilo nel corso dell&rsquo;anno 2016.</p>
<p>Un motivo in pi&ugrave; per scegliere il monofilo Shimano, oltre alla grande qualit&agrave;, alla tecnologia, all&rsquo;affidabilit&agrave; e alla reputazione che i fili Shimano sono in grado di offrire. <br />
</p>
<p><h2>NEL 2050 NEI MARI CI SARA&rsquo; PIU&rsquo; PLASTICA CHE PESCI</h2></p>

<p>Come affermato durante il World Economic Forum, secondo recenti studi nel 2050 nei mari sar&agrave; presente pi&ugrave; plastica che pesci. Di fronte a questa notizia e forte del proprio motto &ldquo;Closer to Nature, Closer to People&rdquo;, Shimano Italy Fishing srl ha deciso che &egrave; giunto il momento di lanciare un messaggio forte ai consumatori e ad impegnarsi attivamente nel sostenere le associazioni no profit che si occupano della salvaguardia delle acque e della fauna ittica.</p>

<p><h2>AIUTACI A SCEGLIERE I BENEFICIARI DELLA DONAZIONE</h2></p>
<p>A partire dal 1&nbsp;Novembre&nbsp;2016 tramite la mail <a href="mailto:info@shimanofishnetwork.it" target="_blank">info@shimanofishnetwork.it</a>&nbsp;<wbr />sar&agrave; possibile&nbsp;suggerire a quale associazione no profit dovr&agrave; essere destinata la somma raccolta per la donazione. Verranno considerate proposte costruttive, valide e realizzabili per la salvaguardia&nbsp;delle acque e della fauna ittica.&nbsp;Shimano selezioner&agrave; le 3 proposte pi&ugrave; interessanti e, a partire da Gennaio&nbsp;2016, permetter&agrave; agli utenti della piattaforma Shimanofishnetwork.it di votare la loro preferita. All&rsquo;associazione che raccoglier&agrave; il maggior numero di voti verr&agrave; infine destinato l&rsquo;intero importo della donazione, che avverr&agrave;&nbsp;durante la Fiera di Vicenza - Pescare Show 2016.<br />Shimano Italy Fishing si occuper&agrave; poi di&nbsp;monitorare quanto realizzato tramite la propria donazione e inviare&nbsp;periodici aggiornamenti ai propri utenti tramite il sito Shimano Fish Network.</p>

<p><h2>IL FILO SHIMANO</h2></p>
<p>La maggior parte dei fili Shimano sono ora realizzati con il miglior materiale possibile e vengono sviluppati grazie alle pi&ugrave; innovative tecnologie giapponesi. Le specifiche e le prestazioni di ogni filo sono state migliorate, consentendo a Shimano di offrire una gamma di prodotti in grado di soddisfare la maggior parte dei pescatori. Oltre a questi grandi cambiamenti, Shimano ha cambiato il suo &ldquo;ranking system&rdquo; basato sulle stelle assegnate ai fili. Ogni confezione di filo mostra ora la Resistenza all&rsquo;abrasione, Allungamento, Resistenza al nodo, Morbidezza e Memoria. Questo consente ai pescatori di scegliere il filo pi&ugrave; adatto alle proprie esigenze. Le misurazioni dei fili sono state riviste e rese ancora pi&ugrave; precise, garantendo al pescatore una totale affidabilit&agrave; e la certezza di utilizzare la gamma di fili migliore e pi&ugrave; completa al mondo.</p>
</div>
<div class="col span_6">
	<img src="/green2.jpg" alt="">
</div>
</div>
</div>