<% content_for :javascripts do %>
  <%= javascript_include_tag 'jquery.zrssfeed.min.js' %>
  <%= javascript_include_tag 'home' %>
<% end %>
<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner" style="position:relative">
    <% @highlights.each_with_index do |highlight, i| %>
      <div class="item <% if i==0 %>active<%end%>" style="background-image:url(<%= highlight.image.url %>);"> 
        <div class="carcont">
        <div class="carit">
        <h3><%= highlight.title %></h3>
        <p><%= highlight.abstract %></p>
        <%= link_to "Leggi tutto", highlight.link, :target => (highlight.new_window? ? '_blank' : '')%>
        </div>
       </div> 
    </div>
    <% end %>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>


 <div class="row-fluid">
  <div id="blog" class="span4 equalheight">
    <div class="padder">
  <h2>Le ultime dal blog</h2>
  <p>__</p>
  <% @feed.each_with_index do |entry, i| %>
  <h3><%= raw(entry.title) %></h3>
  <p><%= truncate(entry.description, :length => 100, :separator => ' ') %></p>
  <% if i==0 %>
  <p>__</p>
  <% end %>
  <% end %>
</div>
  </div>
  <div id="ytwidget" class="span8 nomargin equalheight">
      <iframe width="460" title="YouTube video player" src="http://www.youtube.com/embed/s-s9Zsr1yys?HD=1;rel=0;showinfo=0;controls=0" height="289" frameborder="0"></iframe>
  </div>
</div>

 <div id="intro" class="row-fluid">
  <div class="span4 hidden-phone">
    <img src="/assets/homeleft.jpg">
  </div>
  <div class="span4 nomargin">
    <div class="padder">
    <h2>Scopri il mondo Shimano</h2>
    <p>__</p>
<p>Con questo nuovo portale, Shimano apre le sue porte e ti invita a fare parte e a partecipare al suo universo. </p>
<p>Con l’acquisto di un mulinello o una canna Shimano o G.Loomis, potrai registrare il tuo prodotto 
  <br>ottenendo il terzo anno di garanzia e potrai godere di moltissimi altri vantaggi.</p>
<p> Segui il nostro blog esclusivo che ti permetterà di essere sempre aggiornato e entra far parte<br> della community: Shimano mette proprio te al centro del suo mondo. </p>
</div>
  </div>
  <div class="span4 nomargin hidden-phone">
    <img src="/assets/homeright.jpg">
  </div>
</div>

<div class="row-fluid">
  <div id="photos" class="span4 photos">
    <div class="padding">
  <h2>Le vostre catture</h2>
  <p>__</p>
  <p>Benvenuti nel mondo Shimano, qui potrete trovare i passi più importanti sino ad ora compiuti dalla Shimano nei suoi primi 90 anni di storia ed in particolare quanto fatto dalla Shimano Italy Fishing.</p>
</div>
<img src="https://shmnassets.s3.amazonaws.com/uploads/photo/image/10/big_Steelie_km42.jpg" class="hidden-phone">

  </div>
  <div id="photo" class="span8 photos hidden-phone nomargin" style="background-image:url(<%= @photo.image %>)">
 <p>&nbsp;</p>
  </div>
</div>

<div class="row-fluid" style="margin-top:20px;clear:both;">
  <% @normal_items.each_with_index do |item, i| %>
    <div class="span4">
      <% if i == 1 %><div class="centerpadding">
      <div class="fullpadding" style="border:3px solid Black">
    <h2><%= item.title %></h2>
    <p>__</p>
    <p><%= item.abstract %></p>
  </div>
  </div>
  <% else %>
    <div class="fullpadding" style="border:3px solid Black">
    <h2><%= item.title %></h2>
    <p>__</p>
    <p><%= item.abstract %></p>
  </div>
  <% end %>
</div>
  <% end %>


</div>
    <!-- FINE SECONDARY HIGHLIGHT --> 


