<% @page_title = "Shimano Community" %>
<div id="events">
    <div class="row header">
        <div class="col span_12"><h1>Informativa Privacy</h1>
        </div>
    </div>

    <div class="row event">

        <div class="col span_12">
            <h3 style="text-align:center;">
                Informativa ex art. 13 D.lgs. 196/2003 (Privacy)
            </h3>
            <h3 style="text-align:center;">
                Versione 1.0 - 2012
            </h3>

            <p align="JUSTIFY">
                Gentile Signore/a,
            </p>
            <p align="JUSTIFY">
                Desideriamo informarLa che il D.lgs. n. 196 del 30 giugno 2003 ("Codice in materia di protezione dei dati personali") prevede la tutela delle persone e
                di altri soggetti rispetto al trattamento dei dati personali.
            </p>
            <p align="JUSTIFY">
                Secondo la normativa indicata, tale trattamento sar&#224; improntato ai principi di correttezza, liceit&#224; e trasparenza e di tutela della Sua
                riservatezza e dei Suoi diritti.
            </p>
            <p align="JUSTIFY">
                Ai sensi dell'articolo 13 del D.lgs. n.196/2003, pertanto, Le forniamo le seguenti informazioni:
            </p>
            <ol>
                <li>
                    <p align="JUSTIFY">
                        I dati personali da Lei forniti in occasione della attivazione della garanzia commerciale "Terzo Anno" verranno trattati per finalit&#224;
                        promozionali, commerciali, pubblicitarie, di marketing, nonch&#233; al fine di contattarLa per ogni comunicazione riguardante i prodotti in
                        garanzia ovvero per i quali si &#232; avvalso della garanzia commerciale Shimano "Terzo Anno", nonch&#233; per consentire a Shimano Italy
                        Fishing s.r.l. l'effettiva esecuzione degli interventi in garanzia e l'invio di materiale promozionale/pubblicitario in forma cartacea ovvero
                        informatica, ovvero al fine di consentire la pubblicare, su richiesta e sotto la piena ed esclusiva responsabilità dell’utente, articoli di testo, immagini, materiale audio e video da quest’ultimo autonomamente forniti all’interno del Blog e nella Community presente rispettivamente suisiti internet <a href="http://blog.shimanofishnetwork.it" target="_blank">blog.shimanofishnetwork.it</a> e <a href="http://www.shimanofishnetwork.it/community" target="_blank">www.shimanofishnetwork.it/community</a>”
                    </p>
                </li>
                <li>
                    <p align="JUSTIFY">
                        Il conferimento dei dati &#232; obbligatorio ai fini della registrazione sul portale Shimano e della attivazione della garanzia commerciale
                        "Terzo Anno"; l'eventuale rifiuto di fornire tali dati obbligatori comporter&#224; l'impossibilit&#224; di registrazione e quindi
                        l'inoperativit&#224; della garanzia commerciale "Terzo Anno".
                    </p>
                </li>
                <li>
                    <p align="JUSTIFY">
                        I dati potranno essere comunicati e/o diffusi, nell'ambito della rete di rivenditori autorizzati Shimano in caso di attivazione della garanzia
                        commerciale "Terzo Anno", ovvero a societ&#224; terze incaricata da Shimano per le finalit&#224; di cui ai precedenti punti 1 e 2.
                    </p>
                </li>
                <li>
                    <p align="JUSTIFY">
                        Il titolare del trattamento &#232;: Shimano Italy Fishinig SRL, Via Privata maestri del Lavoro 29, 20025 LEGNANO (MI) C.F. e P.IVA 10169190153.
                    </p>
                </li>
                <li>
                    <p align="JUSTIFY">
                        Il titolare del trattamento provveder&#224; a trattare i Suoi dati personali nel rispetto del D.Lgs. n.196/2003 mediante l'utilizzo di
                        piattaforme informatiche ad alta sicurezza (SSL e certificato SAS70 type II - per maggiori informazioni sulla sicurezza:<a href="http://policy.heroku.com/security" target="_blank">http://policy.heroku.com/security</a> -             <a href="http://mailchimp.com/about/security/" target="_blank">http://mailchimp.com/about/security/</a>).
                    </p>
                </li>
                <li>
                    <p align="JUSTIFY">
                        In ogni momento potr&#224; esercitare i Suoi diritti nei confronti del titolare del trattamento inviando comunicazione scritta a                <strong>privacy@shimanofishnetwork.it</strong>, ai sensi dell'art.7 del D.lgs.196/2003, che per Sua comodit&#224; riproduciamo integralmente:
                    </p>
                </li>
            </ol>
            <p align="CENTER">
                <em><u>Decreto</u></em>
                <em><u> </u></em>
                <em><u>Legislativo</u></em>
                <em><u> </u></em>
                <em>
                    <u>
                        n.196/2003
                        <br/>
                        Art.
                    </u>
                </em>
                <em><u> </u></em>
                <em><u>7</u></em>
                <em><u> </u></em>
                <em><u>-</u></em>
                <em><u> </u></em>
                <em><u>Diritto</u></em>
                <em><u> </u></em>
                <em><u>di</u></em>
                <em><u> </u></em>
                <em><u>accesso</u></em>
                <em><u> </u></em>
                <em><u>ai</u></em>
                <em><u> </u></em>
                <em><u>dati</u></em>
                <em><u> </u></em>
                <em><u>personali</u></em>
                <em><u> </u></em>
                <em><u>ed</u></em>
                <em><u> </u></em>
                <em><u>altri</u></em>
                <em><u> </u></em>
                <em><u>diritti</u></em>
            </p>
            <p align="JUSTIFY">
                <em>
                    1. L'interessato ha diritto di ottenere la conferma dell'esistenza o meno di dati personali che lo riguardano, anche se non ancora registrati, e la
                    loro comunicazione in forma intelligibile.
                </em>
            </p>
            <p align="JUSTIFY">
                <em>2. L'interessato ha diritto di ottenere l'indicazione:</em>
            </p>
            <p align="JUSTIFY">
                <em>
                    a) dell'origine dei dati personali;
                    <br/>
                    b) delle finalit&#224; e modalit&#224; del trattamento;
                    <br/>
                    c) della logica applicata in caso di trattamento effettuato con l'ausilio di strumenti elettronici;
                    <br/>
                    d) degli estremi identificativi del titolare, dei responsabili e del rappresentante designato ai sensi dell'articolo 5, comma 2;
                    <br/>
                    e) dei soggetti o delle categorie di soggetti ai quali i dati personali possono essere comunicati o che possono venirne a conoscenza in
                    qualit&#224; di rappresentante designato nel territorio dello Stato, di responsabili o incaricati.
                </em>
            </p>
            <p align="JUSTIFY">
                <em>3. L'interessato ha diritto di ottenere:</em>
            </p>
            <p align="JUSTIFY">
                <em>
                    a) l'aggiornamento, la rettificazione ovvero, quando vi ha interesse, l'integrazione dei dati;
                    <br/>
                    b) la cancellazione, la trasformazione in forma anonima o il blocco dei dati trattati in violazione di legge, compresi quelli di cui non &#232;
                    necessaria la conservazione in relazione agli scopi per i quali i dati sono stati raccolti o successivamente trattati;
                    <br/>
                    c) l'attestazione che le operazioni di cui alle lettere a) e b) sono state portate a conoscenza, anche per quanto riguarda il loro contenuto, di
                    coloro ai quali i dati sono stati comunicati o diffusi, eccettuato il caso in cui tale adempimento si rivela impossibile o comporta un impiego di
                    mezzi manifestamente sproporzionato rispetto al diritto tutelato.
                </em>
            </p>
            <p align="JUSTIFY">
                <em>4. L'interessato ha diritto di opporsi, in tutto o in parte:</em>
            </p>
            <p align="JUSTIFY">
                <em>
                    a) per motivi legittimi al trattamento dei dati personali che lo riguardano, ancorch&#233; pertinenti allo scopo della raccolta;
                    <br/>
                    b) al trattamento di dati personali che lo riguardano a fini di invio di materiale pubblicitario o di vendita diretta o per il compimento di
                    ricerche di mercato o di comunicazione commerciale.
                </em>
            </p>
            <a href="javascript:window.print()">Stampa</a>
        </div>
    </div>
</div>
