<div class="last">

<img src="/last_banner.jpg">

   <h2><span>SHIMANO vi presenta</span>THE LAST MAN STANDING!</h2>

<p>Shimano è orgogliosa di presentarvi un’iniziativa unica che permetterà a numerosi fortunati pescatori di vincere premi unici, non solo prodotti Shimano ma anche esperienze di pesca esclusive e molto altro!</p>

<p>The Last Man Standing è un concorso a premi che si svolgerà dal 1° Maggio al 31 Ottobre 2019, coinvolgendo tutti i pescatori che acquisteranno un prodotto Shimano, canne e/o mulinelli, per un valore pari o superiore a 100 euro e lo registrerà secondo le indicazioni riportate nel <a href="https://www.shimanofishnetwork.it/regolamento_ltd.pdf" target="_blank">REGOLAMENTO</a>. Per ogni acquisto il pescatore riceverà uno o più ticket virtuali da conservare insieme allo scontrino parlante o fattura.</p>

<p>Questo concorso nasce dalla collaborazione di Shimano con numerosi partner d’eccellenza, Suzuki, Lowrance, Master Gommoni, Cicli Olympia e ATP Val Di Sole, che ci hanno sostenuto nel progetto e permesso di inserire prodottti ed esperienze di altissima qualità per i nostri affezionati pescatori. </p>

<p>I primi 3 estratti porteranno a casa rispettivamente:</p>
<p><strong>1° estratto</strong>Gommone Master equipaggiato con Display Lowrance e motorizzato con Motore Suzuki DF40A</p>
<p><strong>2° estratto</strong>Bicicletta Elettrica Olympia motorizzata Shimano</p>
<p><strong>3° estratto</strong>Voucher per n.1 persona per soggiorno e pesca in Val di Sole
</p>
<p>... E NUMEROSI ALTRI PREMI FINO AL 50ESIMO ESTRATTO!</p>

<p>PREPARATEVI AD UNA STAGIONE DI PESCA VINCENTE!
</p>



</div>