<div class="perch">
  <div class="perch_nav">
      <div class="perch_nav_cont">
        <img class="perch_logo" src="/perch/logo.png">
        <a class="perch_link" href="/perch/regolamento.pdf" target="_blank">REGOLAMENTO</a>
        <a class="perch_link" href="https://itunes.apple.com/us/app/shimano-predator/id1456658318" target="_blank">DOWNLOAD iOS</a>
      </div>
  </div>
  <div class="perch_video">
    
    <div class="perch_video_cont">
        <video controls autoplay>
          <source src="/perch/video.mp4" type="video/mp4">
        Your browser does not support the video tag.
        </video>
    </div>

  </div>
  <div class="perch_articles">
    <% @articles.each do |p| %>
    <div class="perch_article">
      <div class="perch_image">
          <img src="<%= p.image.url %>">
      </div>
          <h2><%= p.title %></h2>
          <a href="<%=perch_show_path(p.url) %>" class="btn blue">Leggi tutto</a>
    </div>
    <% end %>
  </div>
</div>