<div class="perch">
  <div class="perch_nav">
      <div class="perch_nav_cont">
        <a href="/perch-league"><img class="perch_logo" src="/perch/logo.png"></a>
        <a class="perch_link" href="/perch/regolamento.pdf" target="_blank">REGOLAMENTO</a>
        <a class="perch_link" href="https://itunes.apple.com/us/app/shimano-predator/id1456658318" target="_blank">DOWNLOAD iOS</a>
      </div>
  </div>
   <div class="perch_hero">
    <h2><%= @article.title %></h2>
    <img src="<%= @article.image.url %>">
  </div>
  <div class="perch_post">
    <%= raw @article.description %>
  </div>
</div>