<% @page_title = "Coming soon" %>
<div id="garanzia" class="container">
  
  <div class="row header">
    <div class="col span_12">
      <h1>COMING <srong>SOON</srong></h1>
		<p>Stiamo aggiornando questa sezione - torna presto per tante novità !</p>
    </div>
      
  </div>

  <div class="row contents">
  <div class="col span_12"></div>
</div>
</div>
</div>