<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to 'Lista categorie', admin_question_categories_path  %></li>
      <li><%= link_to 'Lista sottocategorie', admin_question_category_question_subcategories_path(@question_subcategory.question_category) %></li>
      <li class="last"><%= link_to 'Lista domande', admin_question_category_question_subcategory_questions_path(@question_subcategory.question_category, @question_subcategory) %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title">Lista Domande per la categoria <%= @question_category.name %></h2>
    <%= search_form_for @q, :url => admin_question_category_question_subcategory_question_answers_path(@question_category, @question_subcategory, @question) do |f| %>
      <%= f.label :text_cont %>
      <%= f.text_field :text_cont %>
      <%= f.submit %>
    <% end %>
    <% unless @answers.empty? %>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first">ID</th>
          <th>Utente</th>
          <th>Risposta</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @answers.each do |answer| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td><%= answer.id %></td>
          <td><%= answer.fisher.email %></td>
          <td><%= link_to (truncate answer.text, :length => 100), edit_admin_question_category_question_subcategory_question_answer_path(@question_category, @question_subcategory, @question, answer) %></td>
          <td class="last">
            <%= link_to "Modifica", edit_admin_question_category_question_subcategory_question_answer_path(@question_category, @question_subcategory, @question, answer) %> |
            <%= link_to "Elimina", admin_question_category_question_subcategory_question_answer_path(@question_category, @question_subcategory, @question, answer), :method => :delete, :confirm => "Sei sicuro?" %>
          </td>
        </tr>
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        <%= will_paginate @answers %>
      </div>
    </div>
    <% else %>
    <p>Nessuna risposta da visualizzare</p>
    <% end %>
  </div>
</div>

