<p>Gentile <%= @resource.name %>,</p>
<p>Grazie per aver completato la registrazione!</p>
<p>Per confermare il tuo account su Shimano fish network e procedere con la registrazione dei tuoi prodotti per il terzo anno di garanzia Shimano clicca sul link seguente:</p>

<p><%= link_to 'Conferma il mio account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<p><b>I tuoi dati:</b></p>
<p><b>Nome:</b><%= @resource.name %></p>
<p><b>Cognome:</b><%= @resource.surname %></p>
<p><b>Data di nascita:</b><%= @resource.birth_date %></p>
<p><b>Regione:</b><%= @resource.region %></p>
<p><b>Email:</b><%= @resource.email %></p>
<p><b>Professione:</b><%= @resource.job %></p>
<p><b>Agonista?:</b><%= @resource.agonist ? 'Si' : 'No' %></p>
<% unless @resource.inner_waters_techniques.select{|t| t.present? }.empty? %>
<p><b>Tecniche in acque interne:</b><%= @resource.inner_waters_techniques.select{|t| t.present? }.join(", ") %></p>
<% end %>
<% unless @resource.sea_techniques.select{|t| t.present?}.empty? %>
<p><b>Tecniche in mare:</b><%= @resource.sea_techniques.select{|t| t.present?}.join(", ") %></p>
<% end %>

<p>Domande? / Commenti? Per favore non rispondere a questa mail.
Visita invece il sito shimanofishnetwork.it</p>