<p>Caro <%= @resource.email %>!</p>

<p>Qualcuno ha chiesto di cambiare la password del tuo account Shimano fish network. Per procedere clicca il link seguente :</p>

<p><%= link_to 'Cambia password', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Se non sei stato tu a richiedere il cambiamento, ignora questa mail.</p>