<%= f.input :title %>
<%= f.input :question %>
<%= f.input :published %>
<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "Salva") %> <%= "Salva" %>
  </button>
  <span class="text_button_padding">o</span>
	<%= link_to "Annulla", admin_question_category_question_subcategory_questions_path(@question_subcategory.question_category, @question_subcategory), :class => "text_button_padding link_button" %>
</div>
