<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "Lista categorie", admin_question_categories_path  %></li>
      <li><%= link_to 'Lista sottocategorie', admin_question_category_question_subcategories_path(@question_subcategory.question_category) %></li>
      <li class="first"><%= link_to "Lista domande", admin_question_category_question_subcategory_questions_path(@question_subcategory.question_category, @question_subcategory)  %></li>
      <li class="active"><%= link_to "Modifica", edit_admin_question_category_question_subcategory_question_path(@question_subcategory.question_category, @question_subcategory, @question) %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title">Modifica domanda</h2>
    <div class="inner">
      <%= simple_form_for [:admin, @question_subcategory.question_category, @question_subcategory, @question] do |f| -%>
        <%= render :partial => "form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>

