<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to 'Lista categorie', admin_question_categories_path  %></li>
      <li><%= link_to 'Lista sottocategorie', admin_question_category_question_subcategories_path(@question_subcategory.question_category) %></li>
      <li class="last active"><%= link_to 'Lista domande', admin_question_category_question_subcategory_questions_path(@question_subcategory.question_category, @question_subcategory) %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title">Lista Domande per la sottocategoria <%= @question_subcategory.question_category.name %> - <%= @question_subcategory.name %></h2>
    <%= search_form_for @q, :url => admin_question_category_question_subcategory_questions_path(@question_subcategory.question_category, @question_subcategory ) do |f| %>
      <%= f.label :title_or_question_cont %>
      <%= f.text_field :title_or_question_cont %>
      <%= f.submit %>
    <% end %>
    <% unless @questions.empty? %>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first">ID</th>
          <th>Utente</th>
          <th>Titolo</th>
          <th>Domanda</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @questions.each do |question| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td><%= question.id %></td>
          <td><%= question.fisher.email %></td>
          <td><%= link_to question.title, edit_admin_question_category_question_subcategory_question_path(@question_subcategory.question_category, @question_subcategory, question) %></td>
          <td><%=truncate question.question, :length => 100 %></td>
          <td class="last">
            <%= link_to 'Risposte', admin_question_category_question_subcategory_question_answers_path(@question_subcategory.question_category, @question_subcategory, question)%> |
            <%= link_to "Modifica", edit_admin_question_category_question_subcategory_question_path(@question_subcategory.question_category, @question_subcategory, question) %> |
            <%= link_to "Elimina", admin_question_category_question_subcategory_question_path(@question_subcategory.question_category, @question_subcategory, question), :method => :delete, :confirm => "Sei sicuro?" %>
          </td>
        </tr>
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        <%= will_paginate @questions %>
      </div>
    </div>
    <% else %>
    <p>Nessuna domanda da visualizzare</p>
    <% end %>
  </div>
</div>

