
<div id="prostaff" class="container">
  
  <div class="row header">
    <div class="col span_12">
      <h1>AMBASSADOR <srong>SHIMANO</srong></h1>
		<p>Shimano ha creato una squadra di esperti pescatori nelle varie tecniche di pesca. I nostri Pro-staff ci aiuteranno a creare e sviluppare prodotti sempre nuovi ed all'avanguardia, che soddisfino dal pescatore principiante fino al più afferrmato agonista. Da oggi i Pro-Staff Shimano sono a tua disposizione per chiarire ogni tuo dubbio e soddisfare ogni tua curiosità. La squadra è in continua evoluzione, torna a trovarci e scopri chi sarà il prossimo esperto Shimano!</p>
    </div>
      
  </div>

  <div class="row contents">
	<% @prostaff.each_slice(4) do |slice| %>
<div class="row">
		<% slice.each do |subcategory| %>
			<div class="col span_3">
				<% if subcategory.image? %>
				<img src="<%= subcategory.image.url(:square) %>">
				<% else %>
				<img src="http://placehold.it/350x350">
					<% end %>
		 		<h2><%= subcategory.name %></h2>
		 		<span class="profile"><%= subcategory.profile %></span>
		 		<p><%= raw(truncate(subcategory.bio, :length => 160, :separator => ' ', :omission => "...")) %></p>
		 		<a href="<%= show_pro_staff_path(subcategory.url)%>" class="btn blue">Scopri di più</a> 
		 		<a href="/garanzia/ask-shimano/<%= subcategory.question_category.url %>/<%= subcategory.url %>/new-question" class="btn grey">Fai una domanda</a> 
				</div>
		<% end %>
		  </div>
 <% end %>
  </div>
  </div>