
<div id="prostaff" class="container">
  
  <div class="row header">
    <div class="col span_12">
      <h1>AMBASSADOR <srong>SHIMANO</srong></h1>
		<p>Shimano ha creato una squadra di esperti pescatori nelle varie tecniche di pesca. I nostri Pro-staff ci aiuteranno a creare e sviluppare prodotti sempre nuovi ed all'avanguardia, che soddisfino dal pescatore principiante fino al più afferrmato agonista. Da oggi i Pro-Staff Shimano sono a tua disposizione per chiarire ogni tuo dubbio e soddisfare ogni tua curiosità. La squadra è in continua evoluzione, torna a trovarci e scopri chi sarà il prossimo esperto Shimano!</p>
    </div>
      
  </div>

  <div class="row contents">
  	<div class="col span_6"><img src="<%= @prostaff.image.url(:big) %>" class="fullexpert"></div>
  	<div class="col span_6">	<h2><%= @prostaff.name %></h2>
 		<span class="profile"><%= @prostaff.profile %></span>
 		<p><%= @prostaff.bio %></p>
 		<p><a href="/garanzia/ask-shimano/<%= @prostaff.question_category.url %>/<%= @prostaff.url %>/new-question" class="btn grey">Fai una domanda</a></p></div>
  </div>
  </div>
   </div>

