<p>Ciao,</p>
<p>E' stata caricata una nuova richiesta di assistenza.</p>
<p>Ecco i dettagli:</p>




<div class="row contents">
	<div class="col span_12">
	<h2>Richiesta <%= @dealer.sku %></h2>
	<p>EMAIL DEALER: <%= @dealer.dealer.email %></p>
	<p>DATA: <%= l @dealer.date %></p>
	<p>STATO: <%= @dealer.status %></p>
	<br>
	<a href="http://www.shimanofishnetwork.it/administration/dealer_assistance_requests/<%= @dealer.id %>/edit">AGGIORNA STATO</a>

	</div>
</div>
<div class="row contents">
	<div class="col span_6">
	<h3>PRODOTTO</h3>
	<p>	<%= @dealer.product %></p>
	<h3>In garanzia?</h3>
	<p><%= @dealer.in_warranty %></p>
	<br>
	<h3>Scontrino</h3>
	<p><%= @dealer.with_receipt %></p>
	<br>
	<% if @dealer.receipt.present? %>
	<h3>FOTO SCONTRINO</h3>
	<br>
	<img src="<%= @dealer.receipt.url %>" alt="" style="width:250px;">
	<a href="<%= @dealer.receipt.url %>">Scarica Foto</a>
	<br>
	<br>
	<% end %>
	
	</div>

	<div class="col span_6">
	<h3>Descrizione problema</h3>
	<%= simple_format @dealer.description %>
	<% if @dealer.picture.present? %>
	<h3>FOTO PROBLEMA</h3>
	<br>
	<img src="<%= @dealer.picture.url %>" alt="" style="width:250px;">
	<a href="<%= @dealer.picture.url %>">Scarica Foto</a>
	<% end %>
	<h3>CODICE PRODUZIONE</h3>
	<p><%= @dealer.production_code %></p>
	<br>
	<h3>Riferimento fattura</h3>
	<p><%= @dealer.billing_info %></p>
	<br>
	<h3>Data fattura</h3>
	<p><%= @dealer.billing_date %></p>
	
	</div>
</div>
</div>