<img src="http://www.shimanofishnetwork.it/camp_2.jpg" alt="" style="width:500px">
<br><br>
<p>COMPLIMENTI PER AVER PARTECIPATO ALLA SHIMANO SURFCASTING CAMPAIGN, ENTRO 90GG RICEVERAI LA BOBINA DI TAPERED SURF LINE DIRETTAMENTE A CASA TUA!</p>
<br><br>
<p>Shimano Italy Fishing
<br><br>
Contatto email
info@shimanofishnetwork.it 
</p>