<img src="http://www.shimanofishnetwork.it/banner_gar.jpg" alt="" style="width:500px">
<br><br>
<p>COMPLIMENTI PER AVER PARTECIPATO ALLA SHIMANO SPINNING CAMPAIGN, ENTRO 90GG RICEVERAI LA BOBINA DI KAIRIKI DIRETTAMENTE A CASA TUA!</p>
<br><br>
<p>Shimano Italy Fishing
<br><br>
Contatto email
info@shimanofishnetwork.it 
</p>