<p>Caro utente,<br>
<p>Grazie per aver scelto e acquistato un prodotto Shimano. In questa mail puoi trovare il riepilogo dei dati del prodotto che hai appena registrato.</p>

<p>Potrai stampare il dettaglio garanzia in qualsiasi momento dalla tua area riservata su shimano fish network</p>

<p>Intestatario<br>
<%= @product_registration.fisher.complete_name %></p>
<p>Contatto email<br>
<%= @product_registration.fisher.email %></p>
<p>Prodotto<br>
<%= @product_registration.product.to_s %></p>
<p>Dettagli<br>
Comprato presso : <%= @product_registration.store.name %>,<%= @product_registration.store.complete_address %><br>
Data acquisto: <%= l @product_registration.purchase_date, :format => :short %><br>
Garanzia valida fino a: <%= l @product_registration.warranty_expiration_date, :format => :short %></p>




<p>Domande? / Commenti? Per favore non rispondere a questa mail.
Visita invece il sito shimanofishnetwork.it</p>

