<%= f.input :product_id, as: :select, collection: Product.first(5), :input_html => { "data-ajax--url" => "/product_list.json", class: 'special_s2' } %>
<%= f.input :warranty %>
<%= f.input :receipt %>
<%= f.input :receipt_date %>
<div class="row">
	<div class="col span_6">
		
		<%= f.input :client_full_name %>
	</div>
	<div class="col span_6">
		
		<%= f.input :client_email %>
	</div>
</div>
<div class="row">
	<div class="col span_6">
<%= f.input :problem_description %></div>
<div class="col span_6">
<%= f.input :request_part %></div>
</div>


<hr>