<div id="garanzia" class="dealers container">
<div class="row header">
	<div class="col span_12">
	<h1>DEALER AREA <srong>SHIMANO</srong></h1>
	<p>Bentornato <%= current_dealer %>, <%= current_dealer.store %> </p>

	<a href="/dealers/new" class="btn">Apri nuova richiesta</a>
	</div>
</div>

<div class="row contents">
	<div class="col span_12">
	<h2>Le mie richieste</h2>
	<table>
	<tr>
		<td><h3>Data</h3></td>
		<td><h3>SKU</h3></td>
		<td><h3>STATO</h3></td>
		<td><h3>Azioni</h3></td>
	</tr>
	<% current_dealer.dealer_assistance_requests.each do |r| %>
	<tr>
		<td><%= r.date.strftime("%d-%m-%Y") %></td>
		<td><%= r.sku %></td>
		<td><%= r.status %></td>
		<td><a href="/dealers/<%= r.id %>" class="btn blue">Mostra</a></td>
	</tr>
	<% end %>

	
	</table>
	</div>
	
</div>

</div>