
<%= content_for :stylesheets do %>
	<style>
		label {
			display: block;
			text-transform: uppercase;
			font-weight: bold;
			margin-bottom: 10px; 
		}
		label.boolean {
			display: inline-block;
		}
		textarea {
			width: 100%;
			height: 80px;
			border: 1px solid #ececec;
		}
		span.error {
			display: block;
			margin: 10px auto;
			color: Red;
		}
		select {
			width: 100%;
			display: block;
			max-width: 320px;
		}
		input.string {
			width: 100%;
			max-width: 320px;
			height: 30px;
			padding: 4px;
			border: 1px solid #ececec;
		}
	</style>
  <%= stylesheet_link_tag '/ui-lightness/jquery-ui-1.8.16.custom.css' %>
<% end %>

<div id="garanzia" class="dealers container">
<div class="row header">
	<div class="col span_12">
	<h1>DEALER AREA <srong>SHIMANO</srong></h1>
	<p>Bentornato <%= current_dealer %>, <%= current_dealer.store %> </p>

	<a href="/dealers" class="btn">Torna indietro</a>
	</div>
</div>

<div class="row contents">
	<div class="col span_12">
	<h2>Nuova Richiesta</h2>
	</div>
</div>

<%= simple_form_for @dealer do |f| %>
<%= f.input :dealer_id, :as => :hidden  %>
<div class="row contents">
	<div class="col span_6">
	<%= f.input :date, :as => :hidden, value: Date.today() %>
		<% if @dealer.product.present? %>
		<%= f.input :product_id, :label => 'Prodotto', :as => :select, collection: [@dealer.product], :placeholder => 'Digita il nome del tuo prodotto' %>
		<% else %>
	  	<%= f.input :product_id, :label => 'Prodotto', :as => :select, :placeholder => 'Digita il nome del tuo prodotto' %>
	  	<% end %>
	 <br><br>
	 <%= f.input :in_warranty, label: 'In garanzia?' %>
	 <br><br>
	 <%= f.input :with_receipt, label: 'Scontrino ?' %>
	  <br><br>
	 <%= f.input :receipt, label: 'FOTO SCONTRINO' %>
	 <br><br>
	 <%= f.input :description, label: 'DESCRIZIONE PROBLEMA' %>

	 <br><br>
	 <%= f.input :picture, label: 'FOTO PROBLEMA' %>
	</div>
	<div class="col span_6">
		<%= f.input :production_code, label: "Codice produzione*" %>
		<p style="font-style: italic;font-size: 14px;">Dove trovare codice produzione:</p>
		<img src="/suggest.jpg" style="width:100%;" alt="">
		<br><br>
		<%= f.input :billing_info, label: "Riferimento fattura" %>
		<br><br>
		<%= f.input :billing_date, as: :string, label: "Data fattura", placeholder: 'GG/MM/AAAA' %>
	</div>
</div>
<div class="row contents">
	<div class="col span_12" style="text-align: center;">
		 <%= f.button :submit, "Invia", class: 'btn blue' %>
	</div>

</div>

	 
	<% end %>
		
	 
</div>
