<style>
	.col > img {
		width: 100%;
		display: block;
		margin: 20px auto;
	}
</style>
<div id="garanzia" class="dealers container">
<div class="row header">
	<div class="col span_12">
	<h1>DEALER AREA <srong>SHIMANO</srong></h1>
	<p>Bentornato <%= current_dealer %>, <%= current_dealer.store %> </p>

	<a href="/dealers" class="btn">Torna indietro</a>
	</div>
</div>

<div class="row contents">
	<div class="col span_12">
	<h2>Richiesta <%= @dealer.sku %></h2>
	<p>DATA: <%= l @dealer.date %></p>
	<p>STATO: <%= @dealer.status %></p>

	</div>
</div>
	

<div class="row contents">
	<div class="col span_6">
	<h3>PRODOTTO</h3>
	<p>	<%= @dealer.product %></p>
	<h3>In garanzia?</h3>
	<p><%= @dealer.in_warranty %></p>
	<br>
	<h3>Scontrino</h3>
	<p><%= @dealer.with_receipt %></p>
	<br>
	<% if @dealer.receipt.present? %>
	<h3>FOTO SCONTRINO</h3>
	<br>
	<img src="<%= @dealer.receipt.url %>" alt="">
	<br>
	<br>
	<% end %>
	
	</div>

	<div class="col span_6">
	<h3>Descrizione problema</h3>
	<%= simple_format @dealer.description %>
	<% if @dealer.picture.present? %>
	<h3>FOTO PROBLEMA</h3>
	<br>
	<img src="<%= @dealer.picture.url %>" alt="">
	<% end %>
	<h3>CODICE PRODUZIONE</h3>
	<p><%= @dealer.production_code %></p>
	<br>
	<h3>Riferimento fattura</h3>
	<p><%= @dealer.billing_info %></p>
	<br>
	<h3>Data fattura</h3>
	<p><%= @dealer.billing_date %></p>
	
	</div>
</div>
</div>