<%= semantic_form_for [:administration, @homepage_content], :html => { :multipart => true } do |f| %>
  <%= f.inputs do %>
    <%= f.input :title %>
    <%= f.input :abstract %>
    <%= f.input :link %>
    <%= f.input :video %>
    <%= f.input :new_window %>
    <% if @homepage_content.image.present? %>
      <%= image_tag @homepage_content.image.url, :with => 70, :height => 70 %>
    <% end %>
    <%= f.input :image, :as => :file %>
    <%= f.input :published %>
    <%= f.input :highlight %>
    <%= f.input :position %>
  <% end %>
  <%= f.buttons do %>
    <%= f.action :submit %>
    <li class="cancel"><%= link_to "Cancel", administration_homepage_contents_path %></li>
  <% end %>
<% end %>
