<div id="garanzia" class="container">
  
  <div class="row header">
    <div class="col span_12"><h2>Cambia la tua password</h2></div>
   </div>

  <div class="row contents">
  <div class="col span_12">
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  
 
  <div><%= f.label :password, "New password" %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation, "Confirm new password" %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Change my password" %></div>
<% end %>
</div></div></div>