<div id="garanzia" class="container">
  
  <div class="row header">
    <div class="col span_12">
      <h1>Dimenticato la password ?</h1>
      <p>Inserisci di seguito la mail con cui hai effettuato la registrazione per ricevere le istruzioni per impostare la tua password.</p>
   <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
    </div>
      
  </div>

  <div class="row contents">
  <div class="col span_12">
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.submit "Inviami le istruzioni", :class => 'btn grey'   %></div>
<% end %>
</div>
</div>

</div>