<div id="catalogue" class="container">
  <div class="row header">
    <div class="col span_12"><h1><strong>Shimano</strong> cataloghi</h1><p>Tutti i Cataloghi Shimano, Rapala, Storm, Gloomis, Dynamite, Carp Spirit a portata di click!</p></div>
  </div>

  <% @catalogues.each_slice(4) do |slice| %>
  <div class="row stores">
    <% slice.each do |catalogue| %>
    <div class="col span_3">
      <div class="catalogue">
        <a href="<%= catalogue.link %>">
        <img src="<%= catalogue.image.url %>">
        </a>
        <h2><%= catalogue.title %></h2>
         <% catalogue.attachments.each do |attachment| %>
            <a href="<%= attachment.link || attachment.url %>" target="_blank" class="btn grey">Scarica</a>
          <% end %>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>