
<div id="gallery" class="container">
  <div class="row header">
    <div class="col span_12">
      <h1><strong><%= @photo.title %></strong> di <%= @photo.fisher.privacy_name %></h1>
      <div class="row" style="position:relative;height:50px;">
 <div style="position:absolute;left:0;"> <%= link_to '<< Prec', photo_path(@gallery, @photo.next), :class => 'btn btn-info btn-mini' if @photo.next.present? %></div>
  <div style="position:absolute;right:0;"> <%= link_to 'Succ >>', photo_path(@gallery, @photo.prev), :class => 'btn btn-info btn-mini' if @photo.prev.present? %></div>
</div>
    </div>
  </div>

 
<div class="row contents">
  <div class="col span_6">
  <%= image_tag @photo.image.url(:big), alt: @photo.title %>
 
</div>
<div class="col span_6">
  
    <%=simple_format @photo.description %>
      <div class="socialbuttons">
<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style ">
<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
<a class="addthis_button_tweet"></a>
<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
<a class="addthis_counter addthis_pill_style"></a>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4e3173ec6078c1ec"></script>
<!-- AddThis Button END -->
</div>
</div>
   

</div>
</div>