      <div class="search">
       <form class="form-search" method="get" action="/blog">
      <% if params.has_key?(:q) %>
        <input type="text" class="input-medium search-query" placeholder="<%= params[:q] %>" name="q">
    <% else %>
        <input type="text" class="input-medium search-query" placeholder="Cerca nel blog" name="q">
    <% end %>
    </form>
      </div>
      <div class="subscribe">
        <h2>ISCRIVITI A SHIMANO <span>FISH NETWORK</span></h2>
        <p>Effettua subito l'accesso con i tuoi dati o registrati immediatamente per entrare a far parte di Shimano Fish Network !
Per i prodotti acquistati da Gennaio 2012, su Shimano Fish Network potrai registare le tue canne e i tuoi mulinelli da pesca Shimano e Gloomis in pochi clic, abilitando la garanzia per il terzo anno.</p>
        <a href="/garanzia" class="btn">Iscriviti ora</a>
      </div>
      <div class="follow">
        <h2>FOLLOW <span>US</span></h2>
        
      <a href="https://www.youtube.com/user/FishWithShimanoItaly/videos" target="_blank"><%= fa_icon "youtube-square" %></a>
      <a href="https://www.facebook.com/Shimano.Pesca?fref=ts" target="_blank"><%= fa_icon "facebook-square" %></a>
       <a href="https://twitter.com/ShimanoPescaIt" target="_blank">
        <%= fa_icon "twitter-square" %>
      </a>
      <a href="https://www.instagram.com/shimanopesca/" target="_blank">
        <%= fa_icon "instagram" %>
      </a>
      </div>
      <div class="random">
        <h2>Articolo <span>random</span></h2>
          <a href="/blog/<%= @random.date %>/<%= @random.title.parameterize %>">
          <img src="<%= @random.image.url(:big) %>" alt="">
          <%= @random.title %>
        </a>
      </div>
      <div class="category">
        <h2>CATEGORIE</h2>
       <% @cat.each do |cat| %>
       <% unless cat.slug == 'perch' %>
<a href="/blog/category/<%= cat.slug %>" class="cat <% if @category.present? && cat.id == @category.id %>active<% end %>"><%= cat.title %></a>
<% end %>
<% end %>
      </div>
      <!-- div class="friends">
        <h2>LINK </h2>
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
      </div -->
      <div class="tags">
        <h2>TAG CLOUD</h2>
        <% @tags.each do |cat| %>
        <a href="/blog/tag/<%= cat.url %>" class="tag <% if @tag.present? && cat.id == @tag.id %>active<% end %>" >#<%= cat.name %></a>
        <% end %>
      </div>



