<div id="blog" class="container">
 <div class="row header">
    <div class="col span_12">
 
      <h1>Pubblicati in <strong><%= @category.title %></strong></h1>
      
     </div>
  </div>
  <div class="row">
    <div class="col span_9 content">
      <div id="mason">
      <% @posts.each do |post| %>
        <div class="col item span_6">
          <div class="post"> 
            <% if post.image.present? %>
                  <a href="/blog/<%= post.date %>/<%= post.title.parameterize %>">
                  <img src="<%= post.image.url(:big) %>" alt="">
                </a>
                  <% end %>
            <h3><%= post.post_category.title %> | <%= post.date.strftime("%d-%m-%Y") %></h3>
            <h2><%= post.title %></h2>
            <p><% text = ActionView::Base.full_sanitizer.sanitize(post.description) %> <%=  raw truncate(text, length: 200, separator: '.') %></p>
             <a href="/blog/<%= post.date %>/<%= post.title.parameterize %>" class="btn blue">Leggi tutto</a>
          </div>
        </div>
        <% end %>
        </div>
        <%= will_paginate @posts, :next_label => 'Succ.', :previous_label => 'Prec.' %>
    </div>
    <div class="col span_3 sidebar">
       <%= render :partial => 'sidebar' %>
    </div>
  </div>
</div>
</div>