<div id="blog" class="container">
  <div class="hero">
  <div class="cycle-slideshow" data-cycle-fx=fade data-cycle-timeout="6000" data-cycle-manual-speed="900" data-cycle-slides="> div">
  <span class="cycle-pager"></span> 
  <% @top3.each do |post| %>
  <div class="slide">
    <img src="<%= post.image.url(:big) %>" data-mobile="<%= post.image.url(:square) %>" alt="">
    <div class="caption">
      <h3><%= l(post.created_at, :format => :short) %></h3>
      <span class="line"></span>
      <h2><%= post.title %></span></h2>
      <a href="/blog/<%= post.date %>/<%= post.title.parameterize %>" class="btn">SCOPRI di più</a>
    </div>
  </div>
  <% end %>
  </div>

  <div class="row">
    <div class="col span_9 content">
      <div id="mason">
      <% @posts.each do |post| %>
        <div class="col item span_6">
          <div class="post"> 
            <% if post.image.present? %>
                  <a href="/blog/<%= post.date %>/<%= post.url %>">
                  <img src="<%= post.image.url(:big) %>" alt="">
                </a>
                  <% end %>
            <h3><%= post.post_category.title %> | <%= post.date.strftime("%d-%m-%Y") %></h3>
            <h2><%= post.title %></h2>
            <p><% text = ActionView::Base.full_sanitizer.sanitize(post.description) %> <%=  raw truncate(text, length: 200, separator: '.') %></p>
             <a href="/blog/<%= post.date %>/<%= post.url %>" class="btn blue">Leggi tutto</a>
          </div>
        </div>
        <% end %>
        </div>
        <%= will_paginate @posts, :next_label => 'Succ.', :previous_label => 'Prec.' %>
    </div>
    <div class="col span_3 sidebar">
       <%= render :partial => 'sidebar' %>
    </div>
  </div>
</div>
</div>