<div id="blog" class="container">
    <div class="row header">
    <div class="col span_12">
      <h2>Pubblicato il <%= @post.date.strftime("%d-%m-%Y") %> in <%= @post.post_category.title %></h2>
      <h1><%= @post.title %></h1>
      <div class="links"> <a href="/blog/category/<%= @post.post_category.slug %>" class="green"><%= @post.post_category.title %></a>
       <% @post.post_tags.each do |tag| %>
            <a href="/blog/tag/<%= tag.url %>">#<%= tag.name %></a>
            <% end %></div>
     </div>
  </div>
  <div class="row">
    <div class="col span_9 content">

    <%= raw(@post.description) %>
    <% if @post.fisher_content.present? %>
      <% if fisher_signed_in? %>
        <%= raw(@post.fisher_content) %>
      <% else %>
        <h2>CONTENUTO ESLCUSIVO PER UTENTI REGISTRATI</h2>
        <p>__</p>
        <p>Registrati o fai login per vedere il contenuto</p>
        <div class="formello">
          <%= form_for("session", :html => { :class => "form-inline"}, :url => fisher_session_path, :method => :post) do |f|%>
          <%= f.text_field :email, :value => 'Email' %>
          <%= f.password_field :password, :value => 'password'  %>
          <%= f.submit 'Entra', :class => 'btn blue' %>
          <label class="checkbox">
            <%= f.check_box :remember_me %> Ricorda la password
          </label>
          <h3>Non sei ancora registrato?
            <%= link_to "Registrati", new_fisher_registration_path, :class => '' %></h3>
          <% end %>   
        </div>
      <% end %>
    <% end %>
      <div class="socialbuttons">
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style ">
          <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
          <a class="addthis_button_tweet"></a>
          <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
          <a class="addthis_counter addthis_pill_style"></a>
        </div>
        <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4e3173ec6078c1ec"></script>
        <!-- AddThis Button END -->
      </div>
    </div>
    <div class="col span_3 sidebar">
       <%= render :partial => 'sidebar' %>
    </div>
  </div>
</div>
</div>
<style type="text/css">
  #session_email {
    padding: 11px;
  }
  #session_password {
    padding: 11px;
  }
</style>