<div id="garanzia" class="container">
  
  <div class="row header">
    <div class="col span_12">
      <h1>Carica la tua <strong>cattura</strong></h1>
      <h3>Regolamento</h3>
<p>a) Non saranno accettate foto in cui si veda il pesce sanguinante o ferito.</p>
<p>b) Saranno accettate solo foto scattate nel momento della cattura, in ambiente naturale</p>
<p>c) Non saranno accettate foto in cui compaiano marchi e/o prodotti della concorrenza</p>
<p>d) Saranno accettate solo foto in cui siano visibili i marchi Shimano e/o G.Loomis oppure dove siamo ben visibili i marchi dei nostri prodotti (es. Stella, Ultegra, Biocraft, GLX ecc.)</p>
<p>e) Non saranno accettate foto in cui il pescatore è a petto nudo.</p>
<p>f) Non saranno accettate foto che non rispettino tutti i punti elencati precedentemente</p>
   <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
    </div>
      
  </div>

  <div class="row contents">
  <div class="col span_12">

<%= simple_form_for @photo, :html => { :multipart => true } do |f| %>
  <%= f.input :title, :label => 'Titolo' %>
  <%= f.input :description, :label => 'Descrivi in 160 caratteri la tua esperienza', :lenght=>50 %>
  <%= f.input :image, :label => 'Immagine in Jpg' %>
   <div class="privacy">
  <%= render :partial => 'shared/photos' %>
</div>
<br>
  <%= f.input :agreement, :as => :radio %>
    <div class="privacy">
  <%= render :partial => 'shared/concorso' %>
</div>
<br>
  <%= f.input :regulation, :as => :radio %>
  <%= f.submit 'Salva' %>
<% end %>


</div>
</div>
</div>


