
<div id="gallery" class="container">
  <div class="row header">
    <div class="col span_12">
      <h1>Archvio <strong>Gallery</strong></h1>
    </div>
  </div>

  <div id="mason">
 <% @galleries.each do |gallery| %>
    <a href="<%= gallery_path(gallery) %>" class="col span_4 item" style="position:relative">
          <%= image_tag gallery.cover.first.image.url, :class => 'comphoto' %>

          <span class="title"><%= gallery.title %></span>
      </a>
     
    <% end %>

</div>

  

</div>
