
<div id="gallery" class="container">
  <div class="row header">
    <div class="col span_12">
      <h1><%= @gallery.title %></h1>
      <%=auto_link(simple_format(@gallery.description), :html => { :target => '_blank' } ) %>
      <%= render :partial => 'shared/community_links' %>
    </div>
  </div>

  <div id="mason">
  <% @gallery.photos.published.order('id DESC').each do |photo| %>
    <a href="<%= photo_path(@gallery, photo) %>" class="col span_4 item">
          <%= image_tag photo.image.url(:big), :class => 'comphoto' %>
      </a>
     
    <% end %>

</div>

  

</div>