// Place all the styles related to the store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#catalogue {
	background-color: White;
	.pagination {
		display: block;
		padding:20px;
		box-sizing: border-box;
		a {
			color: Black;
			text-decoration: none;
		}
	}
	.header {
		display: block;
		background-color: #1DAEEC;
		&:after {
			content:'';
			position: relative;
			display: block;
			width: 100%;
			clear: both;
		}
		.filters {
			clear: both;
			margin-bottom: 20px;
			&:after {
			content:'';
			position: relative;
			display: block;
			width: 100%;
			clear: both;
		}
			h2 {
				clear: both;
			}
		}
		.col {
			padding: 50px;
			h1 {
				color: White;
				font-size: 2.9em;
				text-transform: uppercase;
				font-weight: 100;
				margin-bottom: 20px;
				strong {
					font-weight: 900;
				}
			}

			h2 {
				color: White;
				font-size: 1.5em;
				font-weight: 100;
				margin-bottom: 10px;

			}
			p {
				color: White;
				font-weight: 100;
				line-height: 1.2;
			}
			input {
				display: block;
				border:0px;
				width: 100%;
				max-width: 500px;
				margin: 20px auto;
				text-align: center;
				padding: 15px;
				text-transform: uppercase;
			}
			
		}
	}
	.stores {
		border-bottom: 1px solid #ececec;
		padding-top: 20px;
		&:after {
			content:'';
			position: relative;
			display: block;
			width: 100%;
			clear: both;
		}
		.col {
			position: relative;
			border-left: 1px solid #ececec;
			text-decoration: none;
			color: Black;
			.catalogue {
				padding: 20px;
				box-sizing: border-box;
				text-align: center;
				img {
					width: 100%;
					margin-bottom: 20px;
				}
				h2 {
					font-size: 1.4em;
					text-transform: uppercase;
					line-height: 1;

				}
				p {
					line-height: 1.5;
					text-transform: uppercase;
					font-weight: 400;
				}
				a {
					display: block;
					width: 100%;
				}
				
			}
		}
	}
}