// Place all the styles related to the store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_navigation {
	background-color: #333;
	padding: 20px;
	position: relative;
	&:before {
		position: absolute;
		width: 10px;
		height: 10px;
		background-color: #333;
		content:'';
		top: 0;
		left: 60px;
		transform:rotate(45deg) translateY(-50%);
	}
	a {
		color:White;
		text-decoration: none;
		font-size: 14px;
		margin-right: 16px;
	}
}
#community {
	background-color: White;
	.pagination {
		display: block;
		padding:20px;
		box-sizing: border-box;
		a {
			color: Black;
			text-decoration: none;
		}
	}
	.header {
		display: block;
		background-color: #1DAEEC;
		&:after {
			content:'';
			position: relative;
			display: block;
			width: 100%;
			clear: both;
		}
		
		.col {
			padding: 50px;
			h1 {
				color: White;
				font-size: 2.9em;
				text-transform: uppercase;
				font-weight: 100;
				margin-bottom: 20px;
				@media screen and (max-width: 1600px) {
				font-size: 1.5em;
			}
				strong {
					font-weight: 900;
				}
			}

			h2 {
				color: White;
				font-size: 1.5em;
				font-weight: 100;
				margin-bottom: 10px;

			}
			p {
				color: White;
				font-weight: 100;
				line-height: 1.2;
			}
			
		}
	}
	.widgets {
		border-bottom: 1px solid #ececec;
		&:after {
			content:'';
			position: relative;
			display: block;
			width: 100%;
			clear: both;
		}
		.col {
			padding: 20px;
			border-left: 1px solid #ececec;
			&.noborder {
				border: 0px;
				padding: 5px;
			}
			.event_title {
				margin:20px auto;
				padding:20px 5px;
				text-transform: uppercase;
				display: block;
				text-align: center;
				text-decoration: none;
				color: Black;
				border-top: 1px dotted #333;
				border-bottom: 1px dotted #333;
				letter-spacing: 0.01em;
			}
			h2 {
				text-transform: uppercase;
				font-weight: 700;
				margin:5px 0px;
				font-size: 1.5em;
			}
			h3 {
				text-transform: uppercase;
				font-weight: 400;
				margin:5px 0px;
				font-size: 1.2em;
			}
			p {
				line-height: 1.2;
					margin: 20px auto;
			}
			.clear {
				margin-bottom: 20px;
				clear: both;
				a {
					text-decoration: none;
					color: Black;
					text-transform: uppercase;
					font-weight: 700;
					&.btn {
						color: White;
						font-weight: 400;
					}
				}
			}
			.votes {
				width: 60px;
				height: 60px;
				text-align: center;
				float: left;
				background-color: #1DAEEC;
				color: White;
				margin-right: 10px;

				div {
					position: relative;
					top: 50%;
					transform: translateY(-50%);
					font-size: 12px;
				}
			}
		}
	}
}