// Place all the styles related to the store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#contest {
	background-color: White;
	.pagination {
		display: block;
		padding:20px;
		box-sizing: border-box;
		a {
			color: Black;
			text-decoration: none;
		}
	}
	.header {
		display: block;
		background-color: #1DAEEC;
		&:after {
			content:'';
			position: relative;
			display: block;
			width: 100%;
			clear: both;
		}
		
		.col {
			padding: 50px;
			h1 {
				color: White;
				font-size: 2.9em;
				text-transform: uppercase;
				font-weight: 100;
				margin-bottom: 20px;
				@media screen and (max-width: 1600px) {
				font-size: 1.5em;
			}
				strong {
					font-weight: 900;
				}
			}

			h2 {
				color: White;
				font-size: 1.5em;
				font-weight: 100;
				margin-bottom: 10px;

			}
			p {
				color: White;
				font-weight: 100;
				line-height: 1.2;
			}
			
		}
	}
	.row {
		.hero {
			height: 0px;
			padding-bottom: 40%;
			overflow: hidden;
			position: relative;
			.overeffect {
				display: none;
				z-index: 9999;
				position: fixed;
				top: 0px;
				left: 0px;
				width: 100%;
				height: 100%;
				background-color: White;
			}
			&.js-conready {
				cursor: pointer;
			}
			img {
				width: 100%;
				position: absolute;
				left: 0px;
				bottom: 0px;
			}
			.txt-box {
				width: 90%;
				display: block;
				position: absolute;
				left: 50%;
				margin-left:-250px; 
				top: 50%;
				transform:translateY(-50%);
				max-width:500px;
				color: White;
				text-align: center;
				h2 {
				color: White;
				font-size: 1.7em;
				font-weight: 100;
				margin-bottom: 10px;
				font-weight: 700;
				text-transform: uppercase;
				text-shadow:0px 0px 5px Black;
				}
				p {
					text-shadow:0px 0px 5px Black;
				}

			}
		}
	}
	.contents {
		border-bottom: 1px solid #ececec;
		&:after {
			content:'';
			position: relative;
			display: block;
			width: 100%;
			clear: both;
		}
		.col {
			padding: 20px;
			border-left: 1px solid #ececec;
			img {
				width: 100%;
			}
			&.hidden {
				opacity: 0.5;
				filter: blur(5px);
			}
			ul {
				li {
					display: block;
					margin:10px 0px;
					padding:10px 0px;
					border-top:1px dashed #ccc;
					text-align: center;
					font-size: 1.2em;
					font-weight: 100;
					&:first-child {
						border-top:0px;
					}
				}
			}
			&.noborder {
				border: 0px;
				padding: 5px;
			}
			.event_title {
				margin:20px auto;
				padding:20px 5px;
				text-transform: uppercase;
				display: block;
				text-align: center;
				text-decoration: none;
				color: Black;
				border-top: 1px dotted #333;
				border-bottom: 1px dotted #333;
				letter-spacing: 0.01em;
			}
			h2 {
				text-transform: uppercase;
				font-weight: 700;
				margin:5px 0px;
				font-size: 1.5em;
			}
			h3 {
				text-transform: uppercase;
				font-weight: 400;
				margin:20px 0px 0px;
				font-size: 1.2em;
			}
			p {
				line-height: 1.2;
					margin: 20px auto;
			}
			a.grey {
					color: #333;
					text-transform: uppercase;
			}
			.clear {
				margin-bottom: 20px;
				clear: both;
				a {
					text-decoration: none;
					color: Black;
					text-transform: uppercase;
					font-weight: 700;
					&.btn {
						color: White;
						font-weight: 400;
					}
				}
			}
			.votes {
				width: 60px;
				height: 60px;
				text-align: center;
				float: left;
				background-color: #1DAEEC;
				color: White;
				margin-right: 10px;

				div {
					position: relative;
					top: 50%;
					transform: translateY(-50%);
					font-size: 12px;
				}
			}
		}
	}
}