// Place all the styles related to the dealers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dealers {
	table {
		width: 100%;
		tr {
			padding: 5px;
		}
		td {
			padding: 5px;
		}
	}	
}
.dealer_attachment {
	background-color: White;
	padding: 40px;
	table {
		width: 100%;
		tr {
			padding: 5px;
		}
		td {
			padding: 5px;
		}
	}	
}

.dealer_login {
	label {
		display: block;
	}
	h2 {
		margin-bottom: 20px;
	}
}