#footer {
	.col {
		padding: 10px 20px 20px;
		text-align: center;
		&.black {
			background-color: Black;
			padding: 20px 0px;
		}
		&:last-child {
		}
		h2 {
			color: White;
			line-height: 1;
			margin: 20px auto;
			font-size: 1em;
			text-transform: uppercase;
			font-weight: 700;
		}

		a {
			color: White;
			text-decoration: none;
			line-height: 1.5;
			font-size: 0.8em;
			display: block;
		}
		p {
			color: White;
			text-transform: uppercase;
			font-weight: 100;
			font-size: 0.6em;
		}
	}
}