// Place all the styles related to the store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#gallery {
	background-color: White;
	.pagination {
		display: block;
		padding:20px;
		box-sizing: border-box;
		a {
			color: Black;
			text-decoration: none;
		}
	}
	.contents {
		&:after {
			content:'';
			position: relative;
			display: block;
			width: 100%;
			clear: both;
		}
		.socialbuttons {
				margin-top:20px;
				display: block;
			}
		.col {
			padding:20px;


			img {
				width: auto;
				max-width: 100%;
				display: block;
				margin:20px auto;
			}
		}
	}
	.header {
		display: block;
		background-color: #1DAEEC;
		&:after {
			content:'';
			position: relative;
			display: block;
			width: 100%;
			clear: both;
		}
		
		.col {
			padding: 50px;
			h1 {
				color: White;
				font-size: 2.9em;
				text-transform: uppercase;
				font-weight: 100;
				margin-bottom: 20px;
				@media screen and (max-width: 1024px) {
					font-size: 1.5em;
			}
				strong {
					font-weight: 900;
				}
			}

			h2 {
				color: White;
				font-size: 1.5em;
				font-weight: 100;
				margin-bottom: 10px;

			}
			p {
				color: White;
				font-weight: 100;
				line-height: 1.2;
			}
			
		}
	}
	#mason {
	background-color: Black;

	}
	.item {
		span.title {
				color: White;
				position: absolute;
				top: 50%;
				width: 90%;
				display: block;
				text-align: center;
				text-transform: uppercase;
				left: 5%;
				transform: translateY(-50%);
				font-weight: 700;
				font-size: 1.2em;
			}
		overflow: hidden;
		img {
			width: 100%;
			transition: all 1s ease-in-out;
			&:hover {
				opacity: 0.5;
				transform: scale(1.05);
			}
		}
	}
}