@keyframes fromTopz {
  0%   { transform: translateY(-100%); }
  100% { transform: translateY(0); }
}

body {
	&.headfix {
		#header {
			position: fixed;
			top: 0px;
			z-index: 200;
			padding: 10px 10px 0px;
			-webkit-backface-visibility: hidden;
			animation: fromTopz 500ms ease;
			width: 100%;
			max-width: 1600px;
			left: 50%;
			margin-left: -800px;
			box-shadow:0px 0px 5px Black;
			z-index: 1000;
			@media screen and (max-width: 1600px) {
				left: 0px;
				margin-left: 0px;
			}
			img.logo {
				height: 20px;
			}
			.responsivemenu {
				float: right;
				font-size: 20px;
				line-height: 20px;
				display: none;
				@media (max-width: 1024px) {
						display: block;
					}
			}
			.main {
				display: inline-block;
					@media (max-width: 1024px) {
						width: 100%;
					}
			}
			#socialnav {
				display: none;
			}

			.col {
				&.logo {
					height: 34px;
				}
			}

			ul {
				margin-left: 20px;
				padding-top: 0px;
			}
		}
	}
}

#topheader {
	ul {
		list-style: none;
		width: 100%;
		text-align: justify;
		display: table;
		li {
			display: inline-block;
			padding: 10px 20px;
			border-left: 1px solid Black;
			text-align: center;
			display: table-cell;
			color: White;
			&.logged {
				font-size: 0.8em;
				letter-spacing: 0.01em;
				line-height: 2;
				&:hover {
				background-color: #333;
			}
				a {
					display: inline-block;
					font-size: 1em;
					&:hover {
						opacity: 0.5;
					}
				}
			}
			&:hover {
				background-color: #555;
			}
			&:last-child {
				border-right: 1px solid Black;
			}
			a {
				color: White;
				text-decoration: none;
				display: block;
				text-align: center;
				font-size: 0.8em;
				letter-spacing: 0.01em;
				line-height: 2;
				 @media (max-width: 1024px) {
				    span {
				    	display: none;
				    }
				  }
				i {
					margin-right: 5px;
				}
			}
		}
	}
}
#header {
	background-color: White;
	padding:20px 20px 0px;
	position: relative;
	@media (max-width: 1024px) {
				padding:20px;
			}
	#socialnav {
		text-align: right;
		@media (max-width: 1024px) {
			display: none;
		}
		a {
			display: inline-block;
			margin-left: 8px;
			i {
				line-height: 35px;
				font-size: 30px;
				color:#333;
				&.shimano {
					height: 35px;
					width: 35px;
					padding:5px;
					color: White;
					font-size: 20px;
					font-weight: 700;
					display: inline-block;
					text-align: center;
					position: relative;
					span {
						position: absolute;
						width: 25px;
						height: 25px;
						left: 12px;
						top: 12px;
						background-color: #333;
						border-radius: 7px;
						line-height: 20px;
						text-align: center;

					}

				}
			}
		}
	}
	.responsivemenu {
		float: right;
		font-size: 20px;
		line-height: 20px;
		display: none;
		color: Black;
		@media (max-width: 1024px) {
				display: block;
			}
	}
	img {
		height: 35px;
		width: auto;
		@media (max-width: 1024px) {
				height: 20px;
			}
	}
	ul {
		display: block;
		padding-top: 20px;
		transition: all ease 1s;  
		overflow: hidden;
		@media (max-width: 1024px) {
				max-height: 0px;
				padding-top: 0px;
			}
		&.open {
			@media (max-width: 1024px) {
				display: block;
				padding-top: 20px;
				max-height: 1000px;
			}
		}
		&:after {
			content: '';
			display: block;
			position: relative;
			clear: both;
			width: 100%;
		}
		li {
			display: block;
			float: left;
			padding-right: 40px;
			padding-bottom: 10px;
			@media (max-width: 1024px) {
				float: none;
				padding:10px 0px;
			}
			&.hovered {
				.subnav {
					visibility: visible;
					opacity: 1;
				}
				a {
					&:after {
						opacity: 1;
					
				}
				}
			}
			.subnav {
				opacity: 0;
				visibility: hidden;
				position: absolute;
				background-color: #333;
				width: 100%;
				left: 0px;
				top: 100%;
				padding: 10px 20px;
				z-index: 500;
				border-bottom: 5px solid Black;
				h2,h3,a {
					color: White;
				}
				img {
					width: 100%;
					height: auto;
				}
				.contents {
		.col {
			padding: 10px 20px;
			img {
				width: 100%;
				border: 0px solid White;

			}

			h2 {
				color: White;
				text-transform: uppercase;
				margin: 20px auto;
				font-weight: 300;
				letter-spacing: 0.05em;
				strong {
					font-weight: 700;
				}
			}
			a {
				display: block;
				color: White;
				text-decoration: none;
				font-weight: 100;
				&:after {
					display: none;
				}
			}
		}
	}
			}
			&:last-child {
				margin-right: 0px;
			}
			a {
				color: Black;
				font-size: 0.9em;
				font-weight: 400;
				letter-spacing: 0.01em;
				line-height: 2;
				text-decoration: none;
				position: relative;
				&:after {
					content: '';
					width: 30px;
					height: 30px;
					background-color: #333;
					left: 50%;
					margin-left: -15px;
					bottom: -40px;
					transform:rotate(-45deg);
					position: absolute;
					opacity: 0;
					z-index: 0;

				}
				&:hover {
					
				}
			}
		}
	}
}