// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@keyframes fromTop {
  0%   { transform: translateY(-70%);opacity: 0; }
  100% { transform: translateY(-50%); opacity: 1}
}

#home {
	.hero {
		.cycle-slideshow {
		padding-bottom: 36%;
		position: relative;
		width: 100%;
		overflow: hidden;
		height: 0;
		@media (max-width: 1024px) {
				padding-bottom: 100%;
			}
		span.cycle-pager {
			position: absolute;
			bottom: 10px;
			width: 100%;
			text-align: center;
			z-index: 200;
			span {
				color: White;
				font-size: 80px;
				margin: 5px;
				opacity: 0.5;
				cursor: pointer;
				&.cycle-pager-active {
					opacity: 1;
				}
			}
		}
		}
		.slide {
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			img {
				width: 100%;
				position: absolute;
				top: 0px;
				left: 0px;
			}
			.caption {
			    animation: fromTop 1000ms ease;
				width: 50%;
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				padding-left: 50px;
				h3,h2 {
					color: White;
				}
				h3 {
					text-transform: uppercase;
					font-size: 1.2em;
					letter-spacing: 0.1em;
					font-weight: 400;
					@media (max-width: 1024px) {
						font-size: 1em;
					}
				}
				span.line {
					width: 50px;
					display: block;
					background-color: White;
					height: 2px;
					margin: 20px 0px;
				}

				h2 {
					font-size: 3.5em;
					font-weight: 900;
					text-transform: uppercase;
					text-shadow:0px 0px 5px Black;
					@media (max-width: 1024px) {
						font-size: 2em;
					}
					span {
						display: block;
						font-weight: 300;
					}
				}


			}
		}
	}

	.row {
		.col {
			overflow: hidden;
			
			img {
				transition: all 1s ease;
			}
			&:hover {
				img {
					transform:scale(1.02);
					opacity: 0.5;
				}
				a {
						background-position: center bottom;
						border-color: #1DAEEC;
				}
			}
		}
	}

	.community--photo {	
		.col {
			position: relative;
			padding-bottom: 25%;
			background-color: Black;
			@media (max-width: 1024px) {
						padding-bottom: 100%;
					}
			&:last-child {
				background-color: White;
				overflow: inherit;
			}
			&:first-child {
				background-color: #1DAEEC;
				.content {
					padding: 0px;
					text-align: center;
					.text {
						display: inline-block;
						padding: 20px;
					}
				}
			}
			&:last-child {
				.content {
					&:before {
						content:'';
						width: 30px;
						height: 30px;
						position: absolute;
						left: -15px;
						background-color: White;
						top: 50%;
						margin-top: -15px;
						transform:rotate(-45deg);

					}
					.text{
						h3,h2,p {
							color: #333;
							text-shadow:0px 0px 0px;
						}
					}
				}
			}
			.content {
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100%;
				height: 100%;
				padding: 20px;
				.text {
						text-align: center;
						position: relative;
						top: 50%;
						transform: translateY(-50%);
						color: White;
						i {
							font-size: 40px;
							margin-bottom: 10px;
						}
						h2 {
							font-size: 14px;
							font-weight: 400;
							margin-bottom: 10px;
							text-shadow:1px 1px 5px Black;
						}
						h3 {
							font-size: 25px;
							font-weight: 900;
							text-shadow:1px 1px 5px Black;
						}

						p {
							margin: 20px auto 0px;
							letter-spacing: 0.01em;
							font-weight: 400;
							line-height: 1.3;
						}

				}
				img {
					position: absolute;
					left: 0px;
					top: 0px;
					width: 100%;
				}
			}
		}

	}
	.prostaff--blog--community {
		.col {
			position: relative;
			padding-bottom: 33.3333333333%;
			background-color: Red;
			@media (max-width: 1024px) {
						padding-bottom: 100%;
					}
			&:first-child {
				background-color: Green;
			}
			&:last-child{
				background-color: Blue;
			}
			.content {
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100%;
				height: 100%;
				padding: 20px;
				background-color: #333;
				.text {
						text-align: center;
						position: relative;
						top: 50%;
						transform: translateY(-50%);
						color: White;
						i {
							font-size: 40px;
							margin-bottom: 20px;
						}
						h2 {
							font-size: 20px;
							font-weight: 400;
							line-height: 2;
							text-shadow:1px 1px 5px Black;
						}
						h3 {
							font-size: 30px;
							font-weight: 900;
							text-shadow:1px 1px 5px Black;
						}

						p {
							margin: 20px auto;
							letter-spacing: 0.01em;
							font-weight: 400;
							line-height: 1.3;
						}

				}
				img {
					position: absolute;
					left: 0px;
					top: 0px;
					width: 100%;
				}
			}
		}
	}


	.video--garanzia {
		.col {
			position: relative;
			&:first-child {
				background-color: Black;
				.video {
					width: 0px;
					padding-bottom: 56.25%;
					height: 0px;
					img {
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0px;
						left: 0px;
						object-fit: contain;
					}
					iframe {
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0px;
						left: 0px;
					}
				}
			}
			&:last-child {
				height: 100%;
				padding-bottom: 37.5%;
				
			@media (max-width: 1024px) {
						padding-bottom: 100%;
					}
				video {
					position: absolute;
					  left: 50%; 
					  top: 50%;
					  transform: translateX(-50%) translateY(-50%);
					  min-width: 100%; 
					  min-height: 100%; 
					  width: auto; 
					  height: auto;
					  z-index: -1000; 
					  overflow: hidden;
				}
				.garanzia-box {
					position: absolute;
						width: 100%;
						height: 100%;
						top: 0px;
						left: 0px;
					padding: 20px;
					color: White;
					text-align: center;
					.content {
						text-align: center;
						position: relative;
						top: 50%;
						transform: translateY(-50%);
						i {
							font-size: 80px;
							margin-bottom: 20px;
						}
						h2 {
							font-size: 30px;
							font-weight: 300;
						}
						h3 {
							font-size: 50px;
							font-weight: 900;
						}

						p {
							margin: 20px auto;
							letter-spacing: 0.01em;
							font-weight: 400;
							line-height: 1.3;
						}

					}
				}
			}
		}
	}
	.catalogo--social {
		.col {
			position: relative;
			padding-bottom: 33.333333%;
			height: 0px;
			@media (max-width: 1024px) {
						padding-bottom: 100%;
					}
			.content {
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100%;
				height: 100%;
				padding: 20px;
				.text {
						text-align: center;
						position: relative;
						top: 50%;
						transform: translateY(-50%);
						i {
							font-size: 40px;
							margin-bottom: 20px;
						}
						h2 {
							font-size: 20px;
							font-weight: 400;
							line-height: 2;
							text-shadow:1px 1px 5px Black;
						}
						h3 {
							font-size: 40px;
							font-weight: 900;
							text-shadow:1px 1px 5px Black;
						}

						p {
							margin: 20px auto;
							letter-spacing: 0.01em;
							font-weight: 400;
							line-height: 1.3;
						}

				}
				img {
					position: absolute;
					left: 0px;
					top: 0px;
					width: 100%;
				}
			}
			&:first-child {
				background-color: #49639E;
				color:White;
			}
			&:last-child {
				background-color: Black;
				color: White;
			}
		}
	}
}