* {
	box-sizing: border-box;
}

#cookiebot {
	position: fixed;
	width: 100%;
	z-index: 9999;
	bottom: 0;
	left: 0;
	padding: 40px;
	background-color: Black;
	text-align: center;
	transform:translateY(100%);
	transition:all ease 1s;
	opacity: 0;
	&.open {
		transform:translateY(0);
		opacity: 1;
	}
	a {
		background-color: #1DAEEC;
		display: block;
		margin: 20px auto;
		width: 100px;
		text-align: center;
		height: 40px;
		color: White;
		line-height: 40px;
		text-decoration: none;
	}
	p {
		color: White;
	}
} 

.col {
	@media (max-width: 1024px) {
				width: 100%;
				float: none;
			}
}

body {
	background-color: #333;
	// font-family: 'Roboto Slab', serif;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}

h1,h2,h3 {
	font-family: 'Roboto Slab', serif;
}

#htrigger {
	display: block;
}
.container {
	width: 100%;
	max-width: 1600px;
	display: block;
	margin: auto;
}
table.garanzia {
	th {
		box-sizing: border-box;
		padding:20px;
		background-color: #ececec;
		@media screen and (max-width: 1024px) {
				display: block;
			}
	}
	td {
		box-sizing: border-box;
		padding:20px;
		@media screen and (max-width: 1024px) {
				display: block;
			}
	}
}

.btn {
	color: White;
	padding: 10px 15px;
	font-size: 0.9em;
	font-weight: 400;
	text-transform: uppercase;
	display: inline-block;
	text-decoration: none;
	margin: 20px 0px;
	border: 1px solid White;
	background: linear-gradient(transparent 50%, #1DAEEC 50%);
	background-position: center top;
	background-size: 100% 200%;
	transition:all 0.5s ease;

	&.disabled {
		opacity: 0.2;
		cursor: default;
	}
	
	&.red {
		background: none;
		background-color:Red;
		background-size: 100%;
		background-position: center center;
		border: 0px;
		color: White!important;

	}
	&.grey {
		background: none;
		background-color:#333;
		background-size: 100%;
		background-position: center center;
		border: 0px;
		color: White!important;

	}
	&.blue {
		background-color:#1DAEEC;
		background-size: 100%;
		background-position: center center;
		border: 0px;
		color: White!important;
	}
	&.white {
		color:#1DAEEC;
		background: none;
		background-color: White;
		background-size: 100%;
		background-position: center center;
		border: 0px;
	}
}