body.devise-sessions {
	#htrigger {
	text-align: center;
	background: White;
	padding: 50px 20px;
	h2 {
		font-size: 20px;
		font-weight: 700;
		line-height: 2;
	}
	input {
		margin:5px 0px;
		border:0px;
		background: #ececec;
		padding: 10px;
	}
	}
}