.last {
	background-color: White;
	position: relative;
	padding-bottom: 40px;
	img {
		width: 100%;
	}
	h2 {
		text-align: center;
		margin: 20px auto;
		font-size: 40px;
		font-weight: 900;
		span {
			font-weight: 100;
			display: block;
			font-size: 30px;
			text-transform: uppercase;
		}
	}

	p {
		max-width: 800px;
		display: block;
		margin: 0 auto 20px;
		font-size: 18px;
		line-height: 1.5;
		strong {
			font-weight: 900;
			text-transform: uppercase;
			display: block;
		}
	}
}
.perch {
	background-color: White;
	position: relative;
	.perch_nav {
		position: absolute;
		top: 0;
		left: 0;
		background-color: transparent;
		z-index: 10;
		width: 100%;
		.perch_nav_cont {
			display: block;
			margin: auto;
			padding: 20px;
			text-align: right;
			position: relative;
			.perch_logo {
				position: absolute;
				left: 20px;
				top: 0;
				width: 120px;
				@media (max-width: 1024px) {
					width: 80px;
				}
			}
			.perch_link {
				color: White;
				text-transform: uppercase;
				text-decoration: none;
				font-size: 12px;
				margin-left: 8px;
				background-color: #113310;
				padding: 4px 8px;
				border-radius: 5px;
			}
		}
	}
	.perch_hero {
		width: 100%;
		padding-bottom: 35%;
		overflow: hidden;
		position: relative;
		height: 0;
		@media (max-width: 1024px) {
				padding-bottom: 100%;
			}
		img {
			width: 100%;
			height: 100%;
			object-fit:cover;
			position: absolute;
			top: 0;
			left: 0;
		}
		h2 {
			position: absolute;
			z-index: 10;
			color: White;
			text-align: center;
			width: 100%;
			left: 0;
			font-size: 50px;
			font-weight: 900;
			top: 50%;
			transform:translateY(-50%);
		}
	}
	.perch_video {
		width: 100%;
		display: block;
		background-color: Black;
		&_cont {
			width: 100%;
			height: 70vh;
			overflow: hidden;
			position: relative;
			video {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}
	.perch_articles {
		position: relative;
		margin: 20px auto;
		max-width: 900px;
		display: flex;
		flex-wrap:wrap;
	}
	.perch_article {
		flex: 0 0 50%;
		padding: 20px;
		text-align: center;
		.perch_image {
			width: 100%;
			padding-bottom: 70%;
			height: 0;
			overflow: hidden;
			position: relative;
			margin-bottom: 20px;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit:cover;
			position: absolute;
			top: 0;
			left: 0;
		}
		h2 {
			margin-bottom: 20px;
			text-transform: uppercase;
			font-size: 14px;
			font-weight: bold;
		}
	}
	.perch_post {
		width: 100%;
		max-width: 900px;
		display: block;
		margin: auto;
		text-align: left;
		padding: 40px;
		h2 {
			font-size: 40px;
			text-align: center;
			margin-bottom: 20px;
		}
		p {
			line-height: 1.4;
			margin-bottom: 20px;
		}
		img {
			max-width: 100%!important;
			width: auto!important;
			height: auto!important;
			margin: 40px auto;
			display: block;
		}
		table {
			width: 100%;
		}
	}
}