#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.modal {
	display: none;
	box-sizing: border-box;
	padding:20px;
	background-color: White;
	h2 {
		text-transform: uppercase;
		font-weight: 900;
	}
	p {
		margin:10px 0px;
		a {
			color: Black;
			font-weight: 700;
		}
	}
	input {
		display: block;
		height: 40px;
		width: 100%;
		margin: 20px 0px 0px;
	}
	input#session_remember_me {
		display: inline-block;
		width: auto;
		height: 14px;
	}
	label {
			display: block;
			margin-bottom: 20px;
		}
}