// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#blog {
	background-color: White;
	.pagination {
		display: block;
		padding:20px;
		box-sizing: border-box;
		a {
			color: Black;
			text-decoration: none;
		}
	}
	&:after {
		content: '';
		position: relative;
		width: 100%;
		clear: both;
		display: block;
	}
	.row {
		&.header {
		display: block;
		background-color: #1DAEEC;
		&:after {
			content:'';
			position: relative;
			display: block;
			width: 100%;
			clear: both;
		}
		.col {
			padding: 50px;
			.links {
				a {
					text-transform: uppercase;
					margin-right: 10px;
					text-decoration: none;
					color: White;
					font-weight: 700;
					@media screen and (max-width: 1024px) {
						display: block;
						margin:20px 20px 20px 0px;
					}
					&.green {
						background-color: White;
						color: #333;
						padding:5px 10px;

					}
				}
			}
			h1 {
				color: White;
				font-size: 2.9em;
				text-transform: uppercase;
				font-weight: 100;
				margin-bottom: 20px;
				@media screen and (max-width: 1024px) {
					font-size: 1.5em;
			}
				strong {
					font-weight: 900;
				}
			}

			h2 {
				color: White;
				font-size: 1.5em;
				font-weight: 100;
				margin-bottom: 10px;
				@media screen and (max-width: 1024px) {
				font-size: 1em;
			}

			}
			p {
				color: White;
				font-weight: 100;
				line-height: 1.2;
			}
			input {
				display: block;
				border:0px;
				width: 100%;
				max-width: 500px;
				margin: 20px auto;
				text-align: center;
				padding: 15px;
				text-transform: uppercase;
			}
			
		}
	}
		.sidebar {
			padding: 20px;
			text-align: center;
			h2 {
					font-weight: 700;
					font-size: 1.5em;
					margin-bottom: 20px;
					text-transform: uppercase;
					span {
						font-weight: 400;
					}
				}
				p {
					line-height: 1.2;
				}

				a {
					text-decoration: none;
				}
			.search {
				margin: 0px auto 20px;
				input {
					width: 100%;
					background-color: #333;
					height: 50px;
					border: 0px;
					padding: 10px;
					color: White;
				}
			}
			.subscribe {
				margin: 0px auto 20px;
				text-align: center;
				background-color: #1DAEEC;
				color: White;
				padding:20px;
				
			}
			.follow {
				margin: 0px auto 20px;
				text-align: center;
				border-top: 1px dotted Black;
				border-bottom: 1px dotted Black;
				padding: 20px;
				a {
					font-size: 2em;
					color: #333;
				}

			}
			.category, .friends {
				margin: 0px auto 20px;
				a {
					display: block;
					text-transform: uppercase;
					padding: 10px 0px;
					text-align: left;
					border-bottom: 1px solid #ccc;
					color: Black;
					font-weight: 400;
					font-size: 1.2em;
					span {
						font-weight: 100;
						font-size: 0.8em;
						color: #ccc;
					}

				}
			}
			
			.random {
				margin: 0px auto 20px;
				padding-bottom: 20px;
				border-bottom: 1px solid Black;

				img {
					width: 100%;
				}
				a {
					line-height: 2;
					color: Black;

				}
			}
			

			.tags {
				a {
					background-color: #333;
					color: White;
					padding: 5px 10px;
					display: inline-block;
					margin:5px;
					font-size: 0.65em;
					text-transform: uppercase;

				}

			}
		}
		.content {
			padding:0px 20px;
			background-color: White;
			border-right: 1px solid #ccc;
			.socialbuttons {
				display: block;
				margin:20px auto;
			}
			h1 {
				span {
					display: block;
					margin:40px 0px;
					text-transform: uppercase;
					padding:20px;
				}
			}
			img {
				max-width: 100%!important;
				height: auto!important;
				margin:80px auto!important;
				display: block;

			}
			p {
					line-height: 1.4;
					margin: 20px auto;
					letter-spacing: 0.01em;
					strong {
						font-weight: 700;
					}
					a {
						color: Black;
					}
					em {
						font-style: italic;
					}
				}
			ul {
					list-style-type: disc;
					padding-left: 20px;
					li {
						margin: 5px 0px;
					}
				}

			.col {
				padding: 20px 10px 20px 10px;
				&:first-child {
					padding-left: 20px;
				}
				&:last-child {
					padding-right: 20px;
				}
			}
			.post {
				text-align: center;
				h3 {
					color: #ccc;
					text-transform: uppercase;
					margin: 10px auto;
					font-weight: 300;
				}
				h2 {
					color: Black;
					margin-left: 20px;
					font-size: 1.5em;
				}
				p {
					line-height: 1.2;
					margin: 20px auto;
				}


				a {
					margin-top: 10px;
				}
			}
		}
	}
	.hero {
		.cycle-slideshow {
		padding-bottom: 36%;
		position: relative;
		width: 100%;
		overflow: hidden;
		height: 0;
		@media (max-width: 1024px) {
				padding-bottom: 100%;
			}
		span.cycle-pager {
			position: absolute;
			bottom: 10px;
			width: 100%;
			text-align: center;
			z-index: 200;
			span {
				color: White;
				font-size: 80px;
				margin: 5px;
				opacity: 0.5;
				cursor: pointer;
				&.cycle-pager-active {
					opacity: 1;
				}
			}
		}
		}
		.slide {
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			img {
				width: 100%;
				position: absolute;
				top: 0px;
				left: 0px;
			}
			.caption {
			    animation: fromTop 1000ms ease;
				width: 50%;
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				padding-left: 50px;
				h3,h2 {
					color: White;
					text-shadow:1px 1px 5px Black;
					text-transform: uppercase;
				}
				h3 {
					text-transform: uppercase;
					font-size: 1.2em;
					letter-spacing: 0.1em;
					font-weight: 400;
					@media (max-width: 1024px) {
						font-size: 1em;
					}
				}
				span.line {
					width: 50px;
					display: block;
					background-color: White;
					height: 2px;
					margin: 20px 0px;
				}

				h2 {
					font-size: 3.5em;
					font-weight: 900;
					@media (max-width: 1024px) {
						font-size: 2em;
					}
					span {
						display: block;
						font-weight: 300;
					}
				}


			}
		}
	}
}