// Place all the styles related to the store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#prostaff {
	background-color: White;
	img {
		display: block;
		margin:auto;
		max-width: 100%;
	}
	.quote {
		p {
			font-size: 3em;
			text-align: center;
			font-weight: 100;
		}
	}
	.pagination {
		display: block;
		padding:20px;
		box-sizing: border-box;
		a {
			color: Black;
			text-decoration: none;
		}
	}
	.header {
		display: block;
		background-color: #1DAEEC;
		&:after {
			content:'';
			position: relative;
			display: block;
			width: 100%;
			clear: both;
		}
		
		.col {
			padding: 50px;
			h1 {
				color: White;
				font-size: 2.9em;
				text-transform: uppercase;
				font-weight: 100;
				margin-bottom: 20px;
				strong {
					font-weight: 900;
				}
			}

			h2 {
				color: White;
				font-size: 1.5em;
				font-weight: 100;
				margin-bottom: 10px;

			}
			p {
				color: White;
				font-weight: 100;
				line-height: 1.2;
			}
			.notice {
				box-sizing: border-box;
				padding: 10px;
				background-color: #333;
				color: White;
				margin:20px 0px;
				font-weight: 400;
				line-height: 1.2;
			}
			
			.alert {
				box-sizing: border-box;
				padding: 10px;
				background-color: #333;
				color: White;
				margin:20px 0px;
				font-weight: 400;
				line-height: 1.2;
			}
			
		}
	}
	.contents {
		border-bottom: 1px solid #ececec;
		&:after {
			content:'';
			position: relative;
			display: block;
			width: 100%;
			clear: both;
		}
		.col {
			padding: 20px;
			border-left: 1px solid #ececec;
			form {
				.error {
					box-sizing: border-box;
					padding: 20px;
					color: White;
					background-color: Red;  
					display: block;
					  margin: 20px 0px;
				}
				input {
					width: 100%;
					max-width: 500px;
					display: block;
					box-sizing: border-box;
					padding:10px;
					border: 1px solid #ececec;
					margin-bottom: 20px;
				}
				select {
					box-sizing: border-box;
					padding:10px;
					height: 30px;
					width: 100%;
					max-width: 500px;
					margin-bottom: 20px;
					border: 1px solid #ececec;
				}
				label {
					width: 100%;
					max-width: 500px;
					display: block;
					background-color: #333;
					color: White;

					box-sizing: border-box;
					padding:10px;
				}
				.privacy {
					width: 100%;
					max-width: 500px;
					height: 200px;
					overflow: scroll;
					padding: 20px;
					box-sizing: border-box;
					border:1px dashed #ccc;
				}
				.boolean {
						input {
							width: auto;
							margin-bottom: 0px;
							display: inline-block;
						}
						label {
							display: inline-block;
							background-color: transparent;
							color:#333;
						}
				}
				.radio {
					span {
						display: block;
						.radio {
							width: auto;
							margin-bottom: 0px;
							display: inline-block;
						}
						label {
							display: inline-block;
							background-color: transparent;
							color:#333;
						}
					}
				}
				.input.check_boxes.optional.special {
					span {
						display: block;
						.check_boxes {
							width: auto;
							margin-bottom: 0px;
							display: inline-block;
						}
						label {
							display: inline-block;
							background-color: transparent;
							color:#333;
						}
					}
				}
			}
			&.blue {
				form {
					margin:20px 0px;
				}
				input {
					width: 100%;
					display: block;
					height: 40px;
					margin-bottom: 5px;
					background-color: #ececec;
					border: 0px;
					&.btn {
						background-color: #333;
					}
				}
				label {
					background-color: transparent;
					color: Black;
				}
				input#fisher_remember_me {
					width: auto;
					display: inline-block;
					height: 14px;
				}
			}
			ul {
				li {
					display: block;
					margin:10px 0px;
					padding:10px 0px;
					border-top:1px dashed #ccc;
					text-align: center;
					font-size: 1.2em;
					font-weight: 100;
					&:first-child {
						border-top:0px;
					}
				}
			}
			&.noborder {
				border: 0px;
				padding: 5px;
			}
			.event_title {
				margin:20px auto;
				padding:20px 5px;
				text-transform: uppercase;
				display: block;
				text-align: center;
				text-decoration: none;
				color: Black;
				border-top: 1px dotted #333;
				border-bottom: 1px dotted #333;
				letter-spacing: 0.01em;
			}
			h2 {
				text-transform: uppercase;
				font-weight: 700;
				margin:5px 0px;
				font-size: 1.5em;
			}
			h3 {
				text-transform: uppercase;
				font-weight: 400;
				margin:20px 0px 0px;
				font-size: 1.2em;
			}
			p {
				line-height: 1.2;
					margin: 20px auto;
			}
			a.grey {
					color: #333;
					text-transform: uppercase;
			}
			.clear {
				margin-bottom: 20px;
				clear: both;
				a {
					text-decoration: none;
					color: Black;
					text-transform: uppercase;
					font-weight: 700;
					&.btn {
						color: White;
						font-weight: 400;
					}
				}
			}
			.votes {
				width: 60px;
				height: 60px;
				text-align: center;
				float: left;
				background-color: #1DAEEC;
				color: White;
				margin-right: 10px;

				div {
					position: relative;
					top: 50%;
					transform: translateY(-50%);
					font-size: 12px;
				}
			}
		}
	}
}