// Place all the styles related to the store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#questions {
	background-color: White;
	.pagination {
		display: block;
		padding:20px;
		box-sizing: border-box;
		a {
			color: Black;
			text-decoration: none;
		}
	}
	.header {
		display: block;
		background-color: #1DAEEC;
		&:after {
			content:'';
			position: relative;
			display: block;
			width: 100%;
			clear: both;
		}
		
		.col {
			padding: 50px;

			h1 {
				color: White;
				font-size: 2.9em;
				text-transform: uppercase;
				font-weight: 100;
				margin-bottom: 20px;
				@media screen and (max-width: 1024px) {
					font-size: 1.5em;
			}
				strong {
					font-weight: 900;
				}
			}

			h2 {
				color: White;
				font-size: 1.5em;
				font-weight: 100;
				margin-bottom: 10px;

			}
			p {
				color: White;
				font-weight: 100;
				line-height: 1.2;
			}
			
		}
	}
	.contents {
		border-bottom: 1px solid #ececec;

		&:after {
			content:'';
			position: relative;
			display: block;
			width: 100%;
			clear: both;
		}
		.col {
			padding: 20px;
			form {
				.error {
					box-sizing: border-box;
					padding: 20px;
					color: White;
					background-color: Red;  
					display: block;
					  margin: 20px 0px;
				}
				.question_username {
					display: none;
				}
				.answer_username {
					display: none;
				}
				textarea {
					width: 100%;
					max-width: 500px;
					display: block;
					box-sizing: border-box;
					padding:10px;
					border: 1px solid #ccc;
					margin-bottom: 20px;
				}
				input {
					width: 100%;
					max-width: 500px;
					display: block;
					box-sizing: border-box;
					padding:10px;
					border: 1px solid #ccc;
					margin-bottom: 20px;
				}
				select {
					box-sizing: border-box;
					padding:10px;
					height: 30px;
					width: 100%;
					max-width: 500px;
					margin-bottom: 20px;
					border: 1px solid #ccc;
				}
				label {
					width: 100%;
					max-width: 500px;
					display: block;
					background-color: #333;
					color: White;

					box-sizing: border-box;
					padding:10px;
				}
				.privacy {
					width: 100%;
					max-width: 500px;
					height: 200px;
					overflow: scroll;
					padding: 20px;
					box-sizing: border-box;
					border:1px dashed #ccc;
				}
				.boolean {
						input {
							width: auto;
							margin-bottom: 0px;
							display: inline-block;
						}
						label {
							display: inline-block;
							background-color: transparent;
							color:#333;
						}
				}
				.radio {
					span {
						display: block;
						.radio {
							width: auto;
							margin-bottom: 0px;
							display: inline-block;
						}
						label {
							display: inline-block;
							background-color: transparent;
							color:#333;
						}
					}
				}
				.input.check_boxes.optional.special {
					span {
						display: block;
						.check_boxes {
							width: auto;
							margin-bottom: 0px;
							display: inline-block;
						}
						label {
							display: inline-block;
							background-color: transparent;
							color:#333;
						}
					}
				}
			}
			&.exp {
				img {
					width: 100%;
				}
			}
			&.answerside {
				img {
					display: block;
					margin:auto;
					width: 100%;
					max-width: 100px;
				}
				.votes {
					display: block;
					margin:auto;
					float: none;
					width: 100px;
					height: 50px;
				}
				.special {
					display: block;
					width: 100px;
					height: 50px;
					margin:auto;
				}
			}
			.avatar {
			width: 100%;
			img {
				width: 100%;
			}
		}
			&.sidebar {
				input {
					width: 100%;
					background-color: #333;
					height: 50px;
					border: 0px;
					padding: 10px;
				}
				h2 {
					margin:20px 0px;
					text-transform: uppercase;
					font-weight: 700;
				}
				ul {
					li {
						margin:5px 0px;
					}
				}
			}
			&.noborder {
				border: 0px;
				padding: 5px;
			}
			a {
				color: Black;
				&.btn {
					color: White;
				}
			}
			.event_title {
				margin:20px auto;
				padding:20px 5px;
				text-transform: uppercase;
				display: block;
				text-align: center;
				text-decoration: none;
				color: Black;
				border-top: 1px dotted #333;
				border-bottom: 1px dotted #333;
				letter-spacing: 0.01em;
			}
			h2 {
				text-transform: uppercase;
				font-weight: 700;
				margin:5px 0px;
				font-size: 1.5em;
				&:after {
			content:'';
			position: relative;
			display: block;
			width: 100%;
			clear: both;
		}
			}
			h3 {
				text-transform: uppercase;
				font-weight: 400;
				margin:5px 0px;
				font-size: 1.2em;
			}
			p {
				line-height: 1.2;
					margin: 20px auto;
					clear: both;
					min-height: 1px;

			}
			.clear {
				margin-bottom: 20px;
				clear: both;
				a {
					text-decoration: none;
					color: Black;
					text-transform: uppercase;
					font-weight: 700;
					&.btn {
						color: White;
						font-weight: 400;
					}
				}
			}
			.votes {
				width: 60px;
				height: 60px;
				text-align: center;
				float: left;
				background-color: #1DAEEC;
				color: White;
				margin-right: 10px;

				div {
					position: relative;
					top: 50%;
					transform: translateY(-50%);
					font-size: 12px;
				}
			}
		}
	}
}