.reserve_block {
	padding:80px 40px;
	max-width: 1200px;
	display: block;
	margin: auto;
	&_header {
		display: flex;
		background-color: #333;
		flex-wrap:wrap;

	}
	&_store {
		h3 {
			font-size: 22px;
			margin-bottom: 20px;
		}
		p {
			line-height: 1.5;
		}
		&_detail {
			display: none;
			&.active {
				display: block;
			}
		}
	}
	&_action {
		flex: 1;
		opacity: 0.2;
		padding: 10px;
		border-left: 1px solid White;
		color: White;
		font-family: "Roboto Slab", serif;
		text-transform: uppercase;
		font-size: 14px;
		@media screen and (max-width: 1024px) {
			flex: 0 0 100%;
			border-left: 0px;
		}
		&:first-child {
			border-left: none;
		}
		&.active {
			opacity: 1;
			font-weight: light;
		}
	}
	&_body {
		width: 100%;
		padding-bottom: 40.25%;
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		position: relative;
		overflow: hidden;
		height: 0;
		@media screen and (max-width: 1024px) {
			height: auto;
			padding-bottom: 0;
		}
	}
	&_list {
		display: flex;
		flex-wrap:wrap;
	}
	&_cont {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 40px;
		display: none;
		@media screen and (max-width: 1024px) {
			position: relative;
		}
		label {
			flex:0 0 25%;
			text-align: center;
			@media screen and (max-width: 1024px) {
					flex: 0 0 100%;
			}
			img {
				width: 100%;
				display: block;
				margin-bottom: 32px;
			}
		}
		.reserve_block_map {
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			@media screen and (max-width: 1024px) {
					position: relative;
					height: 50vh;
			}
		}
		&.active {
			display: block;
		}
	}
}