// Place all the styles related to the store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#store {
	background-color: White;
	.pagination {
		display: block;
		padding:20px;
		box-sizing: border-box;
		a {
			color: Black;
			text-decoration: none;
		}
	}
	.header {
		display: block;
		background-color: #1DAEEC;
		&:after {
			content:'';
			position: relative;
			display: block;
			width: 100%;
			clear: both;
		}
		.filters {
			clear: both;
			margin-bottom: 20px;
			&:after {
			content:'';
			position: relative;
			display: block;
			width: 100%;
			clear: both;
		}
			h2 {
				clear: both;
			}
			select {
				display: inline;
				width: 150px;
				height: 30px;
				border: 0px;
				border-radius: 2px;
				float: left;
				margin-right: 5px;
				@media (max-width: 1024px) {
						margin-bottom: 20px;
					}

			}
			a {
							width: 40px;
							height: 40px;
							margin: 0px 2px 4px 0px;
							text-align: center;
							text-decoration: none;
							display: inline-block;
							&.swb {
								span {
									background-color: #000081;
								}
							}
							&.sc {
								span {
									background-color: #644ECF;
								}
							}
							&.sfw {
								span {
									background-color: #67330F;
								}
							}
							&.ssw {
								span {
									background-color: #A00000;
								}
							}
							&.pac {
								span {
									background-color: Purple;
								}
							}
							&.cf {
								span {
									background-color: Green;
								}
							}
							&.jp {
								span {
									background-color: #ececec;
									color: #BB3131
								}
							}
							&.tl {
								span {
									background-color: #E59700;
								}
							}
							&.green {
								span {
									background-image: url('/green.jpg');
									background-size: cover;
								}
							}

							span {
								border-radius: 10px;
								display: block;
								background-color: #333;
								line-height: 40px;
								color: White;
								text-transform: uppercase;
								font-weight: 300;
								font-size: 0.8em;
							}
				}
		}
		.col {
			padding: 50px;
			h1 {
				color: White;
				font-size: 2.9em;
				text-transform: uppercase;
				font-weight: 100;
				margin-bottom: 20px;
				strong {
					font-weight: 900;
				}
			}

			h2 {
				color: White;
				font-size: 1.5em;
				font-weight: 100;
				margin-bottom: 10px;

			}
			p {
				color: White;
				font-weight: 100;
				line-height: 1.2;
			}
			input {
				display: block;
				border:0px;
				width: 100%;
				max-width: 500px;
				margin: 20px auto;
				text-align: center;
				padding: 15px;
				text-transform: uppercase;
			}
			
		}
	}
	.stores {
		border-bottom: 1px solid #ececec;
		&:after {
			content:'';
			position: relative;
			display: block;
			width: 100%;
			clear: both;
		}
		.col {
			height: 0px;
			padding-bottom: 25%;
			position: relative;
			border-left: 1px solid #ececec;
			@media (max-width: 1024px) {
						padding-bottom: 100%;
					}
			.store {
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100%;
				height: 100%;
				padding: 20px;
				h2 {
					font-size: 1.4em;
					margin-bottom: 20px;
					text-transform: uppercase;

				}
				p {
					line-height: 1.5;
					text-transform: uppercase;
					font-weight: 400;
				}
				a {
					color: Black;
				}
				.storelink {
					position: absolute;
					right: 20px;
					bottom: 0px;
				}
				.specialist {
					margin-top: 20px;
					display: block;
					text-align: left;
						a {
							width: 40px;
							height: 40px;
							margin: 0px 2px 4px 0px;
							text-align: center;
							text-decoration: none;
							display: inline-block;
							&.swb {
								span {
									background-color: #000081;
								}
							}
							&.sc {
								span {
									background-color: #644ECF;
								}
							}
							&.sfw {
								span {
									background-color: #67330F;
								}
							}
							&.ssw {
								span {
									background-color: #A00000;
								}
							}
							&.pac {
								span {
									background-color: Purple;
								}
							}
							&.cf {
								span {
									background-color: Green;
								}
							}
							&.green {
								span {
									background-image: url('/green.jpg');
									background-size: cover;
									height: 40px;
									margin-top: 20px;
								}
							}
							&.tl {
								span {
									background-color: Green;
								}
							}
							&.jp {
								span {
									background-color: #ececec;
									color: #BB3131
								}
							}

							&.tl {
								span {
									background-color: #E59700;
								}
							}

							span {
								border-radius: 10px;
								display: block;
								background-color: #333;
								line-height: 40px;
								color: White;
								text-transform: uppercase;
								font-weight: 300;
								font-size: 0.8em;
							}

						}
				}
			}
		}
	}
}