<%= render :partial => 'fishing_club/shared/fisher_fields', :locals => { :f => f}%>
<%= render :partial => 'fishing_club/shared/fisher_profile_fields', :locals => { :f => f}%>
<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "Salva") %> <%= "Salva" %>
  </button>
  <span class="text_button_padding">o</span>
	<%= link_to "Annulla", admin_fishers_path, :class => "text_button_padding link_button" %>
</div>
