<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "Lista", admin_fishers_path  %></li>
      <li class="active"><%= link_to "Modifica", edit_admin_fisher_path(@fisher) %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title">Modifica Utente</h2>
    <div class="inner">
      <%= simple_form_for [:admin, @fisher] do |f| -%>
        <%= render :partial => "form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>

