<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to 'Lista', admin_fishers_path  %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title">Lista Utenti</h2>
    <%= search_form_for @q, :url => admin_fishers_path do |f| %>
      <%= f.label :name_or_surname_or_email_cont %>
      <%= f.text_field :name_or_surname_or_email_cont %>
      <%= f.submit %>
    <% end %>
    <% unless @fishers.empty? %>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first">ID</th>
          <th>Nome e Cognome</th>
          <th>Email</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @fishers.each do |fisher| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td><%= fisher.id %></td>
          <td><%= link_to fisher.complete_name, edit_admin_fisher_path(fisher) %></td>
          <td><%= fisher.email %></td>
          <td class="last">
            <%= link_to "Prodotti registrati", admin_fisher_product_registrations_path(fisher) %> |
            <%= link_to "Visualizza", admin_fisher_path(fisher) %> |
            <%= link_to "Modifica", edit_admin_fisher_path(fisher) %> |
            <%= link_to "Elimina", admin_fisher_path(fisher), :method => :delete, :confirm => "Sei sicuro?" %>
          </td>
        </tr>
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        <%= will_paginate @fishers %>
      </div>
    </div>
    <% else %>
    <p>Nessun utente da visualizzare</p>
    <% end %>
  </div>
</div>