<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "Lista", admin_fishers_path  %></li>
      <li class="active"><%= link_to "Visualizza", admin_fisher_path(@fisher) %></li>
    </ul>
  </div>
  <div class="content">
    <div class="inner">
      <p><b>Nome:</b><%= @fisher.name %></p>
      <p><b>Cognome:</b><%= @fisher.surname %></p>
      <p><b>Anno di nascita:</b><%= @fisher.year_of_birth %></p>
      <p><b>Regione:</b><%= @fisher.region %></p>
      <p><b>Email:</b><%= @fisher.email %></p>
      <p><b>Professione:</b><%= @fisher.job %></p>
      <p><b>Agonista?:</b><%= @fisher.agonist ? 'Si' : 'No' %></p>
      <p><b>Tecniche acque interne:</b><%= @fisher.inner_waters_techniques.select{|t| t.present? }.join(", ") %></p>
      <p><b>Tecniche mare:</b><%= @fisher.sea_techniques.select{|t| t.present?}.join(", ") %></p>
      <div class="wat-cf">
        <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "Modifica") + " Modifica", edit_admin_fisher_path(@fisher), :class => "button" %>
        <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "Elimina") + " Elimina", admin_fisher_path(@fisher), :method => "delete", :class => "button", :confirm => "Sei sicuro?" %>
      </div>
    </div>
  </div>
</div>