<div id="garanzia" class="container">
  
  <div class="row header">
    <div class="col span_12">
     <% if flash[:notice] %>
    <p class="flash-notice"><%= flash[:notice] %></p>
  <% end %>
    </div>
      
  </div>

  <div class="row contents">
  <div class="col span_12">

<%= form_for [:admin, @data_manipulation] , :html => {:multipart => true} do |f| %>
  <%= f.select :model_name, DataManipulation::ALLOWED_MODELS%>
  <%= f.file_field :file %>
  <%= f.submit %>
<% end %>
</div></div></div>