<div id="community" class="container">
  <div class="row header">
    <div class="col span_12"><h1><strong>Shimano</strong> community</h1><p>Benvenuto nella Community di Shimano, pensata per tutti i pescatori appassionati  che come te, vivono la pesca come un'esperienza da condividere. Qui potrai trovare lo spazio per fare le tue domande, cercare risposte, condividere le tue catture, e conoscere tutti gli eventi che verranno organizzati sul territorio.</p>
<p>Cosa aspetti? Migliaia di utenti già registrati aspettano anche te!</p></div>
  </div>


<div class="row widgets">
  <div class="col span_6">
    <% @questions.each do |quest| %>
    <h2><%= quest.name %></h2>
    <%= simple_format(quest.description) %>
    <% quest.questions.limit(2).each_with_index do |question,i| %>
  <div class="row clear">
    <div class="votes">
      <div class="mini-counts"><%= question.answers.published.count %><br>Risposte</div>
    </div>
    <h4>
      <%= link_to question.title, question_path(:category_url => question.question_subcategory.question_category.url, :subcategory_url => question.question_subcategory.url , :id => question) %>
    </h4>
    <p class="questionlist"><span class="posted">Postata il <%=l question.created_at, :format => :short %> da <%= question.fisher_privacy_name %></span></p>
    <% if i == 1 %>
    <%= link_to 'Visualizza tutte le domande', questions_path(:category_url => question.question_subcategory.question_category.url), :class => 'btn grey' %> 
    <% end %>
  </div>
<% end %>

<% end %>
    
  </div>
   <div class="col span_6">
     <h2 >Eventi Shimano</h2>
     <p>Resta aggiornato sugli eventi che Shimano organizza in tutta Italia per conoscerti di persona e per permetterti di toccare con mano i nostri prodotti. Avrai la possibilità di vedere in anteprima i nuovi prodotti, scoprire tutto sulle tecnologie con cui Shimano crea e molto altro</p>
     <div class="row event_preview">
       <div class="col span_6 noborder">
           <a href="<%= event_path(:title => @last_event.title.parameterize, :id => @last_event.id) %>">
        <img src="<%= @last_event.image.url(:big) %>" alt="" style="width:100%;"></a>
       </div>
       <div class="col span_6 noborder">
          <h3>Prossimo evento di pesca Shimano</h3>
           <a href="<%= event_path(:title => @last_event.title.parameterize, :id => @last_event.id) %>" class="event_title">
          <%=  @last_event.title %></a>
          <p><%= truncate(@last_event.description, length: 120, separator: ' ') %>...</p>
     <a href="<%= events_path %>" class="btn grey">Tutti gli eventi</a>
       </div>
     </div>

     <div class="row photo_preview">
       <div class="col span_6 noborder">
            <h3 >Le vostre Foto</h3>
     <p>Diventa protagonista della nostra community caricando le foto delle tue catture con attrezzatura Shimano, Loomis e Rapala.Mettiti in gioco con migliaia di altri pescatori e partecipa ai contest e ai concorsi che regolarmente organizzeremo su questa pagina.</p>
      <a href="<%= gallery_path(@last_gallery) %>" class="btn grey">
        Vedi le ultime foto
    </a>
       </div>
       <div class="col span_6 noborder">
       
     <a href="<%= gallery_path(@last_gallery) %>" id="commlink">
      <img src="<%= @last_gallery.cover.first.image.url(:big) %>" alt="" style="width:100%;">
    </a>
       </div>
     </div>
   
    
    
   
  </div>
 
</div>



</div>







