<%= semantic_form_for [:administration, @dealer_attachment] do |f| %>
  <%= f.inputs do %>
    <%= f.input :title %>
    <%= f.input :file %>
  <% end %>
    <%= f.action :submit %>
<% end %>

<p>cia</p>
<div class="inputs">
<%= s3_uploader_form  id: "s3-uploader", key: "uploads/{unique_id}/${filename}", acl: 'public-read' do %>
  <%= file_field_tag :file, multiple: false %>
<% end %>
<script id="template-upload" type="text/x-tmpl">
<div id="file-{%=o.unique_id%}" class="upload">
  {%=o.name%}
  <div class="progress"><div class="bar" style="width: 0%"></div></div>
</div>
</script>
</div>