
<div id="garanzia" class="container">
 <div class="row header">
	<div class="col span_12">
	<h1>DEALER AREA <srong>SHIMANO</srong></h1>
	<p>Bentornato <%= current_dealer %></p>
	<p>Collegati a <a href="https://asdp.shimanofishnetwork.com" target="_blank">Chatbot – After Sales Digital Platform</a></p>
	<br>
	<p>	<%= fa_icon "user" %>&nbsp;&nbsp;<%= link_to("Esci", destroy_dealer_session_path) %></p>
	</div>
</div>
<div id="home" class="container">
	
<div class="dealer_attachment">
	
	<table>
		<tr>
			<td>Titolo</td>
			<td>Data</td>
			<td>Download</td>
		</tr>
		<% @downloads.each do |f| %>
		<tr>
			<td><%= f.title %></td>
			<td><%= l f.created_at, format: :short %></td>
			<td><a href="<%= f.file %>" target="_blank" class="btn blue">Download</a></td>
		</tr>
		<% end %>
	</table>

</div>

</div>