<% @page_title = "Domande, consigli e trucchi" %>

<%= render :partial => 'shared/user_navigation' %>
<div id="questions" class="container">
      <div class="row header">
    <div class="col span_12">

<h1>COMMUNITY</h1>
      
<p>Lo spazio che Shimano ha dedicato a te. In questa pagina potrai interagire con i tantissimi utenti registrati a Shimano Fish Network, condividendo le tue esperienze, chiarendo i tuoi dubbi e dimostrando
di essere un vero fan e conoscitore dei prodotti Shimano, G.Loomis e Rapala. Inserisci la tua domanda
oppure rispondi alle domande che sono già state fatte dagli altri utenti. Potrai anche votare la risposta
migliore e condividere le discussioni più interessanti su tutti i social network.</p>
    </div>
  </div>
<% @question_categories.each do |category| %>
  <div class="row contents">
  	<div class="col span_12">
    <h2><%= category.name %></h2>
    <p><%=simple_format category.description %></p>
    <p><%= link_to 'Leggi le domande', questions_path(:category_url => category.url), :class => 'btn grey' %>&nbsp;
    <%= link_to 'Fai la tua domanda', new_expert_path(:category_url => category.url), :class => 'btn blue' %></p>
</div>
<!-- div class="span4">
      <div class="votes">
            <div class="mini-counts"><%= category.questions_count %></div>
            <div>Domande</div>
        </div>
</div -->
  </div>
<% end %>


</div>
