<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to 'Lista', admin_question_category_question_subcategories_path(@question_category)  %></li>
      <li class="last"><%= link_to 'Nuova', new_admin_question_category_question_subcategory_path(@question_category) %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title">Lista Sottocategorie Domande</h2>
    <%= search_form_for @q, :url => admin_question_category_question_subcategories_path(@question_category) do |f| %>
      <%= f.label :name_cont %>
      <%= f.text_field :name_cont %>
      <%= f.submit %>
    <% end %>
    <% unless @question_subcategories.empty? %>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first">ID</th>
          <th>Nome</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @question_subcategories.each do |subcategory| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td><%= subcategory.id %></td>
          <td><%= link_to subcategory.name, edit_admin_question_category_question_subcategory_path(@question_category, subcategory) %></td>
          <td class="last">
            <%= link_to 'Domande', admin_question_category_question_subcategory_questions_path(@question_category, subcategory) %> |
            <%= link_to "Modifica", edit_admin_question_category_question_subcategory_path(@question_category, subcategory) %> |
            <%= link_to "Elimina", admin_question_category_question_subcategory_path(@question_category, subcategory), :method => :delete, :confirm => "Sei sicuro?" %>
          </td>
        </tr>
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        <%= will_paginate @question_subcategories %>
      </div>
    </div>
    <% else %>
    <p>Nessuna sottocategoria da visualizzare</p>
    <% end %>
  </div>
</div>

