<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <script type="text/javascript">
      var _iub = _iub || [];
      _iub.csConfiguration = {"askConsentAtCookiePolicyUpdate":true,"floatingPreferencesButtonDisplay":"bottom-right","perPurposeConsent":true,"siteId":3139759,"whitelabel":false,"cookiePolicyId":25233889,"lang":"it", "banner":{ "acceptButtonDisplay":true,"closeButtonRejects":true,"customizeButtonDisplay":true,"explicitWithdrawal":true,"listPurposes":true,"position":"bottom" }};
    </script>
    <script type="text/javascript" src="//cs.iubenda.com/sync/3139759.js"></script>
    <script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
    <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.2.1.js"></script>
    <% if params[:controller] == 'dealer' && current_dealer.chatbot %>
    <% end %>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= "#{@page_title} | " if @page_title.present? %>Shimano Fish Network</title>
    <% if @meta_description.present? %>
      <meta name="description" content="<%= @meta_description %>" />
    <% end %>
    <% if @meta_keywords.present? %>
      <meta name="keywords" content="<%= @meta_description %>" />
    <% end %>
    <meta property="og:image" content="<%= @meta_image %>" />
    <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      var switchTo5x=true;
    </script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js" async></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBBOSxDSg-3qle4wJVBR-j14U7A5lI29Gs"></script>
    <!-- HTML5 shim for IE backwards compatibility -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body class="<%= params[:controller].parameterize %>">
    <!-- INIZIO HEADER -->
    <%= render :partial => 'shared/navigation' %>
    <span id="htrigger">
      <%= yield %>
    </span>
    <%= render :partial => 'shared/footer' %>
  </body>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-29336875-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <%= yield(:javascripts) %>
  <%= yield(:stylesheets) %>
</html>
