<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Shimano Fish Network</title>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Dettaglio Registrazione Garanzia</h1>
  <%= yield %>
  <a href="javascript:window.print()">Stampa</a>
</body>
</html>